<ng-form name="editProcedureLocationForm" sc-validate="{}" sc-form-readonly>
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong class="heading" l10n-text="procedures_editProcedureLocation_title"></strong>

      <div class="pull-right">
        <sc-button name="saveBtn" btn-click="save()" text="procedures_editProcedureLocation_save" class="btn btn-primary btn-xs" icon="glyphicon-edit">
        </sc-button>
        <sc-button name="delBtn" btn-click="deleteLocation()" text="procedures_editProcedureLocation_delete" class="btn btn-danger btn-xs">
        </sc-button>
        <sc-button name="cancelBtn" btn-click="cancel()" text="procedures_editProcedureLocation_cancel" class="btn btn-default btn-xs" icon="glyphicon-ban-circle">
        </sc-button>
      </div>
    </div>

    <div class="well-sm panel-body">
      <eumis-procedure-location name="procedureLocationForm" ng-model="location"></eumis-procedure-location>
    </div>
  </div>
</ng-form>
