<ng-form name="newProcedureShareForm" sc-validate="{}" sc-form-readonly>
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong class="heading" l10n-text="procedures_procedureShare_new_title"></strong>

      <div class="pull-right">
        <sc-button name="saveBtn" btn-click="save()" text="procedures_procedureShare_new_save" class="btn btn-primary btn-xs" icon="glyphicon-floppy-disk">
        </sc-button>
        <sc-button name="cancelBtn" btn-click="cancel()" text="procedures_procedureShare_new_cancel" class="btn btn-default btn-xs" icon="glyphicon-ban-circle">
        </sc-button>
      </div>
    </div>

    <div class="well-sm panel-body">
        <eumis-procedure-share-data  name="procedureShareForm" ng-model="newProcedureShare" sc-form-params="{ isNew: true }"></eumis-procedure-share-data>
    </div>
  </div>
</ng-form>
