<ng-form name="editEvalTableForm" sc-validate="{}" sc-form-readonly="!editMode">
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong class="heading" l10n-text="procedures_editEvalTable_title"></strong>

      <div class="pull-right">
        <sc-button name="activateBtn" btn-click="activate()" text="procedures_editEvalTable_activate" class="btn btn-success btn-xs" ng-show="evalTable.isActivated && !evalTable.isActive && !isProcedureReadonly"
          ng-disabled="!$canDo('ProcedureActions.Edit', evalTable.procedureId)"></sc-button>

        <sc-button name="deactivateBtn" btn-click="deactivate()" text="procedures_editEvalTable_deactivate" class="btn btn-danger btn-xs" ng-show="evalTable.isActivated && evalTable.isActive && !isProcedureReadonly"
          ng-disabled="!$canDo('ProcedureActions.Edit', evalTable.procedureId)"></sc-button>

        <sc-button name="editBtn" btn-click="edit()" text="procedures_editEvalTable_edit" class="btn btn-primary btn-xs" icon="glyphicon-edit" ng-show="!evalTable.isActivated && !editMode && !isProcedureReadonly"
          ng-disabled="!$canDo('ProcedureActions.Edit', evalTable.procedureId)"></sc-button>

        <sc-button name="deleteBtn" btn-click="del()" text="procedures_editEvalTable_delete" class="btn btn-danger btn-xs" icon="glyphicon-remove" ng-show="!evalTable.isActivated && !editMode && !isProcedureReadonly"
          ng-disabled="!$canDo('ProcedureActions.Edit', evalTable.procedureId)"></sc-button>

        <sc-button name="saveBtn" btn-click="save()" text="procedures_editEvalTable_save" class="btn btn-primary btn-xs" icon="glyphicon-floppy-disk" ng-show="editMode">
        </sc-button>
        <sc-button name="cancelBtn" btn-click="cancel()" text="procedures_editEvalTable_cancel" class="btn btn-default btn-xs" icon="glyphicon-ban-circle" ng-show="editMode">
        </sc-button>
      </div>
    </div>

    <div class="well-sm panel-body" ng-class="{'deactivated-panel-body' : !evalTable.isActive}">
      <eumis-procedure-eval-table name="evalTableForm" ng-model="evalTable" sc-form-params="{ isNew: false }"></eumis-procedure-eval-table>

      <div class="row" ng-show="!editMode || !evalTable.isActivated">
        <eumis-structured-document text="procedures_procedureEvalTableForm_template" document="procedureEvalTable" gid="evalTable.xmlGid"
           readonly="!editMode || evalTable.isActivated || !$canDo('ProcedureActions.Edit', evalTable.procedureId)"
           class="col-sm-4 col-md-3" doc-updated="evalTableUpdated">
        </eumis-structured-document>
      </div>
    </div>
  </div>
</ng-form>
