<ng-form name="newProcedureAppGuidelinesForm" sc-validate="{}" sc-form-readonly>
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong class="heading" l10n-text="procedures_newProcedureAppGuideline_title"></strong>

      <div class="pull-right">
        <sc-button name="saveBtn" btn-click="save()" text="procedures_newProcedureAppGuideline_save" class="btn btn-primary btn-xs" icon="glyphicon-edit">
        </sc-button>
        <sc-button name="cancelBtn" btn-click="cancel()" text="procedures_newProcedureAppGuideline_cancel" class="btn btn-default btn-xs" icon="glyphicon-ban-circle">
        </sc-button>
      </div>
    </div>

    <div class="well-sm panel-body">
      <div class="row">
        <sc-field type="text" ng-model="appGuideline.name" l10n-text="procedures_newProcedureAppGuideline_name" ng-required="true" class="col-sm-4 col-md-3"></sc-field>
        <sc-field type="file" ng-model="appGuideline.file" l10n-text="procedures_newProcedureAppGuideline_file" ng-required="true" class="col-sm-4 col-md-3"
          url-template="ProcedureFile" url-params="{ id: procedureId }"></sc-field>
      </div>
      <div class="row">
        <sc-field type="textarea" rows="3" ng-model="appGuideline.description" l10n-text="procedures_newProcedureAppGuideline_description" class="col-sm-8 col-md-6"></sc-field>
      </div>
    </div>
  </div>
</ng-form>
