<ng-form name="attachForm" sc-validate="{}" sc-form-readonly>
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong class="heading" l10n-text="procedures_attachProcedureIndicator_title"></strong>

      <div class="pull-right">
        <sc-button name="saveBtn" btn-click="save()" text="procedures_attachProcedureIndicator_save" class="btn btn-primary btn-xs" icon="glyphicon-floppy-disk">
        </sc-button>
        <sc-button name="cancelBtn" btn-click="cancel()" text="procedures_attachProcedureIndicator_cancel" class="btn btn-default btn-xs" icon="glyphicon-ban-circle">
        </sc-button>
      </div>
    </div>

    <div class="well-sm panel-body">
      <div class="row">
        <sc-field type="nomenclature" alias="'indicators'" params="{ procedureId: procedureIndicator.procedureId }" mode="id" ng-model="indicatorId"
          nom-obj="procedureIndicator.indicator" ng-required="true" l10n-text="procedures_attachProcedureIndicator_name" class="col-sm-6 col-md-6"></sc-field>
      </div>

      <eumis-indicator-data name="indicatorForm" ng-model="procedureIndicator.indicator" readonly="true" sc-form-params="{ procedureId: procedureIndicator.procedureId  }"></eumis-indicator-data>

      <eumis-procedure-indicator name="procedureIndicatorForm" ng-model="procedureIndicator"></eumis-procedure-indicator>
    </div>
  </div>
</ng-form>
