<div class="tab-content">
  <ng-form name="newIndicatorTypeForm" sc-validate="{}" sc-form-readonly="false">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong class="heading" l10n-text="indicatorTypes_newForm_title"></strong>
        <div class="pull-right">
          <sc-button name="saveBtn" btn-click="save()" text="indicatorTypes_newForm_save" class="btn btn-primary btn-xs" icon="glyphicon-floppy-disk">
          </sc-button>
          <sc-button name="cancelBtn" btn-click="cancel()" text="indicatorTypes_newForm_cancel" class="btn btn-default btn-xs" icon="glyphicon-ban-circle">
          </sc-button>
        </div>
      </div>
      <div class="well-sm panel-body">
        <eumis-indicator-type name="indicatorTypeForm" ng-model="indicatorType"></eumis-indicator-type>
      </div>
    </div>
  </ng-form>
</div>
