<div class="panel panel-default">
  <div class="panel-body">
    <sc-button name="newBtn" btn-sref="{ state: 'root.map.indicatorTypes.new' }" text="indicatorTypes_searchForm_new" class="btn btn-sm btn-primary pull-left" icon="glyphicon-floppy-disk"
      ng-disabled="!$canDo('IndicatorListActions.Create')" style="margin-bottom: 3px;"></sc-button>
    <sc-datatable items="indicatorTypes" filterable="true" pageable="true" sortable="true" dynamic-columns="true">
      <sc-column sortable="false" class="buttons-cell" has-content="true">
        <sc-button name="editBtn" btn-sref="{ state: 'root.map.indicatorTypes.edit', params: {id: item.indicatorItemTypeId} }" class="btn btn-xs btn-primary" icon="glyphicon-pencil"
          ng-disabled="!$canDo('IndicatorListActions.Create')"></sc-button>
      </sc-column>
      <sc-column data="name" title="indicatorTypes_searchForm_name">
      </sc-column>
      <sc-column data="nameAlt" title="indicatorTypes_searchForm_nameAlt">
      </sc-column>
    </sc-datatable>
  </div>
</div>
