<ng-form name="editPaidAmountData" sc-validate="{}" sc-form-readonly="!editMode">
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <strong class="heading" class="heading" l10n-text="actuallyPaidAmounts_editPaidAmount_title"></strong>
      <div class="pull-right">
        <sc-button name="editBtn" btn-click="edit()" text="actuallyPaidAmounts_editPaidAmount_edit" class="btn btn-primary btn-xs" icon="glyphicon-edit" ng-show="!editMode"
          ng-if="status === 'draft'" ng-disabled="!$canDo('ActuallyPaidAmountActions.Edit', paidAmount.paidAmountId)">
        </sc-button>
        <sc-button name="saveBtn" btn-click="save()" text="actuallyPaidAmounts_editPaidAmount_save" class="btn btn-primary btn-xs" icon="glyphicon-floppy-disk" ng-show="editMode">
        </sc-button>
        <sc-button name="cancelBtn" btn-click="cancel()" text="actuallyPaidAmounts_editPaidAmount_cancel" class="btn btn-default btn-xs" icon="glyphicon-ban-circle" ng-show="editMode">
        </sc-button>
      </div>
    </div>

    <div class="panel-body">
      <eumis-actually-paid-amount-data name="paidAmountDataForm" ng-model="paidAmount"></eumis-actually-paid-amount-data>
    </div>
  </div>
</ng-form>
