<div class="page-headings">
    <h1>@Texts.Global_OperationalProgram: <strong>@ViewData["groupTitle"]</strong></h1>
    <h2>@Texts.Global_PlanningRegion: <strong>@GetPR.TransName</strong></h2>
</div>
