@model System.Web.Mvc.HandleErrorInfo

 <!-- WARNING PAGE -->
<div class="container warnings">
    <img class="icon" src="/Content/img/icons/error.gif" alt="" />
    <!-- OTHER ICONS AVAILABLE - WARNING AND SUCCESS: -->
    <!-- <img class="icon" src="img/icons/success.gif" alt="" /> -->
    <!-- <img class="icon" src="img/icons/warning.gif" alt="" />-->
    <p><strong>@Texts.Shared_Error_Message</strong></p>
    @*<p>Системата не може да зареди електронен подпис.</p>
    <p>За да достъпите подадените от Вас заявления и/или образуваните във връзка с тях преписки, е необходимо да се идентифицирате с квалифициран електронен подпис, съдържащ ЕГН.</p>
    <p>Заредете електронен подпис, отговарящ на изискванията и рестартирайте браузъра!</p>
    <p>За повече информация виж „Помощ, въпроси и отговори” (код за грешка: 101)</p>*@
</div>

