<div class="tab-content">
  <ng-form name="projectRegistrationsNewStep1bForm" sc-validate="{}" sc-form-readonly>
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong class="heading" l10n-text="projects_projectRegistationNewStep1b_title"></strong>

        <div class="pull-right">
          <sc-button name="saveBtn" btn-click="next()" text="projects_projectRegistationNewStep1b_next" class="btn btn-primary btn-xs" icon="glyphicon-floppy-disk">
          </sc-button>
          <sc-button name="cancelBtn" btn-click="cancel()" text="projects_projectRegistationNewStep1b_cancel" class="btn btn-default btn-xs" icon="glyphicon-ban-circle">
          </sc-button>
        </div>
      </div>

      <div class="well-sm panel-body">
        <div class="row">
          <sc-field type="text" ng-model="model.code" ng-required="true" ng-minlength="7" l10n-text="projects_projectRegistationNewStep1b_code" class="col-sm-6 col-md-5"
            sc-validate-async="{ exists: isCodeExisting }"
            validations="{minlength: 'projects_projectRegistationNewStep1b_codeTooShort', exists: 'projects_projectRegistationNewStep1b_codeNotExists'}"
          >
          </sc-field>
        </div>
      </div>
    </div>
  </ng-form>
</div>
