<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Eumis.Authentication:Key" value="%EUMIS_PRIVATEAPP_DP_KEY%"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Eumis.Authentication:Preamble" value="%EUMIS_PRIVATEAPP_DP_PREAMBLE%"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="logfile" xsi:type="File" fileName="C:/inetpub/logs/eumis-monitorstat/${shortdate}.log" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </targets>
    <rules>
      <logger name="*" minlevel="Error" writeTo="logfile" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </rules>
  </nlog>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <system.serviceModel>
    <client>
      <endpoint address="https://wsmonitorstat.nsi.bg/MonitorstatService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IMonitorstatService" contract="MonitorstatService.IMonitorstatService" name="WSHttpBinding_IMonitorstatService"
                xdt:Transform="SetAttributes" xdt:Locator="Match(binding)"/>
    </client>
  </system.serviceModel>
</configuration>