<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <appSettings>
    <add key="owin:appStartup" value="Eumis.Integration.Monitorstat.Startup, Eumis.Integration.Monitorstat" />
    <add key="Eumis.Authentication:InstallationName" value="Eumis" />
    <add key="Eumis.Authentication:Key" value="SomeKey" />
    <add key="Eumis.Authentication:Preamble" value="SomePreamble" />
    
    <add key="Eumis.Common:EnableRequestResponseLogging" value="true" />
    
    <add key="Eumis.IntegrationMonitorstat.Host:MonitorstatUser" value="%EUMIS_INTEGRATIONMONITORSTAT_USER%" />
    <add key="Eumis.IntegrationMonitorstat.Host:MonitorstatPassword" value="%EUMIS_INTEGRATIONMONITORSTAT_PASSWORD%" />
    <add key="Eumis.IntegrationMonitorstat.Host:ValidateServerCertificate" value="false" />
    <add key="Eumis.IntegrationMonitorstat.Host:Clients" value="internal,asdf;" />
    <add key="Eumis.IntegrationMonitorstat.Host:OAuthTokenExpirationMinutes" value="60" />
    <add key="Eumis.IntegrationMonitorstat.Host:OAuthAllowInsecureHttp" value="true" />
    <add key="Eumis.IntegrationMonitorstat.Host:EnableOAuthAuthorizationServer" value="false" />

    <add key="Eumis.IntegrationMonitorstat.Host:ProgrammeGroupGuid" value="9cc33259-17f0-4a25-ac2c-adccd0ebe935" />
    <add key="Eumis.IntegrationMonitorstat.Host:ProgrammeGroupName" value="Програмен период 2014-2020" />
    <add key="Eumis.IntegrationMonitorstat.Host:ProgrammeStatusGuid" value="6eb42bcb-c696-41aa-b489-e06b73bae49c" />
    <add key="Eumis.IntegrationMonitorstat.Host:ProgrammeStatusName" value="Публичен" />

    <add key="Eumis.IntegrationMonitorstat.Host:EIK" value="fa64f536-ef52-471f-8eb0-46ba174300db" />
    <add key="Eumis.IntegrationMonitorstat.Host:Bulstat" value="fb72b33b-7f8a-4f6b-b550-104e413f66b9" />
    <add key="Eumis.IntegrationMonitorstat.Host:EGN" value="a7f2cedb-a207-4286-bafa-ff3ffac6fe06" />
    <add key="Eumis.IntegrationMonitorstat.Host:LNCh" value="b6bed1f7-cfb9-40a9-b2e2-8011322c3f22" />

    <add key="Eumis.IntegrationMonitorstat.Host:NameEIK" value="ЕИК" />
    <add key="Eumis.IntegrationMonitorstat.Host:NameBulstat" value="БУЛСТАТ" />
    <add key="Eumis.IntegrationMonitorstat.Host:NameEGN" value="ЕГН" />
    <add key="Eumis.IntegrationMonitorstat.Host:NameLNCh" value="ЛНЧ" />
    
  </appSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="logfile" xsi:type="File" fileName="D:\logs\Eumis.IntegrationMonitorstat.Host\${shortdate}.log" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="logfile" />
    </rules>
  </nlog>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <!-- Request limit is 50MB -->
    <httpRuntime targetFramework="4.7.2"  maxRequestLength="51200" />
  </system.web>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.9.4.0" newVersion="4.9.4.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Autofac.Integration.WebApi" publicKeyToken="17863af14b0044da" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.3.1.0" newVersion="4.3.1.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Autofac.Integration.Owin" publicKeyToken="17863af14b0044da" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />

      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>

    </assemblyBinding>

  </runtime>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IMonitorstatService" messageEncoding="Mtom">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" />
            <message clientCredentialType="UserName" establishSecurityContext="false" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://nsiservice.customers.mapex.bg/MonitorstatService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IMonitorstatService" contract="MonitorstatService.IMonitorstatService" name="WSHttpBinding_IMonitorstatService" />
    </client>
  </system.serviceModel>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer></configuration>
