<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="Monitorstat.IntegrationEumis.Host:Username" value="%EUMIS_MONITORSTAT_USERNAME%" />
    <add key="Monitorstat.IntegrationEumis.Host:Password" value="%EUMIS_MONITORSTAT_PASSWORD%" />
    <add key="Monitorstat.IntegrationEumis.Host:ApiRequestTimeout" value="60000" />
    <add key="Monitorstat.IntegrationEumis.Host:IntegrationServerLocation" value="http://localhost:59974/" />
    <add key="Monitorstat.IntegrationEumis.Host:DefaultFilename" value="monitorstat.zip" />
    <add key="Eumis.Authentication:InstallationName" value="Eumis" />
    <add key="Eumis.Authentication:Key" value="SomeKey" />
    <add key="Eumis.Authentication:Preamble" value="SomePreamble" />
    <add key="Eumis.Authentication:TokenExpirationMinutes" value="10000" />
    <add key="Eumis.Web.Host:InternalBlobServerLocation" value="http://localhost:59253/" />
    
    <add key="Eumis.IntegrationMonitorstat.Host:EIK" value="fa64f536-ef52-471f-8eb0-46ba174300db" />
    <add key="Eumis.IntegrationMonitorstat.Host:Bulstat" value="fb72b33b-7f8a-4f6b-b550-104e413f66b9" />
    <add key="Eumis.IntegrationMonitorstat.Host:EGN" value="a7f2cedb-a207-4286-bafa-ff3ffac6fe06" />
    <add key="Eumis.IntegrationMonitorstat.Host:LNCh" value="b6bed1f7-cfb9-40a9-b2e2-8011322c3f22" />

    <add key="Eumis.IntegrationMonitorstat.Host:NameEIK" value="ЕИК" />
    <add key="Eumis.IntegrationMonitorstat.Host:NameBulstat" value="БУЛСТАТ" />
    <add key="Eumis.IntegrationMonitorstat.Host:NameEGN" value="ЕГН" />
    <add key="Eumis.IntegrationMonitorstat.Host:NameLNCh" value="ЛНЧ" />
  </appSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="logfile" xsi:type="File" fileName="logs/${shortdate}.log" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="logfile" />
    </rules>
  </nlog>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <!-- Request limit is 100MB -->
    <httpRuntime targetFramework="4.7.2" maxRequestLength="102400" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpsGetEnabled="true" httpGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="Monitorstat.IntegrationEumis.Host.IsunValidator, Monitorstat.IntegrationEumis.Host" />
          </serviceCredentials>
      </behavior>
    </serviceBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttpBinding" maxReceivedMessageSize="100000000" maxBufferPoolSize="100000000">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" />
            <message clientCredentialType="UserName" establishSecurityContext="false" />
          </security>
          <readerQuotas maxDepth="64" maxArrayLength="100000000" maxStringContentLength="100000000"  />
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service name="Monitorstat.IntegrationEumis.Host.IsunService">
        <endpoint address="" binding="wsHttpBinding" contract="Monitorstat.IntegrationEumis.Host.IIsunService" bindingConfiguration="wsHttpBinding" />
      </service>
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="104857600" />
      </requestFiltering>
    </security>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
