@model Newtonsoft.Json.Linq.JObject

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style type="text/css">
        body {
            font-family: Arial;
            padding: 0px;
            margin: 0px;
            color: #000000;
            font-size: 14px;
        }
    </style>
</head>

<body>
    <p style="margin-bottom: 15px;">Съобщение от формата за обратна връзка на СУНИ.</p>
    <p><b>Съобщение за:</b> @(Model["subject"])</p>
    <p><b>От:</b> @(Model["name"])</p>
    <p><b>Eлектронна поща:</b> @(Model["email"])</p>
    <p><b>Описание:</b></p>
    <p>@(Model["messageText"])</p>
</body>
</html>
