<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <strong class="heading" l10n-text="procedures_contractReportDocumentsSearch_title"></strong>
    <div class="pull-right">
      <sc-button name="draftBtn" btn-click="changeStatus('draft')" text="procedures_contractReportDocumentsSearch_draft" class="btn btn-success btn-xs"
                 ng-show="status !== 'draft'" ng-disabled="!$canDo('ProcedureActions.Edit', procedureId)"></sc-button>
      <sc-button name="activeBtn" btn-click="changeStatus('active')" text="procedures_contractReportDocumentsSearch_active" class="btn btn-default btn-xs"
                 ng-show="status !== 'active'" ng-disabled="!$canDo('ProcedureActions.Edit', procedureId)"></sc-button>
    </div>
  </div>

  <div class="panel-body">
    <div class="row">
      <div class="col-sm-12">
        <div>
          <h5 class="table-header table-header-first pull-left" l10n-text="procedures_contractReportDocumentsSearch_technicalReport"></h5>
          <sc-button ng-show="!isSectionReadonly" name="newBtn" btn-sref="{ state: 'root.procedures.view.reportDocs.technicals.new' }" style="position:relative; right: -5px; top: -3px;" class="btn btn-xs btn-primary" icon="glyphicon-plus"
                     ng-disabled="!$canDo('ProcedureActions.Edit', procedureId)"></sc-button>
        </div>

        <sc-datatable items="technicalReportDocs" filterable="false" pageable="false" sortable="false" dynamic-columns="false" has-info-text="false" scrollable="false" row-class="{'deactivated-table-row' : !item.isActive}">
          <sc-column sortable="false" class="buttons-cell" has-content="true">
            <sc-button name="editBtn" btn-sref="{ state: 'root.procedures.view.reportDocs.technicals.edit', params: {ind: item.procedureContractReportDocumentId} }" class="btn btn-xs btn-primary" icon="glyphicon-pencil"></sc-button>
          </sc-column>
          <sc-column data="name" title="procedures_technicalReportDocumentsSearch_name">
          </sc-column>
          <sc-column data="extension" title="procedures_technicalReportDocumentsSearch_extension">
          </sc-column>
          <sc-column data="isRequired" title="procedures_technicalReportDocumentsSearch_isRequired" type="boolean">
          </sc-column>
          <sc-column data="activeStatus" title="procedures_technicalReportDocumentsSearch_status">
          </sc-column>
        </sc-datatable>
      </div>
    </div>

    <div class="row">
      <div class="mutiple-tables-spacing"></div>

      <div class="col-sm-12">
        <div>
          <h5 class="table-header table-header-first pull-left" l10n-text="procedures_contractReportDocumentsSearch_financialReport"></h5>
          <sc-button ng-show="!isSectionReadonly" name="newBtn" btn-sref="{ state: 'root.procedures.view.reportDocs.financials.new' }" style="position:relative; right: -5px; top: -3px;" class="btn btn-xs btn-primary" icon="glyphicon-plus"
                     ng-disabled="!$canDo('ProcedureActions.Edit', procedureId)"></sc-button>
        </div>

        <sc-datatable items="financialReportDocs" filterable="false" pageable="false" sortable="false" dynamic-columns="false" has-info-text="false" scrollable="false" row-class="{'deactivated-table-row' : !item.isActive}">
          <sc-column sortable="false" class="buttons-cell" has-content="true">
            <sc-button name="editBtn" btn-sref="{ state: 'root.procedures.view.reportDocs.financials.edit', params: {ind: item.procedureContractReportDocumentId} }" class="btn btn-xs btn-primary" icon="glyphicon-pencil"></sc-button>
          </sc-column>
          <sc-column data="name" title="procedures_financialReportDocumentsSearch_name">
          </sc-column>
          <sc-column data="extension" title="procedures_financialReportDocumentsSearch_extension">
          </sc-column>
          <sc-column data="isRequired" title="procedures_financialReportDocumentsSearch_isRequired" type="boolean">
          </sc-column>
          <sc-column data="activeStatus" title="procedures_financialReportDocumentsSearch_status">
          </sc-column>
        </sc-datatable>
      </div>
    </div>

    <div class="row">
      <div class="mutiple-tables-spacing"></div>

      <div class="col-sm-12">
        <div>
          <h5 class="table-header table-header-first pull-left" l10n-text="procedures_contractReportDocumentsSearch_advancePayment"></h5>
          <sc-button ng-show="!isSectionReadonly" name="newBtn" btn-sref="{ state: 'root.procedures.view.reportDocs.advancePayments.new' }" style="position:relative; right: -5px; top: -3px;" class="btn btn-xs btn-primary" icon="glyphicon-plus"
                     ng-disabled="!$canDo('ProcedureActions.Edit', procedureId)"></sc-button>
        </div>

        <sc-datatable items="advancePaymentDocs" filterable="false" pageable="false" sortable="false" dynamic-columns="false" has-info-text="false" scrollable="false" row-class="{'deactivated-table-row' : !item.isActive}">
          <sc-column sortable="false" class="buttons-cell" has-content="true">
            <sc-button name="editBtn" btn-sref="{ state: 'root.procedures.view.reportDocs.advancePayments.edit', params: {ind: item.procedureContractReportDocumentId} }" class="btn btn-xs btn-primary" icon="glyphicon-pencil"></sc-button>
          </sc-column>
          <sc-column data="name" title="procedures_advancePaymentDocumentsSearch_name">
          </sc-column>
          <sc-column data="extension" title="procedures_advancePaymentDocumentsSearch_extension">
          </sc-column>
          <sc-column data="isRequired" title="procedures_advancePaymentDocumentsSearch_isRequired" type="boolean">
          </sc-column>
          <sc-column data="activeStatus" title="procedures_advancePaymentDocumentsSearch_status">
          </sc-column>
        </sc-datatable>
      </div>
    </div>

    <div class="row">
      <div class="mutiple-tables-spacing"></div>

      <div class="col-sm-12">
        <div>
          <h5 class="table-header table-header-first pull-left" l10n-text="procedures_contractReportDocumentsSearch_intermediatePayment"></h5>
          <sc-button ng-show="!isSectionReadonly" name="newBtn" btn-sref="{ state: 'root.procedures.view.reportDocs.intermediatePayments.new' }" style="position:relative; right: -5px; top: -3px;" class="btn btn-xs btn-primary" icon="glyphicon-plus"
                     ng-disabled="!$canDo('ProcedureActions.Edit', procedureId)"></sc-button>
        </div>

        <sc-datatable items="intermediatePaymentDocs" filterable="false" pageable="false" sortable="false" dynamic-columns="false" has-info-text="false" scrollable="false" row-class="{'deactivated-table-row' : !item.isActive}">
          <sc-column sortable="false" class="buttons-cell" has-content="true">
            <sc-button name="editBtn" btn-sref="{ state: 'root.procedures.view.reportDocs.intermediatePayments.edit', params: {ind: item.procedureContractReportDocumentId} }" class="btn btn-xs btn-primary" icon="glyphicon-pencil"></sc-button>
          </sc-column>
          <sc-column data="name" title="procedures_intermediatePaymentDocumentsSearch_name">
          </sc-column>
          <sc-column data="extension" title="procedures_intermediatePaymentDocumentsSearch_extension">
          </sc-column>
          <sc-column data="isRequired" title="procedures_intermediatePaymentDocumentsSearch_isRequired" type="boolean">
          </sc-column>
          <sc-column data="activeStatus" title="procedures_intermediatePaymentDocumentsSearch_status">
          </sc-column>
        </sc-datatable>
      </div>
    </div>

    <div class="row">
      <div class="mutiple-tables-spacing"></div>

      <div class="col-sm-12">
        <div>
          <h5 class="table-header table-header-first pull-left" l10n-text="procedures_contractReportDocumentsSearch_finalPayment"></h5>
          <sc-button ng-show="!isSectionReadonly" name="newBtn" btn-sref="{ state: 'root.procedures.view.reportDocs.finalPayments.new' }" style="position:relative; right: -5px; top: -3px;" class="btn btn-xs btn-primary" icon="glyphicon-plus"
                     ng-disabled="!$canDo('ProcedureActions.Edit', procedureId)"></sc-button>
        </div>

        <sc-datatable items="finalPaymentDocs" filterable="false" pageable="false" sortable="false" dynamic-columns="false" has-info-text="false" scrollable="false" row-class="{'deactivated-table-row' : !item.isActive}">
          <sc-column sortable="false" class="buttons-cell" has-content="true">
            <sc-button name="editBtn" btn-sref="{ state: 'root.procedures.view.reportDocs.finalPayments.edit', params: {ind: item.procedureContractReportDocumentId} }" class="btn btn-xs btn-primary" icon="glyphicon-pencil"></sc-button>
          </sc-column>
          <sc-column data="name" title="procedures_finalPaymentDocumentsSearch_name">
          </sc-column>
          <sc-column data="extension" title="procedures_finalPaymentDocumentsSearch_extension">
          </sc-column>
          <sc-column data="isRequired" title="procedures_finalPaymentDocumentsSearch_isRequired" type="boolean">
          </sc-column>
          <sc-column data="activeStatus" title="procedures_finalPaymentDocumentsSearch_status">
          </sc-column>
        </sc-datatable>
      </div>
    </div>

    <div class="row">
      <div class="mutiple-tables-spacing"></div>

      <div class="col-sm-12">
        <div>
          <h5 class="table-header table-header-first pull-left" l10n-text="procedures_contractReportDocumentsSearch_procurement"></h5>
          <sc-button ng-show="!isSectionReadonly" name="newBtn" btn-sref="{ state: 'root.procedures.view.reportDocs.procurements.new' }" style="position:relative; right: -5px; top: -3px;" class="btn btn-xs btn-primary" icon="glyphicon-plus"
                     ng-disabled="!$canDo('ProcedureActions.Edit', procedureId)"></sc-button>
        </div>

        <sc-datatable items="procurementDocs" filterable="false" pageable="false" sortable="false" dynamic-columns="false" has-info-text="false" scrollable="false" row-class="{'deactivated-table-row' : !item.isActive}">
          <sc-column sortable="false" class="buttons-cell" has-content="true">
            <sc-button name="editBtn" btn-sref="{ state: 'root.procedures.view.reportDocs.procurements.edit', params: {ind: item.procedureContractReportDocumentId} }" class="btn btn-xs btn-primary" icon="glyphicon-pencil"></sc-button>
          </sc-column>
          <sc-column data="name" title="procedures_procurementDocumentsSearch_name">
          </sc-column>
          <sc-column data="extension" title="procedures_procurementDocumentsSearch_extension">
          </sc-column>
          <sc-column data="isRequired" title="procedures_procurementDocumentsSearch_isRequired" type="boolean">
          </sc-column>
          <sc-column data="activeStatus" title="procedures_procurementDocumentsSearch_status">
          </sc-column>
        </sc-datatable>
      </div>
    </div>

  </div>
</div>
