<ng-form name="newProcedureProcurementDocumentsForm" sc-validate="{}" sc-form-readonly>
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong class="heading" l10n-text="procedures_newProcurementDocument_title"></strong>

      <div class="pull-right">
        <sc-button name="saveBtn" btn-click="save()" text="procedures_newProcurementDocument_save" class="btn btn-primary btn-xs" icon="glyphicon-edit">
        </sc-button>
        <sc-button name="cancelBtn" btn-click="cancel()" text="procedures_newProcurementDocument_cancel" class="btn btn-default btn-xs" icon="glyphicon-ban-circle">
        </sc-button>
      </div>
    </div>

    <div class="well-sm panel-body">
      <eumis-procedure-contract-report-document name="procedureContractReportDocumentForm" ng-model="procurementDocument"></eumis-procedure-contract-report-document>
    </div>
  </div>
</ng-form>
