<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-12">
        <h5 class="table-header table-header-first pull-left" l10n-text="sapFiles_paidAmounts_data"></h5>
        <sc-datatable items="paidAmounts" filterable="true" pageable="true" sortable="true" dynamic-columns="true" has-info-text="false" scrollable="false"
            row-class="{'success' : !item.hasError && !item.hasWarning, 'danger': item.hasError, 'warning': !item.hasError && item.hasWarning}">
          <sc-column data="isImported" title="sapFiles_paidAmounts_imported" ng-show="sapFileStatus === 'imported'" type="boolean">
          </sc-column>
          <sc-column sortable="false" title="sapFiles_paidAmounts_importedDoc" ng-show="item.isImported" has-content="true">
            <a target="_blank" ui-sref="root.actuallyPaidAmounts.view({ id: item.actuallyPaidAmountId })" ng-show="!!item.actuallyPaidAmountId">
              <span class="glyphicon glyphicon-link"></span>
            </a>
            <a target="_blank" ui-sref="root.debtReimbursedAmounts.view({ id: item.reimbursedAmountId })" ng-show="!!item.reimbursedAmountId">
              <span class="glyphicon glyphicon-link"></span>
            </a>
          </sc-column>
          <sc-column data="contractSapNum" title="sapFiles_paidAmounts_contractSapNum">
          </sc-column>
          <sc-column data="fund" title="sapFiles_paidAmounts_fund">
          </sc-column>
          <sc-column data="contractReportPaymentNum" title="sapFiles_paidAmounts_contractReportPaymentNum">
          </sc-column>
          <sc-column data="contractReportPaymentDate" title="sapFiles_paidAmounts_contractReportPaymentDate" type="date">
          </sc-column>
          <sc-column data="paidAmount" title="sapFiles_paidAmounts_paidAmount" type="money">
          </sc-column>
          <sc-column data="paymentType" title="sapFiles_paidAmounts_paymentType">
          </sc-column>
          <sc-column data="comment" title="sapFiles_paidAmounts_comment">
          </sc-column>
          <sc-column data="errors" title="sapFiles_paidAmounts_errors" has-content="true" >
            <p ng-repeat="error in item.errors">{{error}}</p>
          </sc-column>
          <sc-column data="warnings" title="sapFiles_paidAmounts_warnings" has-content="true">
            <p ng-if="!item.errors.length" ng-repeat="warning in item.warnings">{{warning}}</p>
          </sc-column>
        </sc-datatable>
      </div>
    </div>
  </div>
</div>
