<ng-form name="reportsSearchForm" sc-validate="{}" sc-form-readonly="false">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="well well-sm">
        <div class="row">
          <sc-field type="nomenclature" ng-model="filters.programmeId" alias="'programmes'" mode="id" l10n-text="monitoring_projectsReport_programme" class="col-sm-5"></sc-field>
          <sc-field type="nomenclature" ng-model="filters.programmePriorityId" alias="'programmePriorities'" mode="id" params="{ programmeId: filters.programmeId }" l10n-text="monitoring_projectsReport_programmePriority" class="col-sm-5"></sc-field>
        </div>
        <div class="row">
          <sc-field type="nomenclature" ng-model="filters.procedureId" alias="'procedures'" mode="id" params="{ programmePriorityId: filters.programmePriorityId }" l10n-text="monitoring_projectsReport_procedure" class="col-sm-5"></sc-field>
          <sc-field type="date" ng-model="filters.fromDate" l10n-text="monitoring_projectsReport_fromDate" class="col-sm-2"></sc-field>
          <sc-field type="date" ng-model="filters.toDate" l10n-text="monitoring_projectsReport_toDate" class="col-sm-2"></sc-field>
          <div class="labeless col-sm-3">
            <sc-button name="seachBtn" btn-click="search()" text="monitoring_projectsReport_search" class="btn btn-default btn-sm pull-right" icon="glyphicon-search"></sc-button>
          </div>
        </div>

        <div class="row">
          <sc-field type="nomenclature" alias="'nutsLevels'" mode="id" ng-model="filters.nutsLevel" ng-change="changedNutsLevel()" l10n-text="monitoring_projectsReport_nutsLevel" class="col-sm-3 col-md-3"></sc-field>
          <sc-field type="nomenclature" alias="'currencies'" mode="id" ng-model="filters.currency" l10n-text="monitoring_projectsReport_currency" class="col-sm-3 col-md-2"></sc-field>
        </div>
        <div ng-show="filters.nutsLevel">
          <div class="row">
            <sc-field type="nomenclature" alias="'countries'" mode="id" ng-model="filters.countryId" ng-show="filters.nutsLevel === 'country'" l10n-text="monitoring_projectsReport_countryId" class="col-sm-4 col-lg-3"></sc-field>
            <sc-field type="nomenclature" alias="'nuts1'" mode="id" ng-model="filters.nuts1Id" ng-show="filters.nutsLevel === 'regionNUTS1'" nom-obj="nuts1Obj" l10n-text="monitoring_projectsReport_nuts1Id" class="col-sm-4 col-lg-3"></sc-field>
            <sc-field type="nomenclature" alias="'nuts2'" mode="id" ng-model="filters.nuts2Id" ng-show="filters.nutsLevel === 'regionNUTS2'" nom-obj="nuts2Obj" l10n-text="monitoring_projectsReport_nuts2Id" class="col-sm-4 col-lg-3"></sc-field>
            <sc-field type="nomenclature" alias="'districts'" mode="id" ng-model="filters.districtId" ng-show="filters.nutsLevel === 'district'" nom-obj="districtObj" l10n-text="monitoring_projectsReport_districtId" class="col-sm-4 col-md-3"></sc-field>
            <sc-field type="nomenclature" alias="'municipalities'" mode="id" ng-model="filters.municipalityId" ng-show="filters.nutsLevel === 'municipality'" nom-obj="municipalityObj" l10n-text="monitoring_projectsReport_municipalityId" class="col-sm-4 col-md-3"></sc-field>
            <sc-field type="nomenclature" alias="'settlements'" mode="id" ng-model="filters.settlementId" ng-show="filters.nutsLevel === 'settlement'" nom-obj="settlementObj" l10n-text="monitoring_projectsReport_settlementId" class="col-sm-4 col-md-3"></sc-field>
            <sc-field type="nomenclature" alias="'protectedZones'" mode="id" ng-model="filters.protectedZoneId" ng-show="filters.nutsLevel === 'protectedZone'" nom-obj="protectedZoneObj" l10n-text="monitoring_projectsReport_protectedZoneId" class="col-sm-4 col-md-3"></sc-field>
            <div style="padding-top: 24px;">
              <span ng-show="filters.nutsLevel === 'regionNUTS1' && filters.nuts1Id">{{nuts1Obj.fullPathName}}</span>
              <span ng-show="filters.nutsLevel === 'regionNUTS2' && filters.nuts2Id">{{nuts2Obj.fullPathName}}</span>
              <span ng-show="filters.nutsLevel === 'district' && filters.districtId">{{districtObj.fullPathName}}</span>
              <span ng-show="filters.nutsLevel === 'municipality' && filters.municipalityId">{{municipalityObj.fullPathName}}</span>
              <span ng-show="filters.nutsLevel === 'settlement' && filters.settlementId">{{settlementObj.fullPathName}}</span>
              <span ng-show="filters.nutsLevel === 'protectedZone' && filters.protectedZoneId">{{protectedZoneObj.fullPathName}}</span>
            </div>
          </div>
        </div>
      </div>

      <div ng-show="displayResult">
        <sc-link-button ng-href="{{exportUrl}}" target="_blank" sc-access-token style="position:relative;bottom:2px;"
          icon="fa-file-excel-o fa-lg fa-fw" text="monitoring_projectsReport_excelExport" class="btn btn-default btn-xs pull-right">
        </sc-link-button>
        <div>
          <table class="table table-bordered">
            <thead>
              <th class="text-center" l10n-text="monitoring_projectsReport_programme"></th>
              <th class="text-center" l10n-text="monitoring_projectsReport_procedure"></th>
              <th class="text-center" l10n-text="monitoring_projectsReport_regNumber"></th>
              <th class="text-center" l10n-text="monitoring_projectsReport_name"></th>
              <th class="text-center" l10n-text="monitoring_projectsReport_regDate"></th>
              <th class="text-center" l10n-text="monitoring_projectsReport_recieveDate"></th>
              <th class="text-center" l10n-text="monitoring_projectsReport_recieveType"></th>
              <th class="text-center" l10n-text="monitoring_projectsReport_companyUin"></th>
              <th class="text-center" l10n-text="monitoring_projectsReport_companyName"></th>
              <th class="text-center" l10n-text="monitoring_projectsReport_companyType"></th>
              <th class="text-center" l10n-text="monitoring_projectsReport_companyLegalType"></th>
              <th class="text-center" l10n-text="monitoring_projectsReport_companyKidCode"></th>
              <th class="text-center" l10n-text="monitoring_projectsReport_companyAddress"></th>
              <th class="text-center" l10n-text="monitoring_projectsReport_companyCorrespondenceAddress"></th>
              <th class="text-center" l10n-text="monitoring_projectsReport_companyEmail"></th>
              <th class="text-center" l10n-text="monitoring_projectsReport_companySizeType"></th>
              <th class="text-center" l10n-text="monitoring_projectsReport_projectDuration"></th>
              <th class="text-center" l10n-text="monitoring_projectsReport_projectPlace"></th>
              <th class="text-center" l10n-text="monitoring_projectsReport_projectKidCode"></th>
              <th class="text-center" l10n-text="monitoring_projectsReport_initialTotalBfpAmount"></th>
              <th class="text-center" l10n-text="monitoring_projectsReport_initialCoFinancingAmount"></th>
              <th class="text-center" l10n-text="monitoring_projectsReport_actualTotalBfpAmount"></th>
              <th class="text-center" l10n-text="monitoring_projectsReport_adminAdmiss"></th>
              <th class="text-center" l10n-text="monitoring_projectsReport_techFinances"></th>
              <th class="text-center" l10n-text="monitoring_projectsReport_complex"></th>
              <th class="text-center" l10n-text="monitoring_projectsReport_standingStatus"></th>
            </thead>
            <tbody>
              <tr ng-repeat="project in projects">
                <td>{{project.programme}}</td>
                <td>{{project.procedure}}</td>
                <td>{{project.regNumber}}</td>
                <td>{{project.name}}</td>
                <td>{{project.regDate | date:'dd.MM.yyyy HH:mm'}}</td>
                <td>{{project.recieveDate | date:'dd.MM.yyyy HH:mm'}}</td>
                <td>{{project.recieveType}}</td>
                <td>{{project.companyUin}}</td>
                <td>{{project.companyName}}</td>
                <td>{{project.companyType}}</td>
                <td>{{project.companyLegalType}}</td>
                <td>{{project.companyKidCode}}</td>
                <td>{{project.companyAddress}}</td>
                <td>{{project.companyCorrespondenceAddress}}</td>
                <td>{{project.companyEmail}}</td>
                <td>{{project.companySizeType}}</td>
                <td>{{project.projectDuration}}</td>
                <td>{{project.projectPlace}}</td>
                <td>{{project.projectKidCode}}</td>
                <td style="text-align: right; padding: 8px 2px; white-space: nowrap;">{{project.initialTotalBfpAmount | money}}</td>
                <td style="text-align: right; padding: 8px 2px; white-space: nowrap;">{{project.initialCoFinancingAmount | money}}</td>
                <td style="text-align: right; padding: 8px 2px; white-space: nowrap;">{{project.actualTotalBfpAmount | money}}</td>
                <td>{{project.isAdminAdmissPassed}}</td>
                <td>{{project.isTechFinancePassed}}</td>
                <td>{{project.isComplexPassed}}</td>
                <td>{{project.standingStatus}}</td>
              </tr>
              <tr ng-if="projects.length === 0">
                <td colspan="23" l10n-text="monitoring_projectsReport_noResults"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</ng-form>
