@model String

<span style="top: 10px; right: 15px; display: block; position: absolute;"><span symbols-target="@Html.GetNameFor(m=>m)"></span></span>
@Html.TextAreaFor(m => m, new { @class = "form-control symbols-count", rows = "2", @style = "height:60px;" })