<div class="tab-content">
  <ng-form name="serviceContractsNewStep1Form" sc-validate="{}" sc-form-readonly>
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong class="heading" l10n-text="contracts_serviceContractsNewStep1_title"></strong>

        <div class="pull-right">
          <sc-button name="saveBtn" btn-click="next()" text="contracts_serviceContractsNewStep1_next" class="btn btn-primary btn-xs" icon="glyphicon-floppy-disk">
          </sc-button>
          <sc-button name="cancelBtn" btn-click="cancel()" text="contracts_serviceContractsNewStep1_cancel" class="btn btn-default btn-xs" icon="glyphicon-ban-circle">
          </sc-button>
        </div>
      </div>

      <div class="well-sm panel-body">
        <div class="row">
          <sc-field type="nomenclature" alias="'contractServiceProcedures'" mode="id" ng-model="model.procedureId" ng-required="true" l10n-text="contracts_serviceContractsNewStep1_procedureId" class="col-sm-5 col-md-5"></sc-field>
          <sc-field type="nomenclature" alias="'uinTypes'" mode="id" ng-model="model.uinTypeId" ng-required="true" l10n-text="contracts_serviceContractsNewStep1_uinTypeId" class="col-sm-3 col-md-3"></sc-field>
          <sc-field type="text" ng-model="model.uin" ng-required="true" l10n-text="contracts_serviceContractsNewStep1_uin" class="col-sm-2 col-md-2"
            sc-validate="{ validValue: uinValid }"
            sc-revalidate-on="['model.uinTypeId']"
            validations="{ validValue: 'errorTexts_notValidUin' }"
          >
          </sc-field>
          <sc-button name="chooseCompanyBtn" btn-click="chooseCompany()" text="contracts_serviceContractsNewStep1_chooseCompany" class="btn btn-primary btn-sm" icon="glyphicon-search" style="margin-top: 19px;">
          </sc-button>
        </div>
      </div>
    </div>
  </ng-form>
</div>
