<ng-form sc-validate="{}" sc-form-readonly>
  <div class="row">
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-3 text-center" l10n-text="operationalMap_common_indicatorReportedAmountDataForm_yearTitle"></div>
        <div class="col-sm-3" l10n-text="operationalMap_common_indicatorReportedAmountDataForm_menTitle"></div>
        <div class="col-sm-3" l10n-text="operationalMap_common_indicatorReportedAmountDataForm_womenTitle"></div>
        <div class="col-sm-3" l10n-text="operationalMap_common_indicatorReportedAmountDataForm_totalTitle"></div>
      </div>
      <div class="row">
        <div class="col-sm-3 padding-top20 text-center">
          <label l10n-text="operationalMap_common_indicatorReportedAmountDataForm_year2014"></label>
        </div>
        <sc-field type="int" ng-required="false" ng-model="model.men2014" ng-disabled="!model.hasGenderDivision" class="col-sm-3"></sc-field>
        <sc-field type="int" ng-required="false" ng-model="model.women2014" ng-disabled="!model.hasGenderDivision" class="col-sm-3"></sc-field>
        <sc-field type="int" ng-required="false" ng-model="model.total2014" class="col-sm-3"></sc-field>
      </div>
      <div class="row">
        <div class="col-sm-3 padding-top20 text-center">
          <label l10n-text="operationalMap_common_indicatorReportedAmountDataForm_year2015"></label>
        </div>
        <sc-field type="int" ng-required="false" ng-model="model.men2015" ng-disabled="!model.hasGenderDivision" class="col-sm-3"></sc-field>
        <sc-field type="int" ng-required="false" ng-model="model.women2015" ng-disabled="!model.hasGenderDivision" class="col-sm-3"></sc-field>
        <sc-field type="int" ng-required="false" ng-model="model.total2015" class="col-sm-3"></sc-field>
      </div>
      <div class="row">
        <div class="col-sm-3 padding-top20 text-center">
          <label l10n-text="operationalMap_common_indicatorReportedAmountDataForm_year2016"></label>
        </div>
        <sc-field type="int" ng-required="false" ng-model="model.men2016" ng-disabled="!model.hasGenderDivision" class="col-sm-3"></sc-field>
        <sc-field type="int" ng-required="false" ng-model="model.women2016" ng-disabled="!model.hasGenderDivision" class="col-sm-3"></sc-field>
        <sc-field type="int" ng-required="false" ng-model="model.total2016" class="col-sm-3"></sc-field>
      </div>
      <div class="row">
        <div class="col-sm-3 padding-top20 text-center">
          <label l10n-text="operationalMap_common_indicatorReportedAmountDataForm_year2017"></label>
        </div>
        <sc-field type="int" ng-required="false" ng-model="model.men2017" ng-disabled="!model.hasGenderDivision" class="col-sm-3"></sc-field>
        <sc-field type="int" ng-required="false" ng-model="model.women2017" ng-disabled="!model.hasGenderDivision" class="col-sm-3"></sc-field>
        <sc-field type="int" ng-required="false" ng-model="model.total2017" class="col-sm-3"></sc-field>
      </div>
      <div class="row">
        <div class="col-sm-3 padding-top20 text-center">
          <label l10n-text="operationalMap_common_indicatorReportedAmountDataForm_year2018"></label>
        </div>
        <sc-field type="int" ng-required="false" ng-model="model.men2018" ng-disabled="!model.hasGenderDivision" class="col-sm-3"></sc-field>
        <sc-field type="int" ng-required="false" ng-model="model.women2018" ng-disabled="!model.hasGenderDivision" class="col-sm-3"></sc-field>
        <sc-field type="int" ng-required="false" ng-model="model.total2018" class="col-sm-3"></sc-field>
      </div>
      <div class="row">
        <div class="col-sm-3 padding-top20 text-center">
          <label l10n-text="operationalMap_common_indicatorReportedAmountDataForm_year2019"></label>
        </div>
        <sc-field type="int" ng-required="false" ng-model="model.men2019" ng-disabled="!model.hasGenderDivision" class="col-sm-3"></sc-field>
        <sc-field type="int" ng-required="false" ng-model="model.women2019" ng-disabled="!model.hasGenderDivision" class="col-sm-3"></sc-field>
        <sc-field type="int" ng-required="false" ng-model="model.total2019" class="col-sm-3"></sc-field>
      </div>
      <div class="row">
        <div class="col-sm-3 padding-top20 text-center">
          <label l10n-text="operationalMap_common_indicatorReportedAmountDataForm_year2020"></label>
        </div>
        <sc-field type="int" ng-required="false" ng-model="model.men2020" ng-disabled="!model.hasGenderDivision" class="col-sm-3"></sc-field>
        <sc-field type="int" ng-required="false" ng-model="model.women2020" ng-disabled="!model.hasGenderDivision" class="col-sm-3"></sc-field>
        <sc-field type="int" ng-required="false" ng-model="model.total2020" class="col-sm-3"></sc-field>
      </div>
      <div class="row">
        <div class="col-sm-3 padding-top20 text-center">
          <label l10n-text="operationalMap_common_indicatorReportedAmountDataForm_year2021"></label>
        </div>
        <sc-field type="int" ng-required="false" ng-model="model.men2021" ng-disabled="!model.hasGenderDivision" class="col-sm-3"></sc-field>
        <sc-field type="int" ng-required="false" ng-model="model.women2021" ng-disabled="!model.hasGenderDivision" class="col-sm-3"></sc-field>
        <sc-field type="int" ng-required="false" ng-model="model.total2021" class="col-sm-3"></sc-field>
      </div>
      <div class="row">
        <div class="col-sm-3 padding-top20 text-center">
          <label l10n-text="operationalMap_common_indicatorReportedAmountDataForm_year2022"></label>
        </div>
        <sc-field type="int" ng-required="false" ng-model="model.men2022" ng-disabled="!model.hasGenderDivision" class="col-sm-3"></sc-field>
        <sc-field type="int" ng-required="false" ng-model="model.women2022" ng-disabled="!model.hasGenderDivision" class="col-sm-3"></sc-field>
        <sc-field type="int" ng-required="false" ng-model="model.total2022" class="col-sm-3"></sc-field>
      </div>
      <div class="row">
        <div class="col-sm-3 padding-top20 text-center">
          <label l10n-text="operationalMap_common_indicatorReportedAmountDataForm_year2023"></label>
        </div>
        <sc-field type="int" ng-required="false" ng-model="model.men2023" ng-disabled="!model.hasGenderDivision" class="col-sm-3"></sc-field>
        <sc-field type="int" ng-required="false" ng-model="model.women2023" ng-disabled="!model.hasGenderDivision" class="col-sm-3"></sc-field>
        <sc-field type="int" ng-required="false" ng-model="model.total2023" class="col-sm-3"></sc-field>
      </div>
    </div>
  </div>
</ng-form>
