<ng-form sc-validate="{}" sc-form-readonly>
  <div class="row">
    <sc-field type="money" ng-model="model.amountWithAdvances" ng-required="!form.$readonly" l10n-text="operationalMap_common_operationalMapBudgetNextThreeForm_withAdvances" class="col-sm-10 budget-amount-mini"></sc-field>
  </div>
  <div class="row">
    <sc-field type="money" ng-model="model.amountWithoutAdvances" ng-required="!form.$readonly" l10n-text="operationalMap_common_operationalMapBudgetNextThreeForm_withoutAdvances" class="col-sm-10 budget-amount-mini"></sc-field>
  </div>
  <br />
</ng-form>