<div class="tab-content">
  <ng-form name="newProcurementForm" sc-validate="{}" sc-form-readonly>
    <div class="panel panel-default">
      <div class="panel-heading">

        <strong class="heading" l10n-text="procurements_newProcurement_title"></strong>

        <div class="pull-right">
          <sc-button name="saveBtn" btn-click="save()" text="procurements_newProcurement_save" class="btn btn-primary btn-xs" icon="glyphicon-floppy-disk">
          </sc-button>
          <sc-button name="cancelBtn" btn-click="cancel()" text="procurements_newProcurement_cancel" class="btn btn-default btn-xs" icon="glyphicon-ban-circle">
          </sc-button>
        </div>
      </div>

      <div class="well-sm panel-body">
        <eumis-procurement-data name="procurementForm" ng-model="procurement"></eumis-procurement-data>
      </div>
    </div>
  </ng-form>
</div>
