@model R_10077.SpendingPlan

<div class="container">
    <form>
        @Html.Partial(MVC.Shared.Views._ExpandCollapseWithEcoPartial)
        <ul class="nav nav-tabs">
            @Html.ActionLink(Global.Print, MVC.Private.SpendingPlan.ActionNames.Print, MVC.Private.SpendingPlan.Name, null, new { @class = "top-print-btn", target = "_blank" })
        </ul>
    </form>
    <div class="tab-content">
        <form class="form-with-sections">
            
            @Html.DisplayFor(m => m)

        </form>
    </div>
</div>
