<ng-form sc-validate="{}" sc-form-readonly="true">
    <div class="row">
        <sc-field type="text" ng-model="model.companyName" l10n-text="contracts_offerForm_companyName" class="col-sm-12 col-md-8"></sc-field>
    </div>
    <div class="row">
        <sc-field type="text" ng-model="model.companyUinType" l10n-text="contracts_offerForm_companyUinType" class="col-sm-6 col-md-4"></sc-field>
        <sc-field type="text" ng-model="model.companyUin" l10n-text="contracts_offerForm_companyUin" class="col-sm-6 col-md-4"></sc-field>
    </div>
    <div class="row">
        <sc-field type="text" ng-model="model.procurementPlanObject" l10n-text="contracts_offerForm_procurementObject" class="col-sm-6 col-md-4"></sc-field>
        <sc-field type="text" ng-model="model.procurementPlanSubject" l10n-text="contracts_offerForm_procurementSubject" class="col-sm-6 col-md-4"></sc-field>
    </div>
    <div class="row">
        <sc-field type="text" ng-model="model.procurementPlanExpectedAmount" l10n-text="contracts_offerForm_expectedAmount" class="col-sm-6 col-md-4"></sc-field>
    </div>
    <div class="row">
        <sc-field type="textarea" rows=3 ng-model="model.description" l10n-text="contracts_offerForm_description" class="col-sm-12 col-md-8"></sc-field>
    </div>
</ng-form>
