<ng-form name="editCertCorrectionCSDBudgetItemForm" sc-validate="{}" sc-form-readonly="!editMode">
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong class="heading" ng-show="contractReportFinancialCertCorrectionStatus === 'draft' && correctionCSDBudgetItem.status === 'draft'" l10n-text="contractReportFinancialCertCorrections_contractReportFinancialCertCorrectionsCorrectedCSDsEdit_editTitle"></strong>
      <strong class="heading" ng-show="contractReportFinancialCertCorrectionStatus !== 'draft' || correctionCSDBudgetItem.status !== 'draft'" l10n-text="contractReportFinancialCertCorrections_contractReportFinancialCertCorrectionsCorrectedCSDsEdit_viewTitle"></strong>

      <div class="pull-right">

        <sc-button name="endedBtn" btn-click="changeCertCorrectionCSDBudgetItemStatus('ended')" text="contractReportFinancialCertCorrections_contractReportFinancialCertCorrectionsCorrectedCSDsEdit_ended" class="btn btn-default btn-xs"
          ng-show="contractReportFinancialCertCorrectionStatus === 'draft' && correctionCSDBudgetItem.status === 'draft' && !editMode" ng-disabled="!$canDo('ContractReportFinancialCertCorrectionActions.Edit', contractReportFinancialCertCorrectionId)"></sc-button>

        <sc-button name="draftBtn" btn-click="changeCertCorrectionCSDBudgetItemStatus('draft')" text="contractReportFinancialCertCorrections_contractReportFinancialCertCorrectionsCorrectedCSDsEdit_draft" class="btn btn-success btn-xs"
          ng-show="contractReportFinancialCertCorrectionStatus === 'draft' && correctionCSDBudgetItem.status === 'ended' && !editMode" ng-disabled="!$canDo('ContractReportFinancialCertCorrectionActions.Edit', contractReportFinancialCertCorrectionId)"></sc-button>

        <sc-button name="deleteBtn" btn-click="del()" text="contractReportChecks_editContractReportChecksFinancial_delete" class="btn btn-danger btn-xs" icon="glyphicon-remove"
          ng-show="contractReportFinancialCertCorrectionStatus === 'draft' && correctionCSDBudgetItem.status === 'draft' && !editMode" ng-disabled="!$canDo('ContractReportFinancialCertCorrectionActions.Edit', contractReportFinancialCertCorrectionId)"></sc-button>

        <sc-button name="editBtn" btn-click="edit()" text="contractReportChecks_editContractReportChecksFinancial_edit" class="btn btn-primary btn-xs" icon="glyphicon-edit"
          ng-show="contractReportFinancialCertCorrectionStatus === 'draft' && correctionCSDBudgetItem.status === 'draft' && !editMode" ng-disabled="!$canDo('ContractReportFinancialCertCorrectionActions.Edit', contractReportFinancialCertCorrectionId)"></sc-button>

        <sc-button name="saveBtn" btn-click="save()" text="contractReportFinancialCertCorrections_contractReportFinancialCertCorrectionsCorrectedCSDsEdit_save"
          class="btn btn-primary btn-xs" icon="glyphicon-floppy-disk" ng-show="editMode">
        </sc-button>
        <sc-button name="cancelBtn" btn-click="cancel()" text="contractReportFinancialCertCorrections_contractReportFinancialCertCorrectionsCorrectedCSDsEdit_cancel"
          class="btn btn-default btn-xs" icon="glyphicon-ban-circle" ng-show="editMode">
        </sc-button>
      </div>
    </div>

    <div class="well-sm panel-body">
      <eumis-contract-report-financial-cert-correction-cost-supporting-document name="contractReportFinancialCertCorrectionCSDForm" ng-model="correctionCSDBudgetItem"></eumis-contract-report-financial-cert-correction-cost-supporting-document>
    </div>
  </div>
</ng-form>
