<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings>
        <add name="DbContext"
          connectionString="Data Source=%EUMIS_SQL_SERVER_IP%;Initial Catalog=Eumis;MultipleActiveResultSets=True;User Id=%EUMIS_SQL_SERVER_USER%;Password=%EUMIS_SQL_SERVER_PASS%;"
          xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <add name="Logs1"
          connectionString="Data Source=%EUMIS_SQL_SERVER_IP%;Initial Catalog=EumisLogs3;MultipleActiveResultSets=True;User Id=%EUMIS_SQL_SERVER_USER%;Password=%EUMIS_SQL_SERVER_PASS%;"
          xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
    <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <targets>
            <target name="errorfile" xdt:Locator="Match(name)">
                <target fileName="D:\Logs\Eumis.PortalIntegration.Host\${date:format=dd.MM.yyyy}.txt" xdt:Transform="SetAttributes" />
            </target>
        </targets>
    </nlog>
    <appSettings>
        <add key="Eumis.Authentication:Key" value="%EUMIS_PRIVATEAPP_DP_KEY%"
             xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="Eumis.Authentication:Preamble" value="%EUMIS_PRIVATEAPP_DP_PREAMBLE%"
             xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="Eumis.Authentication:Clients" value="internal,%EUMIS_PORTALAPICREDENTIALS_SECRET%"
             xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="Eumis.Web.Api:PortalLocationForIFrame" value="https://enims.egov.bg"
             xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="Eumis.ApplicationServices:PortalLocationForAPIs" value="https://enims.egov.bg"
             xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="Eumis.ApplicationServices:SimevServerLocation" value="https://212.122.184.231/simevsoa/rest/xlsGenerate"
             xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="Eumis.Log:EnableRequestLogging" value="false"
             xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="Eumis.Web.Host:BlobServerLocation" value="https://filesnims.egov.bg/"
             xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="Eumis.Web.Host:InternalBlobServerLocation" value="https://filesnims.egov.bg/"
             xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="Eumis.Web.Host:BlobServerTokenLocation" value="https://filesnims.egov.bg/api/token"
             xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="Eumis.Web.Host:BlobServerCredentials" value="internal,%EUMIS_BLOBSERVERCREDENTIALS_SECRET%"
             xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="Eumis.ApplicationServices:RegixAPI" value="http://172.23.108.204"
             xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    </appSettings>
    <system.web>
        <compilation xdt:Transform="RemoveAttributes(debug)" />
    </system.web>
</configuration>
