  <ng-form name="newProjectMassManagingAuthorityCommunicationDocumentForm" sc-validate="{}" sc-form-readonly>
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong class="heading" l10n-text="projectMassManagingAuthorityCommunications_projectMassManagingAuthorityCommunicationDocumentsNew_title"></strong>
        <div class="pull-right">
          <sc-button name="saveBtn" btn-click="save()" text="projectMassManagingAuthorityCommunications_projectMassManagingAuthorityCommunicationDocumentsNew_save" class="btn btn-primary btn-xs" icon="glyphicon-edit">
          </sc-button>
          <sc-button name="cancelBtn" btn-click="cancel()" text="projectMassManagingAuthorityCommunications_projectMassManagingAuthorityCommunicationDocumentsNew_cancel" class="btn btn-default btn-xs" icon="glyphicon-ban-circle">
          </sc-button>
        </div>
      </div>
      <div class="well-sm panel-body">
        <eumis-document name="documentForm" ng-model="document" sc-form-params="{ urlTemplate: 'ProjectMassManagingAuthorityCommunicationFile' }"></eumis-document>
      </div>
    </div>
  </ng-form>
