<div class="panel panel-default">
  <div class="panel-body">
    <sc-button ng-if="status === 'draft'" name="chooseItemsBtn" btn-click="chooseItems()" text="projectMassManagingAuthorityCommunications_projectMassManagingAuthorityCommunicationRecipientsSearch_newBtn" class="btn btn-sm btn-primary pull-left" icon="glyphicon-floppy-disk"
      ng-disabled="!$canDo('ProjectMassManagingAuthorityCommunicationActions.Edit', communicationId)"></sc-button>

    <sc-datatable items="recipients" filterable="true" pageable="true" sortable="true" dynamic-columns="true">
      <sc-column sortable="false" class="buttons-cell" has-content="true">
        <sc-button name="editBtn" btn-sref="{ state: 'root.projects.view.edit', params: {id: item.projectId} }" class="btn btn-xs btn-primary" icon="glyphicon-eye-open"></sc-button>
        <sc-button ng-if="status === 'draft'" name="delBtn" btn-click="delItem(item.projectId)" class="btn btn-xs btn-danger" icon="glyphicon-remove"
           ng-disabled="!$canDo('ProjectMassManagingAuthorityCommunicationActions.Edit', communicationId)"></sc-button>
      </sc-column>
      <sc-column data="projectRegNumber" title="projectMassManagingAuthorityCommunications_projectMassManagingAuthorityCommunicationRecipientsSearch_projectRegNumber">
      </sc-column>
      <sc-column data="projectName" title="projectMassManagingAuthorityCommunications_projectMassManagingAuthorityCommunicationRecipientsSearch_projectName">
      </sc-column>
      <sc-column data="recieveDate" title="projectMassManagingAuthorityCommunications_projectMassManagingAuthorityCommunicationRecipientsSearch_recieveDate" type="date">
      </sc-column>
      <sc-column data="beneficiaryName" title="projectMassManagingAuthorityCommunications_projectMassManagingAuthorityCommunicationRecipientsSearch_beneficiaryName">
      </sc-column>
    </sc-datatable>
  </div>
</div>
