<div class="tab-content">
  <ng-form name="editExpenseTypeForm" sc-validate="{}" sc-form-readonly="!editMode">
    <div class="panel panel-default">
      <div class="panel-heading">

        <strong class="heading" l10n-text="expenseTypes_editForm_title"></strong>

        <div class="pull-right">
          <sc-button name="editBtn" btn-click="edit()" text="expenseTypes_editForm_edit" class="btn btn-primary btn-xs" icon="glyphicon-edit" ng-show="!editMode"
            ng-disabled="!$canDo('ExpenseTypeActions.Edit', expenseType.expenseTypeData.expenseTypeId)">
          </sc-button>
          <sc-button name="activateBtn" btn-click="activate()" text="expenseTypes_editForm_activate" class="btn btn-success btn-xs" ng-show="!isActive && !editMode"
            ng-disabled="!$canDo('ExpenseTypeActions.Edit', expenseType.expenseTypeData.expenseTypeId)">
          </sc-button>
          <sc-button name="deactivateBtn" btn-click="deactivate()" text="expenseTypes_editForm_deactivate" class="btn btn-danger btn-xs" ng-show="isActive && !editMode"
            ng-disabled="!$canDo('ExpenseTypeActions.Edit', expenseType.expenseTypeData.expenseTypeId)">
          </sc-button>
          <sc-button name="deleteBtn" btn-click="del()" text="expenseTypes_editForm_del" class="btn btn-danger btn-xs" icon="glyphicon-remove" ng-show="!editMode"
            ng-disabled="!$canDo('ExpenseTypeActions.Delete', expenseType.expenseTypeData.expenseTypeId)">
          </sc-button>
          <sc-button name="saveBtn" btn-click="save()" text="expenseTypes_editForm_save" class="btn btn-primary btn-xs" icon="glyphicon-floppy-disk" ng-show="editMode">
          </sc-button>
          <sc-button name="cancelBtn" btn-click="cancel()" text="expenseTypes_editForm_cancel" class="btn btn-default btn-xs" icon="glyphicon-ban-circle" ng-show="editMode">
          </sc-button>

        </div>
      </div>

      <div class="well-sm panel-body">
        <eumis-expense-type-data name="expenseTypeForm" ng-model="expenseType.expenseTypeData"></eumis-expense-type-data>

        <div>
          <h5 class="table-header pull-left" l10n-text="expenseTypes_editForm_subTypes"></h5>
          <sc-button name="newSubTypeBtn" btn-click="newSubType()" style="position:relative; right: -5px; top: 15px;" class="btn btn-xs btn-primary" icon="glyphicon-plus"
            ng-disabled="!$canDo('ExpenseTypeActions.Edit', expenseType.expenseTypeData.expenseTypeId)"></sc-button>
        </div>
        <sc-datatable items="expenseType.expenseSubTypes" filterable="false" pageable="false" sortable="false" dynamic-columns="false" has-info-text="false" scrollable="false">
          <sc-column sortable="false" class="buttons-cell" has-content="true">
            <sc-button name="editBtn" btn-click="editSubType(item.expenseSubTypeId)" class="btn btn-xs btn-primary" icon="glyphicon-pencil"
              ng-disabled="!$canDo('ExpenseTypeActions.Edit', expenseType.expenseTypeData.expenseTypeId)"></sc-button>
            <sc-button name="deleteSubTypeBtn" btn-click="deleteSubType(item.expenseSubTypeId)" class="btn btn-xs btn-danger" icon="glyphicon-remove"
              ng-disabled="!$canDo('ExpenseTypeActions.Edit', expenseType.expenseTypeData.expenseTypeId)"></sc-button>
          </sc-column>
          <sc-column data="name" title="expenseTypes_editForm_subTypeName">
          </sc-column>
          <sc-column data="nameAlt" title="expenseTypes_editForm_subTypeNameAlt">
          </sc-column>
        </sc-datatable>
      </div>

    </div>
  </ng-form>
</div>
