<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <autofac>
    <modules>
      <module type="Eumis.Components.ProcedureCommunicatorModule, Eumis.Components, Version=1.0.0.0, Culture=neutral">
        <properties>
          <property name="IsFake" value="false" />
        </properties>
      </module>
      <module type="Eumis.Components.ProjectCommunicatorModule, Eumis.Components, Version=1.0.0.0, Culture=neutral">
        <properties>
          <property name="IsFake" value="false" />
        </properties>
      </module>
      <module type="Eumis.Components.ProjectManagingAuthorityCommunicationCommunicatorModule, Eumis.Components, Version=1.0.0.0, Culture=neutral">
        <properties>
          <property name="IsFake" value="false" />
        </properties>
      </module>
      <module type="Eumis.Components.CompaniesCommunicatorModule, Eumis.Components, Version=1.0.0.0, Culture=neutral">
        <properties>
          <property name="IsFake" value="false" />
        </properties>
      </module>
      <module type="Eumis.Components.RegistrationCommunicatorModule, Eumis.Components, Version=1.0.0.0, Culture=neutral">
        <properties>
          <property name="IsFake" value="false" />
        </properties>
      </module>
      <module type="Eumis.Components.DraftCommunicatorModule, Eumis.Components, Version=1.0.0.0, Culture=neutral">
        <properties>
          <property name="IsFake" value="false" />
        </properties>
      </module>
      <module type="Eumis.Components.MailCommunicatorModule, Eumis.Components, Version=1.0.0.0, Culture=neutral">
        <properties>
          <property name="IsFake" value="false" />
        </properties>
      </module>
      <module type="Eumis.Components.EvalCommunicatorModule, Eumis.Components, Version=1.0.0.0, Culture=neutral">
        <properties>
          <property name="IsFake" value="false" />
        </properties>
      </module>
      <module type="Eumis.Components.CheckListCommunicatorModule, Eumis.Components, Version=1.0.0.0, Culture=neutral">
        <properties>
          <property name="IsFake" value="false" />
        </properties>
      </module>
      <module type="Eumis.Components.MessageCommunicatorModule, Eumis.Components, Version=1.0.0.0, Culture=neutral">
        <properties>
          <property name="IsFake" value="false" />
        </properties>
      </module>
      <module type="Eumis.Components.BFPContractCommunicatorModule, Eumis.Components, Version=1.0.0.0, Culture=neutral">
        <properties>
          <property name="IsFake" value="false" />
        </properties>
      </module>
      <module type="Eumis.Components.ProcurementsCommunicatorModule, Eumis.Components, Version=1.0.0.0, Culture=neutral">
        <properties>
          <property name="IsFake" value="false" />
        </properties>
      </module>
      <module type="Eumis.Components.CommunicationCommunicatorModule, Eumis.Components, Version=1.0.0.0, Culture=neutral">
        <properties>
          <property name="IsFake" value="false" />
        </properties>
      </module>
      <module type="Eumis.Components.FinanceReportCommunicatorModule, Eumis.Components, Version=1.0.0.0, Culture=neutral">
        <properties>
          <property name="IsFake" value="false" />
        </properties>
      </module>
      <module type="Eumis.Components.TechnicalReportCommunicatorModule, Eumis.Components, Version=1.0.0.0, Culture=neutral">
        <properties>
          <property name="IsFake" value="false" />
        </properties>
      </module>
      <module type="Eumis.Components.PaymentRequestCommunicatorModule, Eumis.Components, Version=1.0.0.0, Culture=neutral">
        <properties>
          <property name="IsFake" value="false" />
        </properties>
      </module>
      <module type="Eumis.Components.ContractRegistrationCommunicatorModule, Eumis.Components, Version=1.0.0.0, Culture=neutral">
        <properties>
          <property name="IsFake" value="false" />
        </properties>
      </module>
      <module type="Eumis.Components.ContractRegistrationAccessCodesCommunicatorModule, Eumis.Components, Version=1.0.0.0, Culture=neutral">
        <properties>
          <property name="IsFake" value="false" />
        </properties>
      </module>
      <module type="Eumis.Components.StandpointCommunicatorModule, Eumis.Components, Version=1.0.0.0, Culture=neutral">
        <properties>
          <property name="IsFake" value="false" />
        </properties>
      </module>
      <module type="Eumis.Components.PackageCommunicatorModule, Eumis.Components, Version=1.0.0.0, Culture=neutral">
        <properties>
          <property name="IsFake" value="false" />
        </properties>
      </module>
      <module type="Eumis.Components.SpendingPlanCommunicatorModule, Eumis.Components, Version=1.0.0.0, Culture=neutral">
        <properties>
          <property name="IsFake" value="false" />
        </properties>
      </module>
      <module type="Eumis.Components.GuidancesCommunicatorModule, Eumis.Components, Version=1.0.0.0, Culture=neutral">
        <properties>
          <property name="IsFake" value="false" />
        </properties>
      </module>
      <module type="Eumis.Components.OffersCommunicatorModule, Eumis.Components, Version=1.0.0.0, Culture=neutral">
        <properties>
          <property name="IsFake" value="false" />
        </properties>
      </module>
      <module type="Eumis.Components.MicroDataCommunicatorModule, Eumis.Components, Version=1.0.0.0, Culture=neutral">
        <properties>
          <property name="IsFake" value="false" />
        </properties>
      </module>
      <module type="Eumis.Components.RegixCommunicatorModule, Eumis.Components, Version=1.0.0.0, Culture=neutral">
        <properties>
          <property name="IsFake" value="false" />
        </properties>
      </module>
      <module type="Eumis.Components.NewsCommunicatorModule, Eumis.Components, Version=1.0.0.0, Culture=neutral" />
      <module type="Eumis.Components.EumisCacheModule, Eumis.Components, Version=1.0.0.0, Culture=neutral">
        <properties>
          <property name="IsFake" value="false" />
        </properties>
      </module>
    </modules>
  </autofac>
  <connectionStrings>
    <add name="DbContext" connectionString="Data Source=%EUMIS_SQL_SERVER_IP%;Initial Catalog=dev-Suni.Portal;User Id=%EUMIS_SQL_SERVER_USER%;Password=%EUMIS_SQL_SERVER_PASS%;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="PortalSessions" connectionString="Data Source=%EUMIS_SQL_SERVER_IP%;Initial Catalog=Eumis.Portal.Sessions;User Id=%EUMIS_SQL_SERVER_USER%;Password=%EUMIS_SQL_SERVER_PASS%;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="Eumis.Components:ServerLocation" value="http://localhost:57684/api/" />
    <add key="Eumis.Components:ServerCredentials" value="internal,asdf" />
    <add key="Eumis.Components:BlobServerLocation" value="http://localhost:59253/" />
    <add key="Eumis.Components:InternalBlobServerLocation" value="http://localhost:59253/" />
    <add key="Eumis.Components:BlobServerCredentials" value="internal,asdf" />
    <add key="Eumis.Components:ApiRequestTimeout" value="600000" />
    <add key="Eumis.Documents:AttachedDocumentMaxSizeInBytes" value="20971520" />
    <!--20 MB-->
    <add key="Eumis.Portal.Web:IsReportActive" value="true" />
    <add key="Eumis.Portal.Web:IsOffersActive" value="false" />
    <add key="Eumis.Portal.Web:ZipPassword" value="%EUMIS_PORTALAPP_ZIPPASS%" />
    <add key="Eumis.Portal.Web:DeprecatedZipPassword" value="%EUMIS_PORTALAPP_DEPRECATEDZIPPASS%" />
    <add key="Eumis.Portal.Web:UseDeprecatedZipPassword" value="true" />
    <add key="Eumis.Portal.Web:OwinAesProtectorKey" value="f88e1315-0583-4279-b216-ddaf78820aab" />
    <add key="Eumis.Portal.Web:OwinAesProtectorPreamble" value="1af39d4f-bfd9-4a63-99b2-0842c475e3d2" />
    <add key="Eumis.Portal.Web:FeedbackEmail" value="eumis-dev@projects.david.bg" />
    <add key="Eumis.Portal.Web:MailTemplateName" value="FeedbackMessage" />
    <add key="Eumis.Portal.Web:EnvironmentNameKey" value="InnerDevEnvironmentName" />
    <add key="Eumis.Portal.Web:PageItemsCount" value="5" />
    <add key="Eumis.Portal.Web:MicroPageItemsCount" value="25" />
    <add key="Eumis.Portal.Web:GoogleTrackingId" value="G-LN4E4V56CG" />
    <add key="Eumis.Portal.Web:RecaptchaSiteKey" value="6LdDbucUAAAAADA5zo1XQghv5XyhqaaIMfaruUdZ"/>
    <add key="Eumis.Portal.Web:ReCaptchaServerKey" value="%EUMIS_RECAPTCHA_SERVER_KEY%"/>
    <add key="Eumis.Portal.Web:PublicAppLocation" value="http://localhost:51190/" />
    <add key="Eumis.Portal.Web:SkipRecaptchaValidation" value="true" />
    <add key="Eumis.Portal.Web:UmisGovernmentLocation" value="http://localhost:65509" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="None" />
    <globalization uiCulture="bg-BG" culture="bg-BG" />
    <compilation debug="true" targetFramework="4.7.2">
      <assemblies>
        <add assembly="netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.7.2" requestValidationType="Eumis.Common.Validation.TrimRequestValidator, Eumis.Common" requestValidationMode="2.0" maxRequestLength="10485760" executionTimeout="600" />
    <sessionState timeout="600" mode="SQLServer" allowCustomSqlDatabase="true" partitionResolverType="Eumis.Portal.Web.SessionPartitionResolver" />
    <customErrors mode="RemoteOnly" defaultRedirect="/Error/Error.html" />
    <httpHandlers>
      <add verb="GET" path="captcha.ashx" validate="false" type="Eumis.Common.Captcha.CaptchaImageHandler, Eumis.Common, Version=1.0.0.0, Culture=neutral" />
    </httpHandlers>
  </system.web>
  <location path="SSL">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="SSLCustomErrors">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    <handlers>
      <add name="CaptchaImageHandler" verb="GET" path="captcha.ashx" type="Eumis.Common.Captcha.CaptchaImageHandler, Eumis.Common, Version=1.0.0.0, Culture=neutral" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
      <add prefix="custom" assembly="Eumis.Common" />
      <add assembly="NLog.Extended" />
    </extensions>
    <targets>
      <target name="database" xsi:type="AsyncWrapper" queueLimit="100000" overflowAction="Discard" timeToSleepBetweenBatches="100" batchSize="100">
        <target name="_database" xsi:type="Database" dbProvider="System.Data.SqlClient">
          <commandText>
            insert into dbo.Logs ([Level], [LogDate], [IP], [RawUrl], [Form], [UserAgent], [SessionId], [RequestId], [Message]) values (@level, GETDATE(), @ip, @rawUrl, @form, @userAgent, @sessionId, @requestId, @message);
          </commandText>
          <parameter name="@level" layout="${level}" />
          <parameter name="@ip" layout="${aspnet-request:serverVariable=REMOTE_ADDR}" />
          <parameter name="@rawUrl" layout="${aspnet-request:serverVariable=URL}?${aspnet-request:serverVariable=QUERY_STRING}" />
          <parameter name="@form" layout="${custom.requestFormPairs}" />
          <parameter name="@userAgent" layout="${aspnet-request:serverVariable=HTTP_USER_AGENT}" />
          <parameter name="@sessionId" layout="${aspnet-sessionid}" />
          <parameter name="@requestId" layout="${custom.requestId}" />
          <parameter name="@message" layout="${message} ${exception:format=tostring}" />
        </target>
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="database" />
    </rules>
  </nlog>
</configuration>