<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DbContext"
      connectionString="Data Source=%EUMIS_SQL_SERVER_IP%;Initial Catalog=dev-Suni.Portal;User Id=%EUMIS_SQL_SERVER_USER%;Password=%EUMIS_SQL_SERVER_PASS%;MultipleActiveResultSets=True"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="PortalSessions"
      connectionString="Data Source=%EUMIS_SQL_SERVER_IP%;Initial Catalog=Eumis.Portal.Sessions;User Id=%EUMIS_SQL_SERVER_USER%;Password=%EUMIS_SQL_SERVER_PASS%;MultipleActiveResultSets=True"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="Eumis.Components:ServerLocation" value="http://dev.api.suni.isun.zonebg.com/api/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Eumis.Components:ServerCredentials" value="internal,%EUMIS_PORTALAPICREDENTIALS_SECRET%" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Eumis.Components:BlobServerLocation" value="http://dev.files.suni.isun.zonebg.com/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Eumis.Components:InternalBlobServerLocation" value="http://dev.files.suni.isun.zonebg.com/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Eumis.Components:BlobServerCredentials" value="internal,%EUMIS_BLOBSERVERCREDENTIALS_SECRET%" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="Eumis.Portal.Web:IsReportActive" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Eumis.Portal.Web:IsOffersActive" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Eumis.Portal.Web:FeedbackEmail" value="eumis-dev@projects.david.bg" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Eumis.Portal.Web:EnvironmentNameKey" value="DavidCIEnvironmentName" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Eumis.Portal.Web:OwinAesProtectorKey" value="%EUMIS_PORTALAPP_DP_KEY%" />
    <add key="Eumis.Portal.Web:OwinAesProtectorPreamble" value="%EUMIS_PORTALAPP_DP_PREAMBLE%" />
    <add key="Eumis.Portal.Web:GoogleTrackingId" value="UA-122832469-5" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Eumis.Portal.Web:PublicAppLocation" value="http://dev.eufunds.isun.zonebg.com/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Eumis.Portal.Web:UmisGovernmentLocation" value="http://dev.suni.isun.zonebg.com/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>
