<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings>
        <add name="DbContext"
          connectionString="Data Source=%EUMIS_SQL_SERVER_IP%;Initial Catalog=Eumis;MultipleActiveResultSets=True;User Id=%EUMIS_SQL_SERVER_USER%;Password=%EUMIS_SQL_SERVER_PASS%;"
          xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <add name="Blobs1"
          connectionString="Data Source=%EUMIS_SQL_SERVER_IP%;Initial Catalog=EumisBlobs1;MultipleActiveResultSets=True;User Id=%EUMIS_SQL_SERVER_USER%;Password=%EUMIS_SQL_SERVER_PASS%;"
          xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <add name="Logs1"
          connectionString="Data Source=%EUMIS_SQL_SERVER_IP%;Initial Catalog=EumisLogs3;MultipleActiveResultSets=True;User Id=%EUMIS_SQL_SERVER_USER%;Password=%EUMIS_SQL_SERVER_PASS%;"
          xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <add name="Blobs2"
          connectionString="Data Source=%EUMIS_SQL_SERVER_IP%;Initial Catalog=EumisBlobs2;MultipleActiveResultSets=True;User Id=%EUMIS_SQL_SERVER_USER%;Password=%EUMIS_SQL_SERVER_PASS%;"
          xdt:Transform="Insert"/>
        <add name="Blobs3"
          connectionString="Data Source=%EUMIS_SQL_SERVER_IP%;Initial Catalog=EumisBlobs3;MultipleActiveResultSets=True;User Id=%EUMIS_SQL_SERVER_USER%;Password=%EUMIS_SQL_SERVER_PASS%;"
          xdt:Transform="Insert"/>
        <add name="Blobs4"
          connectionString="Data Source=%EUMIS_SQL_SERVER_IP%;Initial Catalog=EumisBlobs4;MultipleActiveResultSets=True;User Id=%EUMIS_SQL_SERVER_USER%;Password=%EUMIS_SQL_SERVER_PASS%;"
          xdt:Transform="Insert"/>
        <add name="Blobs5"
          connectionString="Data Source=%EUMIS_SQL_SERVER_IP%;Initial Catalog=EumisBlobs5;MultipleActiveResultSets=True;User Id=%EUMIS_SQL_SERVER_USER%;Password=%EUMIS_SQL_SERVER_PASS%;"
          xdt:Transform="Insert"/>
        <add name="Blobs6"
          connectionString="Data Source=%EUMIS_SQL_SERVER_IP%;Initial Catalog=EumisBlobs6;MultipleActiveResultSets=True;User Id=%EUMIS_SQL_SERVER_USER%;Password=%EUMIS_SQL_SERVER_PASS%;"
          xdt:Transform="Insert"/>
        <add name="Blobs7"
          connectionString="Data Source=%EUMIS_SQL_SERVER_IP%;Initial Catalog=EumisBlobs7;MultipleActiveResultSets=True;User Id=%EUMIS_SQL_SERVER_USER%;Password=%EUMIS_SQL_SERVER_PASS%;"
          xdt:Transform="Insert"/>
        <add name="Blobs8"
          connectionString="Data Source=%EUMIS_SQL_SERVER_IP%;Initial Catalog=EumisBlobs8;MultipleActiveResultSets=True;User Id=%EUMIS_SQL_SERVER_USER%;Password=%EUMIS_SQL_SERVER_PASS%;"
          xdt:Transform="Insert"/>
        <add name="Blobs9"
          connectionString="Data Source=%EUMIS_SQL_SERVER_IP%;Initial Catalog=EumisBlobs9;MultipleActiveResultSets=True;User Id=%EUMIS_SQL_SERVER_USER%;Password=%EUMIS_SQL_SERVER_PASS%;"
          xdt:Transform="Insert"/>
        <add name="Blobs10"
          connectionString="Data Source=%EUMIS_SQL_SERVER_IP%;Initial Catalog=EumisBlobs10;MultipleActiveResultSets=True;User Id=%EUMIS_SQL_SERVER_USER%;Password=%EUMIS_SQL_SERVER_PASS%;"
          xdt:Transform="Insert"/>
        <add name="Blobs11"
          connectionString="Data Source=%EUMIS_SQL_SERVER_IP%;Initial Catalog=EumisBlobs11;MultipleActiveResultSets=True;User Id=%EUMIS_SQL_SERVER_USER%;Password=%EUMIS_SQL_SERVER_PASS%;"
          xdt:Transform="Insert"/>
         <add name="Blobs12"
          connectionString="Data Source=%EUMIS_SQL_SERVER_IP%;Initial Catalog=EumisBlobs12;MultipleActiveResultSets=True;User Id=%EUMIS_SQL_SERVER_USER%;Password=%EUMIS_SQL_SERVER_PASS%;"
          xdt:Transform="Insert"/>
        <add name="Blobs13"
          connectionString="Data Source=%EUMIS_SQL_SERVER_IP%;Initial Catalog=EumisBlobs13;MultipleActiveResultSets=True;User Id=%EUMIS_SQL_SERVER_USER%;Password=%EUMIS_SQL_SERVER_PASS%;"
          xdt:Transform="Insert"/>
        <add name="Blobs14"
          connectionString="Data Source=%EUMIS_SQL_SERVER_IP%;Initial Catalog=EumisBlobs14;MultipleActiveResultSets=True;User Id=%EUMIS_SQL_SERVER_USER%;Password=%EUMIS_SQL_SERVER_PASS%;"
          xdt:Transform="Insert"/>
        <add name="Blobs15"
          connectionString="Data Source=%EUMIS_SQL_SERVER_IP%;Initial Catalog=EumisBlobs15;MultipleActiveResultSets=True;User Id=%EUMIS_SQL_SERVER_USER%;Password=%EUMIS_SQL_SERVER_PASS%;"
          xdt:Transform="Insert"/>
    </connectionStrings>
    <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <targets>
            <target name="errorfile" xdt:Locator="Match(name)">
                <target fileName="D:\Logs\Eumis.Blob.Host\${date:format=dd.MM.yyyy}.txt" xdt:Transform="SetAttributes" />
            </target>
        </targets>
    </nlog>
    <appSettings>
        <add key="Eumis.Blob.Host:OAuthAllowInsecureHttp" value="true"
             xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="Eumis.Blob.Host:Clients" value="internal,%EUMIS_BLOBSERVERCREDENTIALS_SECRET%;"
             xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="Eumis.Blob.Host:ClientDomains" value="http://nims.egov.bg;http://enims.egov.bg;https://nims.egov.bg;https://enims.egov.bg;"
             xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="Eumis.Blob.Host:AssertExistsBlobReference" value="false"
             xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="Eumis.Blob.Host:CurrentBlobDbConnectionString" value="Blobs13"
             xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    </appSettings>
    <system.web>
        <compilation xdt:Transform="RemoveAttributes(debug)" />
    </system.web>
</configuration>