<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DbContextMain"
      connectionString="Data Source=%EUMIS_SQL_SERVER_IP%;Initial Catalog=TestEumisPublic;User Id=%EUMIS_SQL_SERVER_USER%;password=%EUMIS_SQL_SERVER_PASS%;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="DbContextUmis"
      connectionString="Data Source=%EUMIS_SQL_SERVER_IP%;Initial Catalog=TestEumis;User Id=%EUMIS_SQL_SERVER_USER%;password=%EUMIS_SQL_SERVER_PASS%;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="Eumis.Public.Web:EnvironmentNameKey" value="TestEnvironmentName" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Eumis.Public.Web:GoogleTrackingId" value="UA-122832469-9" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Eumis.Public.Common:PortalLocation" value="https://testeumis2020.government.bg"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Eumis.Public.Common:CacheExpirationInSeconds" value="86400" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>
