<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DbContextMain"
      connectionString="Data Source=%EUMIS_SQL_SERVER_IP%;Initial Catalog=dev-EumisPublic;MultipleActiveResultSets=True;User Id=%EUMIS_SQL_SERVER_USER%;Password=%EUMIS_SQL_SERVER_PASS%;" providerName="System.Data.SqlClient"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="DbContextUmis"
      connectionString="Data Source=%EUMIS_SQL_SERVER_IP%;Initial Catalog=dev-Eumis;MultipleActiveResultSets=True;User Id=%EUMIS_SQL_SERVER_USER%;Password=%EUMIS_SQL_SERVER_PASS%;" providerName="System.Data.SqlClient"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="Eumis.Public.Web:EnvironmentNameKey" value="DavidTestEnvironmentName" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Eumis.Public.Web:GoogleTrackingId" value="UA-122832469-8" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Eumis.Public.Common:PortalLocation" value="http://dev.eumis.isun.zonebg.com"
             xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Eumis.Public.Common:CacheExpirationInSeconds" value="86400" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <system.webServer>
    <rewrite xdt:Transform="Remove" >
    </rewrite>
  </system.webServer>
</configuration>
