<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings>
        <add name="DbContext"
          connectionString="[specified during deploy]"
          xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <add name="Logs1"
          connectionString="[specified during deploy]"
          xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
    <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <targets>
            <target name="errorfile" xdt:Locator="Match(name)">
                <target fileName="[specified during deploy]" xdt:Transform="SetAttributes" />
            </target>
        </targets>
    </nlog>
    <appSettings>
        <add key="Eumis.Job.Host:MailServer" value="%EUMIS_MAIL_SERVER%"
             xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="Eumis.Job.Host:MailServerUsername" value="%EUMIS_MAIL_SERVER_USR%"
             xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="Eumis.Job.Host:MailServerPassword" value="%EUMIS_MAIL_SERVER_PWD%"
             xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="Eumis.Job.Host:ActivationSender" value="noreply-isun@ciela.com"
             xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="Eumis.ApplicationServices:PortalLocationForAPIs" value="[specified during deploy]"
             xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="Eumis.Job.Host:PortalUrl" value="[specified during deploy]"
             xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="Eumis.Job.Host:PortalReportUrl" value="[specified during deploy]"
             xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="Eumis.Job.Host:SystemUrl" value="[specified during deploy]"
             xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="Eumis.Job.Host:DevOverrideEmail" value="eumis-dev@projects.david.bg"
           xdt:Transform="Insert"/>
    </appSettings>
    <system.web>
        <compilation xdt:Transform="RemoveAttributes(debug)" />
    </system.web>
</configuration>
