<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DbContext"
      connectionString="Data Source=%EUMIS_SQL_SERVER_IP%;Initial Catalog=LearnEumis;MultipleActiveResultSets=True;User Id=%EUMIS_SQL_SERVER_USER%;Password=%EUMIS_SQL_SERVER_PASS%;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="Logs1"
      connectionString="Data Source=%EUMIS_SQL_SERVER_IP%;Initial Catalog=LearnEumisLogs1;MultipleActiveResultSets=True;User Id=%EUMIS_SQL_SERVER_USER%;Password=%EUMIS_SQL_SERVER_PASS%;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="errorfile" xdt:Locator="Match(name)">
        <target fileName="C:\Logs\LearnEumis.Job.Host\${date:format=dd.MM.yyyy}.txt" xdt:Transform="SetAttributes" />
      </target>
    </targets>
  </nlog>
  <appSettings>
    <add key="Eumis.ApplicationServices:PortalLocationForAPIs" value="https://learneumis2020.government.bg"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Eumis.Job.Host:MailServer" value="%EUMIS_MAIL_SERVER%"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Eumis.Job.Host:ActivationSender" value="noreply.umis2020@egov.bg"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Eumis.Job.Host:PortalUrl" value="https://learneumis2020.government.bg"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Eumis.Job.Host:PortalReportUrl" value="https://learneumis2020.government.bg/report"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Eumis.Job.Host:SystemUrl" value="https://learnumis2020.government.bg"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>