<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="DbContext" connectionString="Data Source=.\;Initial Catalog=Eumis;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="Logs1" connectionString="Data Source=.\;Initial Catalog=EumisLogs1;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="errorfile" xsi:type="AsyncWrapper" queueLimit="100000" overflowAction="Discard" timeToSleepBetweenBatches="100" batchSize="100">
        <target xsi:type="File" encoding="utf-8" fileName="${basedir}/errors/${date:format=dd.MM.yyyy}.txt" layout="${date:format=HH\:mm\:ss.fffffff} RqID: ${event-context:item=RequestId} RawUrl: ${event-context:item=PathAndQuery}${newline}${message}${newline}${exception:format=tostring}${newline}${newline}" />
      </target>
      <target name="databaseLog" xsi:type="AsyncWrapper" queueLimit="100000" overflowAction="Discard" timeToSleepBetweenBatches="100" batchSize="100">
        <target name="_databaseLog" xsi:type="Database" dbProvider="System.Data.SqlClient">
          <commandText>
            INSERT INTO dbo.Logs ([Application], [Level], [LogDate], [IP], [Method], [RawUrl], [UserAgent], [Message], [RequestId], [SessionId], [UserId], [RegistrationId], [ContractRegistrationId], [ContractAccessCodeId])
            SELECT @appName, @level, @date, @ip, @method, @rawUrl, @userAgent, @message,
            CASE
            WHEN LEN(@requestId) = 0 THEN NULL
            ELSE @requestId
            END AS [RequestId],
            CASE
            WHEN LEN(@sessionId) = 0 THEN NULL
            ELSE @sessionId
            END AS [SessionId],
            CASE
            WHEN LEN(@userId) = 0 THEN NULL
            ELSE @userId
            END AS [UserId],
            CASE
            WHEN LEN(@registrationId) = 0 THEN NULL
            ELSE @registrationId
            END AS [RegistrationId],
            CASE
            WHEN LEN(@contractRegistrationId) = 0 THEN NULL
            ELSE @contractRegistrationId
            END AS [ContractRegistrationId],
            CASE
            WHEN LEN(@contractAccessCodeId) = 0 THEN NULL
            ELSE @contractAccessCodeId
            END AS [ContractAccessCodeId]
          </commandText>
          <parameter name="@appName" layout="${event-context:item=AppName}" />
          <parameter name="@level" layout="${level}" />
          <parameter name="@date" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fffffff}" />
          <parameter name="@ip" layout="${event-context:item=RemoteIpAddress}" />
          <parameter name="@method" layout="${event-context:item=Method}" />
          <parameter name="@rawUrl" layout="${event-context:item=PathAndQuery}" />
          <parameter name="@userAgent" layout="${event-context:item=UserAgent}" />
          <parameter name="@sessionId" layout="${event-context:item=SessionId}" />
          <parameter name="@requestId" layout="${event-context:item=RequestId}" />
          <parameter name="@userId" layout="${event-context:item=UserId}" />
          <parameter name="@registrationId" layout="${event-context:item=RegistrationId}" />
          <parameter name="@contractRegistrationId" layout="${event-context:item=ContractRegistrationId}" />
          <parameter name="@contractAccessCodeId" layout="${event-context:item=ContractAccessCodeId}" />
          <parameter name="@message" layout="${message} ${exception:format=tostring}" />
        </target>
      </target>
    </targets>
    <rules>
      <logger name="infoLogger" minlevel="Error" writeTo="errorfile" />
      <logger name="infoLogger" minlevel="Info" appendTo="databaseLog" />
    </rules>
  </nlog>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="owin:appStartup" value="Eumis.Job.Host.Startup, Eumis.Job.Host" />
    <add key="owin:AutomaticAppStartup" value="false" />
    <add key="Eumis.ApplicationServices:PortalLocationForAPIs" value="http://localhost:51152" />
    <add key="Eumis.Job.Host:MailServer" value="" />
    <add key="Eumis.Job.Host:MailServerUsername" value="" />
    <add key="Eumis.Job.Host:MailServerPassword" value="" />
    <add key="Eumis.Job.Host:MailServerDomain" value="" />
    <add key="Eumis.Job.Host:ActivationSender" value="eumis-dev@projects.david.bg" />
    <add key="Eumis.Job.Host:PortalUrl" value="http://localhost:51152" />
    <add key="Eumis.Job.Host:PortalReportUrl" value="http://localhost:51152/report" />
    <add key="Eumis.Job.Host:SystemUrl" value="http://localhost:65509" />
    <add key="Eumis.Job.Host:EmailJobBatchSize" value="1000" />
    <add key="Eumis.Job.Host:EmailJobPeriodInSeconds" value="30" />
    <add key="Eumis.Job.Host:EmailJobMaxFailedAttempts" value="5" />
    <add key="Eumis.Job.Host:EmailJobFailedAttemptTimeoutInMinutes" value="10" />
    <add key="Eumis.Job.Host:EmailJobParallelMailTasks" value="10" />
    <add key="Eumis.Job.Host:AutomaticContractCreationJobBatchSize" value="50" />
    <add key="Eumis.Job.Host:AutomaticContractCreationJobPeriodInSeconds" value="30" />
    <add key="Eumis.Job.Host:AutomaticContractCreationJobParallelTasks" value="5" />
    <add key="Eumis.Job.Host:AutomaticContractReportAcceptanceJobBatchSize" value="50" />
    <add key="Eumis.Job.Host:AutomaticContractReportAcceptanceJobPeriodInSeconds" value="30" />
    <add key="Eumis.Job.Host:AutomaticContractReportAcceptanceJobParallelTasks" value="5" />
    <add key="Eumis.Job.Host:ProcedureTimeLimitJobPeriodInSeconds" value="120" />
    <add key="Eumis.Job.Host:ProjectCommunicationStatusJobPeriodInSeconds" value="14400" />
    <add key="Eumis.Job.Host:NotificationDistributorJobPeriodInSeconds" value="60" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <handlers>
      <clear />
      <add name="Owin" verb="*" path="*" type="Microsoft.Owin.Host.SystemWeb.OwinHttpHandler, Microsoft.Owin.Host.SystemWeb" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.2.0" newVersion="5.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>