<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings>
      <add name="DbContext"
        connectionString="Data Source=%EUMIS_SQL_SERVER_IP%;Initial Catalog=dev-Suni;MultipleActiveResultSets=True;User Id=%EUMIS_SQL_SERVER_USER%;Password=%EUMIS_SQL_SERVER_PASS%;"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <add name="Logs1"
        connectionString="Data Source=%EUMIS_SQL_SERVER_IP%;Initial Catalog=dev-Suni.Logs1;MultipleActiveResultSets=True;User Id=%EUMIS_SQL_SERVER_USER%;Password=%EUMIS_SQL_SERVER_PASS%;"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
    <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <targets>
            <target name="errorfile" xdt:Locator="Match(name)">
                <target fileName="C:\Logs\Eumis.Job.Host\${date:format=dd.MM.yyyy}.txt" xdt:Transform="SetAttributes" />
            </target>
        </targets>
    </nlog>
    <appSettings>
        <add key="Eumis.ApplicationServices:PortalLocationForAPIs" value="https://testenims.egov.bg"
             xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="Eumis.Job.Host:MailServer" value="%EUMIS_MAIL_SERVER%"
             xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="Eumis.Job.Host:ActivationSender" value="noreply.nims@egov.bg"
             xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="Eumis.Job.Host:PortalUrl" value="https://testenims.egov.bg"
             xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="Eumis.Job.Host:PortalReportUrl" value="https://testenims.egov.bg/report"
             xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="Eumis.Job.Host:SystemUrl" value="https://testnims.egov.bg"
             xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    </appSettings>
    <system.web>
        <compilation xdt:Transform="RemoveAttributes(debug)" />
    </system.web>
</configuration>