<div class="tab-content">
  <ng-form name="newNotificationSettingForm" sc-validate="{}" sc-form-readonly>
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong class="heading" l10n-text="notificationSetting_notificationSettingsNew_title"></strong>
        <div class="pull-right">
          <sc-button name="saveBtn" btn-click="save()" text="notificationSetting_notificationSettingsNew_save" class="btn btn-primary btn-xs" icon="glyphicon-floppy-disk">
          </sc-button>
          <sc-button name="cancelBtn" btn-click="cancel()" text="notificationSetting_notificationSettingsNew_cancel" class="btn btn-default btn-xs" icon="glyphicon-ban-circle">
          </sc-button>
        </div>
      </div>
      <div class="well-sm panel-body">
        <eumis-notification-setting name="notificationSettingForm" ng-model="newNotificationSetting"></eumis-notification-setting>
      </div>
    </div>
  </ng-form>
</div>
