<ng-form sc-validate="{}" sc-form-readonly>
  <div class="row">
    <sc-field type="date" ng-model="model.createDate" ng-readonly="true" l10n-text="messages_messageDataForm_createDate" class="col-sm-3"></sc-field>
    <sc-field type="text" ng-model="model.sender" ng-disabled="true" l10n-text="messages_messageDataForm_sender" class="col-sm-4"></sc-field>
    <sc-field type="nomenclature" alias="'messageRecipients'" mode="id" multiple="multiple" ng-model="model.recipients" l10n-text="messages_messageDataForm_recipients" class="col-sm-5"></sc-field>
  </div>
  <div class="row">
    <sc-field type="text" ng-model="model.title" ng-maxlength="200" ng-required="true" validations="{maxlength: 'messages_messageDataForm_titleMaxlength'}" l10n-text="messages_messageDataForm_title" class="col-sm-12"></sc-field>
  </div>
  <div class="row">
    <sc-field type="textarea" ng-model="model.content" rows="6" ng-required="true" l10n-text="messages_messageDataForm_content" class="col-sm-12"></sc-field>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <label style="display:inline-block;" class="pull-left" l10n-text="messages_messageDataForm_files"></label>
      <sc-button btn-click="addFile()" class="btn btn-primary btn-xs pull-left" icon="glyphicon-plus" ng-disabled="form.$readonly" style="position:relative; right: -5px; top: -3px;"></sc-button>
      <table class="table table-bordered" style="clear: both; margin-bottom: 7px; font-size: 12px;" border="0" cellspacing="0" cellpadding="0">
        <thead>
          <th style="width: 1px;"></th>
          <th sc-has-error="descr">
            <label class="control-label" l10n-text="messages_messageDataForm_fileDescr"></label>
            <sc-validation-error field-name="descr" validations="{maxlength: 'messages_messageDataForm_fileDescrMaxlength', required: 'default'}"></sc-validation-error>
          </th>
          <th sc-has-error="file" style="width: 25%">
            <label class="control-label" l10n-text="messages_messageDataForm_file"></label>
            <sc-validation-error field-name="file" validations="{required: 'default'}"></sc-validation-error>
          </th>
        </thead>
        <tbody>
          <tr ng-repeat="file in model.files | filter: {status: '!removed'} track by $index">
            <td>
              <sc-button btn-click="removeFile(file, $index)" class="btn btn-danger btn-xs" icon="glyphicon-remove" ng-disabled="form.$readonly"></sc-button>
            </td>
            <td>
              <sc-text name="descr" ng-model="file.description" ng-required="true" ng-maxlength="200" ng-readonly="form.$readonly"></sc-text>
            </td>
            <td>
              <sc-file name="file" ng-model="file.file" ng-readonly="form.$readonly" url-template="MessageFile" url-params="{ id: model.messageId }" ng-required="true"></sc-file>
            </td>
          </tr>
          <tr ng-show="model.files.length === 0">
            <td colspan="3" l10n-text="messages_messageDataForm_noFiles"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-form>
