<div class="panel panel-default">
  <div class="panel-body">
    <sc-datatable items="contractAccessCodes" filterable="true" pageable="true" sortable="true" dynamic-columns="true">
      <sc-column sortable="false" class="buttons-cell" has-content="true">
        <sc-button name="editBtn" btn-sref="{ state: 'root.contracts.view.accesscodes.edit', params: {ind: item.contractAccessCodeId } }" class="btn btn-xs btn-primary" icon="glyphicon-pencil"></sc-button>
      </sc-column>
      <sc-column data="email" title="contracts_contractAccessCodesSearch_email">
      </sc-column>
      <sc-column data="code" title="contracts_contractAccessCodesSearch_code" visible="{{showCodes}}">
      </sc-column>
      <sc-column data="firstName" title="contracts_contractAccessCodesSearch_firstName">
      </sc-column>
      <sc-column data="lastName" title="contracts_contractAccessCodesSearch_lastName">
      </sc-column>
      <sc-column data="isActive" title="contracts_contractAccessCodesSearch_isActive" type="boolean">
      </sc-column>
      <sc-column data="createDate" title="contracts_contractAccessCodesSearch_createDate" type="datetime">
      </sc-column>
      <sc-column data="modifyDate" title="contracts_contractAccessCodesSearch_modifyDate" type="datetime">
      </sc-column>
    </sc-datatable>
  </div>
</div>
