<ng-form name="newContractProcurementDocumentForm" sc-validate="{}" sc-form-readonly>
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong class="heading" l10n-text="contracts_newContractProcurementDocument_title"></strong>

      <div class="pull-right">
        <sc-button name="saveBtn" btn-click="save()" text="contracts_newContractProcurementDocument_save" class="btn btn-primary btn-xs" icon="glyphicon-floppy-disk">
        </sc-button>
        <sc-button name="cancelBtn" btn-click="cancel()" text="contracts_newContractProcurementDocument_cancel" class="btn btn-default btn-xs" icon="glyphicon-ban-circle">
        </sc-button>
      </div>
    </div>

    <div class="well-sm panel-body">
      <eumis-document name="documentForm" ng-model="document" sc-form-params="{ urlTemplate: 'ContractFile', urlParamsId: document.contractId}"></eumis-document>
    </div>
  </div>
</ng-form>
