<ng-form name="newForm" sc-validate="{}" sc-form-readonly>
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong class="heading" class="heading" class="heading" l10n-text="contractRegistrations_newForm_title"></strong>

      <div class="pull-right">
        <sc-button name="saveBtn" btn-click="save()" text="contractRegistrations_newForm_save" class="btn btn-primary btn-xs" icon="glyphicon-floppy-disk">
        </sc-button>
        <sc-button name="cancelBtn" btn-click="cancel()" text="contractRegistrations_newForm_cancel" class="btn btn-default btn-xs" icon="glyphicon-ban-circle">
        </sc-button>
      </div>
    </div>

    <div class="well-sm panel-body">
      <eumis-contract-contract-registration name="contractRegistrationForm" ng-model="contractContractReg"></eumis-contract-contract-registration>
    </div>
  </div>
</ng-form>
