<ng-form name="editContractUserForm" sc-validate="{}" sc-form-readonly="!editMode">
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong class="heading" l10n-text="contracts_editContractUser_title"></strong>

      <div class="pull-right">
        <sc-button name="deleteBtn" btn-click="deleteUser()" text="contracts_editContractUser_deleteUser" class="btn btn-danger btn-xs" icon="glyphicon-remove"
                   ng-disabled="!$canDo('ContractActions.Edit', contractUser.contractId)"></sc-button>
        <sc-button name="cancelBtn" btn-click="cancel()" text="contracts_editContractUser_cancel" class="btn btn-default btn-xs" icon="glyphicon-ban-circle">
        </sc-button>
      </div>
    </div>

    <div class="well-sm panel-body">
      <div class="row">
        <sc-field type="nomenclature" alias="'contractUsers'" mode="id" ng-model="contractUser.userId" ng-disabled="true" l10n-text="contracts_editContractUser_user" class="col-sm-7 col-md-6"></sc-field>
      </div>
    </div>
  </div>
</ng-form>
