<div class="panel panel-default">
  <div class="panel-body">
    
    <div>
      <h5 class="table-header table-header-first pull-left" l10n-text="contractReportChecks_contractReportChecks_reportTechnical"></h5>
      <sc-button name="newTechnicalCheckBtn" btn-click="newCheck('technical')" text="contractReportChecks_contractReportChecks_add" style="position:relative; right: -5px; top: -3px;" class="btn btn-xs btn-primary" icon="glyphicon-plus"
        ng-disabled="!$canDo('ContractReportCheckActions.EditTechnical', contractReportId)" ng-if="contractReportStatus === 'unchecked'"></sc-button>
    </div>

    <sc-datatable items="contractReportTechnicalChecks" filterable="false" pageable="false" sortable="false" dynamic-columns="false" has-info-text="false" scrollable="false">
      <sc-column sortable="false" class="buttons-cell" has-content="true">
        <sc-button name="editBtn" btn-sref="{ state: 'root.contractReportChecks.view.checks.editTechnical', params: { ind: item.contractReportTechnicalCheckId } }" class="btn btn-xs btn-primary" icon="glyphicon-pencil"
          ng-disabled="!$canDo('ContractReportCheckActions.View', item.contractReportId)"></sc-button>
      </sc-column>
      <sc-column data="technicalVersionNum" title="contractReportChecks_contractReportChecks_reportTechnical_technicalVersionNum" type="number"></sc-column>
      <sc-column data="technicalVersionSubNum" title="contractReportChecks_contractReportChecks_reportTechnical_technicalVersionSubNum" type="number"></sc-column>
      <sc-column data="orderNum" title="contractReportChecks_contractReportChecks_reportTechnical_orderNum" type="number"></sc-column>
      <sc-column data="status" title="contractReportChecks_contractReportChecks_reportTechnical_status"></sc-column>
      <sc-column data="checkedByUser" title="contractReportChecks_contractReportChecks_reportTechnical_checkedByUser"></sc-column>
      <sc-column data="createDate" title="contractReportChecks_contractReportChecks_reportTechnical_createDate" type="date"></sc-column>
    </sc-datatable>

    <div class="mutiple-tables-spacing"></div>

    <div>
      <h5 class="table-header table-header-first pull-left" l10n-text="contractReportChecks_contractReportChecks_reportFinancial"></h5>
      <sc-button name="newFinancialCheckBtn" btn-click="newCheck('financial')" text="contractReportChecks_contractReportChecks_add" style="position:relative; right: -5px; top: -3px;" class="btn btn-xs btn-primary" icon="glyphicon-plus"
        ng-disabled="!$canDo('ContractReportCheckActions.EditFinancial', contractReportId)" ng-if="contractReportStatus === 'unchecked'"></sc-button>
    </div>

    <sc-datatable items="contractReportFinancialChecks" filterable="false" pageable="false" sortable="false" dynamic-columns="false" has-info-text="false" scrollable="false">
      <sc-column sortable="false" class="buttons-cell" has-content="true">
        <sc-button name="editBtn" btn-sref="{ state: 'root.contractReportChecks.view.checks.editFinancial', params: { ind: item.contractReportFinancialCheckId } }" class="btn btn-xs btn-primary" icon="glyphicon-pencil"
          ng-disabled="!$canDo('ContractReportCheckActions.View', item.contractReportId)"></sc-button>
      </sc-column>
      <sc-column data="financialVersionNum" title="contractReportChecks_contractReportChecks_reportFinancial_financialVersionNum" type="number"></sc-column>
      <sc-column data="financialVersionSubNum" title="contractReportChecks_contractReportChecks_reportFinancial_financialVersionSubNum" type="number"></sc-column>
      <sc-column data="orderNum" title="contractReportChecks_contractReportChecks_reportFinancial_orderNum" type="number"></sc-column>
      <sc-column data="status" title="contractReportChecks_contractReportChecks_reportFinancial_status"></sc-column>
      <sc-column data="checkedByUser" title="contractReportChecks_contractReportChecks_reportFinancial_checkedByUser"></sc-column>
      <sc-column data="createDate" title="contractReportChecks_contractReportChecks_reportFinancial_createDate" type="date"></sc-column>
    </sc-datatable>
  </div>
</div>
