<ng-form name="editContractReportAdvancePaymentAmountForm" sc-validate="{}" sc-form-readonly="!editMode">
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong class="heading" l10n-text="contractReportChecks_contractReportAdvancePaymentAmountEdit_title"></strong>

      <div class="pull-right">
        <sc-button name="endedBtn" btn-click="changeAdvancePaymentAmountStatus('ended')" text="contractReportChecks_contractReportAdvancePaymentAmountEdit_ended" class="btn btn-default btn-xs"
          ng-show="contractReportStatus === 'unchecked' && contractReportAdvancePaymentAmount.status === 'draft' && !editMode" ng-disabled="!$canDo('ContractReportCheckActions.EditFinancial', contractReportId)"></sc-button>

        <sc-button name="draftBtn" btn-click="changeAdvancePaymentAmountStatus('draft')" text="contractReportChecks_contractReportAdvancePaymentAmountEdit_draft" class="btn btn-success btn-xs"
          ng-show="contractReportStatus === 'unchecked' && contractReportAdvancePaymentAmount.status === 'ended' && !editMode" ng-disabled="!$canDo('ContractReportCheckActions.EditFinancial', contractReportId)"></sc-button>

        <sc-button name="editBtn" btn-click="edit()" text="contractReportChecks_editContractReportChecksFinancial_edit" class="btn btn-primary btn-xs" icon="glyphicon-edit"
          ng-show="contractReportStatus === 'unchecked' && contractReportAdvancePaymentAmount.status === 'draft' && !editMode" ng-disabled="!$canDo('ContractReportCheckActions.EditFinancial', contractReportId)"></sc-button>

        <sc-button name="saveBtn" btn-click="save()" text="contractReportChecks_contractReportAdvancePaymentAmountEdit_save"
          class="btn btn-primary btn-xs" icon="glyphicon-floppy-disk" ng-show="editMode">
        </sc-button>
        <sc-button name="cancelBtn" btn-click="cancel()" text="contractReportChecks_contractReportAdvancePaymentAmountEdit_cancel"
          class="btn btn-default btn-xs" icon="glyphicon-ban-circle" ng-show="editMode">
        </sc-button>
      </div>
    </div>

    <div class="well-sm panel-body">
      <h5 class="form-header form-header-first" l10n-text="contractReportChecks_contractReportAdvancePaymentAmountEdit_reportPayment"></h5>
      <eumis-contract-report-payment name="contractReportPaymentForm" ng-model="contractReportAdvancePaymentAmount.contractReportPayment"></eumis-contract-report-payment>
      <div class="row">
        <eumis-structured-document document="contractReportPayment" gid="contractReportAdvancePaymentAmount.contractReportPayment.xmlGid"
          text="contractReportChecks_contractReportAdvancePaymentAmountEdit_document" view-mode class="col-sm-4 col-md-3">
        </eumis-structured-document>
      </div>

      <h5 class="form-header" l10n-text="contractReportChecks_contractReportAdvancePaymentAmountEdit_advancePaymentAmount"></h5>
      <eumis-contract-report-advance-payment-amount name="contractReportAdvancePaymentAmountForm" ng-model="contractReportAdvancePaymentAmount" sc-form-params="{ approvedEdit: true }"></eumis-contract-report-advance-payment-amount>
    </div>
  </div>
</ng-form>