<ng-form name="editContractReportFinancialForm" sc-validate="{}" sc-form-readonly>
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong class="heading" l10n-text="contractReportChecks_editContractReportDocumentsFinancial_title"></strong>

      <div class="pull-right">
        <sc-button name="draftBtn" btn-click="changeFinancialStatus('draft')" text="contractReportChecks_editContractReportDocumentsFinancial_draft" class="btn btn-success btn-xs"
          ng-disabled="!$canDo('ContractReportCheckActions.EditFinancial', contractReportId)" ng-show="contractReportStatus === 'unchecked' && contractReportFinancial.status === 'entered'" >
        </sc-button>

        <sc-button name="returnBtn" btn-click="changeFinancialStatus('returned')" text="contractReportChecks_editContractReportDocumentsFinancial_returned" class="btn btn-danger btn-xs"
          ng-disabled="!$canDo('ContractReportCheckActions.EditFinancial', contractReportId)" ng-show="contractReportStatus === 'unchecked' && contractReportFinancial.status === 'actual'" >
        </sc-button>

        <sc-button name="actualBtn" btn-click="changeFinancialStatus('actual')" text="contractReportChecks_editContractReportDocumentsFinancial_actual" class="btn btn-info btn-xs"
          ng-disabled="!$canDo('ContractReportCheckActions.EditFinancial', contractReportId)" ng-show="contractReportStatus === 'unchecked' && contractReportFinancial.status === 'entered'" >
        </sc-button>

        <sc-button name="backBtn" btn-click="back()" text="contractReportChecks_editContractReportDocumentsFinancial_back" class="btn btn-primary btn-xs" icon="glyphicon-arrow-left">
        </sc-button>
      </div>
    </div>

    <div class="well-sm panel-body">
      <eumis-contract-report-financial name="contractReportFinancialForm" ng-model="contractReportFinancial"></eumis-contract-report-financial>

      <div class="row">
        <eumis-structured-document document="contractReportFinancial" gid="contractReportFinancial.xmlGid" text="contractReportChecks_editContractReportDocumentsFinancial_document"
          readonly="contractReportStatus !== 'unchecked' || contractReportFinancial.status !== 'draft' ||!$canDo('ContractReportCheckActions.EditFinancial', contractReportId)"
          class="col-sm-4 col-md-3" doc-updated="reportUpdated">
        </eumis-structured-document>
      </div>
    </div>
  </div>
</ng-form>
