<div class="panel panel-default">
  <div class="panel-body">
    <div class="well well-sm">
      <div class="row">
        <sc-field type="nomenclature" alias="'programmePriorities'" mode="id" ng-model="filters.programmePriorityId" l10n-text="auditAuthorityCommunications_contractsSearch_programmePriority" class="col-sm-5"></sc-field>
        <sc-field type="nomenclature" alias="'procedures'" mode="id" ng-model="filters.procedureId" params="{ programmePriorityId: filters.programmePriorityId }" l10n-text="auditAuthorityCommunications_contractsSearch_procedure" class="col-sm-5"></sc-field>
        <div class="labeless col-sm-2">
          <sc-button name="seachBtn" btn-click="search()" text="auditAuthorityCommunications_contractsSearch_search" class="btn btn-default btn-sm pull-right" icon="glyphicon-search"></sc-button>
        </div>
      </div>
    </div>

    <sc-datatable items="contracts" filterable="true" pageable="true" sortable="true" dynamic-columns="true" scrollable="false" row-class="{'deactivated-table-row' : item.contractStatus === 'canceled'}">
      <sc-column sortable="false" class="buttons-cell" has-content="true">
        <sc-button name="viewBtn" class="btn btn-xs btn-primary" icon="glyphicon-list-alt" btn-sref="{state: 'root.auditAuthorityCommunications.view.contract', params: { id: item.contractId }}"></sc-button>
      </sc-column>
      <sc-column data="procedureName" title="auditAuthorityCommunications_contractsSearch_procedure">
      </sc-column>
      <sc-column data="regNumber" title="auditAuthorityCommunications_contractsSearch_regNumber">
      </sc-column>
      <sc-column data="contractDate" title="auditAuthorityCommunications_contractsSearch_contractDate" type="date">
      </sc-column>
      <sc-column data="name" title="auditAuthorityCommunications_contractsSearch_name">
      </sc-column>
      <sc-column data="executionStatus" title="auditAuthorityCommunications_contractsSearch_executionStatus">
      </sc-column>
      <sc-column data="company" title="auditAuthorityCommunications_contractsSearch_company">
      </sc-column>
      <sc-column data="companyKidCode" title="auditAuthorityCommunications_contractsSearch_companyKidCode">
      </sc-column>
    </sc-datatable>
  </div>
</div>