<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
      <add name="DbContext"
           connectionString="Data Source=suni.prod.sql;Initial Catalog=Eumis;MultipleActiveResultSets=True;User Id=%EUMIS_SQL_SERVER_PROD_USER%;Password=%EUMIS_SQL_SERVER_PROD_PASSWORD%;MultiSubnetFailover=True;"
           xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
</configuration>