<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings>
        <add name="DbContext"
          connectionString="Data Source=suni.test.sql;Initial Catalog=dev-Suni;MultipleActiveResultSets=True;User Id=%EUMIS_SQL_SERVER_TEST_USER%;Password=%EUMIS_SQL_SERVER_TEST_PASSWORD%;"
          xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
</configuration>