@model R_10028.PreliminaryPartner

@if (Model != null)
{
    <div class="form-group col-md-12">
        <label>@PreliminaryPartner.ArePartnersIncluded</label>
        @Html.DisplayFor(m => m.ArePartnersIncluded)
    </div>
}
