<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DbContext" connectionString="Data Source=.\;Initial Catalog=Eumis;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="coloredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
        layout="${date:format=HH\:mm\:ss.fffffff}|${pad:padding=5:inner=${level:uppercase=true}}|${message} ${exception:format=tostring}" >
        <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
        <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
        <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
        <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
        <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
      </target>
    </targets>
    <rules>
      <logger name="infoLogger" minlevel="Info" appendTo="coloredConsole" />
    </rules>
  </nlog>
  <appSettings>
    <add key="Eumis.Web.Host:BlobServerLocation" value="http://localhost:59253/" />
    <add key="Eumis.Web.Host:BlobServerTokenLocation" value="http://localhost:59253/api/token" />
    <add key="Eumis.Web.Host:BlobServerCredentials" value="internal,asdf" />

    <!-- EGP06.Prod
    <add key="Eumis.Web.Host:BlobServerLocation" value="https://files2020.government.bg/" />
    <add key="Eumis.Web.Host:BlobServerTokenLocation" value="https://files2020.government.bg/api/token" />
    <add key="Eumis.Web.Host:BlobServerCredentials" value="internal,%EUMIS_BLOBSERVERCREDENTIALS_SECRET%" />-->
  </appSettings>
</configuration>