<ng-form name="chooseProjectMassMACommunicationRecipientsForm" sc-validate="{}" sc-form-readonly="true">
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong class="heading" l10n-text="projectMassManagingAuthorityCommunications_chooseRecipientsModal_title"></strong>
      <div class="pull-right">
        <sc-button name="okBtn" btn-click="ok()" text="projectMassManagingAuthorityCommunications_chooseRecipientsModal_continue" class="btn btn-primary btn-xs" icon="glyphicon-ok">
        </sc-button>
        <sc-button name="cancelBtn" btn-click="cancel()" text="projectMassManagingAuthorityCommunications_chooseRecipientsModal_cancel" class="btn btn-default btn-xs" icon="glyphicon-ban-circle">
        </sc-button>
      </div>
    </div>

    <div class="panel-body">

      <div ng-show="uploadMode">
        <div class="mutiple-tables-spacing"></div>
        <div class="pull-right" style="margin: 15px 15px 0px 0px;">
          <sc-button name="continueBtn" btn-click="loadRecipients()" text="projectMassManagingAuthorityCommunications_chooseRecipientsModal_continue" class="btn btn-primary btn-xs"
            icon="glyphicon-ok" ng-disabled="!file || isReadonly">
          </sc-button>
          <sc-button name="cancelFileUploadBtn" btn-click="cancelFileUpload()" text="projectMassManagingAuthorityCommunications_chooseRecipientsModal_cancel" class="btn btn-default btn-xs" icon="glyphicon-ban-circle">
          </sc-button>
        </div>
        <div class="well well-sm">
          <div class="row">
            <sc-field type="file" name="file" ng-model="file" ng-readonly="isReadonly" url-template="ProjectFile" l10n-text="projectMassManagingAuthorityCommunications_chooseRecipientsModal_file" class="col-sm-5 col-md-4"></sc-field>
          </div>
          <div class="modal-body message-modal-body" ng-show="loadRecipientsErrors.length > 0">
            <div>
              <h5 l10n-text="common_modals_validationErrorsModal_hasErrors"></h5>
              <pre ng-repeat="err in loadRecipientsErrors">{{'- ' + err}}</pre>
            </div>
          </div>
        </div>
      </div>
      <div>
        <sc-button name="chooseAllBtn" ng-show="hasChosenAll"  btn-click="chooseAll()" text="projectMassManagingAuthorityCommunications_chooseRecipientsModal_all" class="btn btn-primary btn-sm pull-left" icon="glyphicon-ok">
        </sc-button>
        <sc-button name="removeAllBtn" ng-show="!hasChosenAll" btn-click="removeAll()" text="projectMassManagingAuthorityCommunications_chooseRecipientsModal_all" class="btn btn-primary btn-sm pull-left" icon="glyphicon-remove">
        </sc-button>
        <sc-button name="uploadFileBtn" ng-show="!uploadMode" ng-disabled="isReadonly" btn-click="uploadFile()" text="projectMassManagingAuthorityCommunications_chooseRecipientsModal_chooseFile"
          class="btn btn-default btn-sm pull-left" icon="glyphicon-upload" style="margin-left: 3px;">
        </sc-button>
        <a type="button" href="templates/projects.xlsx" download="projects.xlsx" class="btn btn-default btn-sm pull-left" style="margin-left: 3px;">
          <span class="glyphicon glyphicon-download"></span>
          <span l10n-text="projectMassManagingAuthorityCommunications_chooseRecipientsModal_template"></span>
        </a>
        <sc-datatable items="recipients" filterable="true" pageable="true" sortable="true" dynamic-columns="true" table-control="tableControl">
          <sc-column sortable="false" class="buttons-cell" has-content="true">
            <sc-button name="chooseButton" btn-click="choose(item)" ng-show="!item.isChosen" class="btn btn-primary btn-xs" icon="fa-square-o fa-lg fa-fw"></sc-button>
            <sc-button name="removeButton" btn-click="remove(item)" ng-show="item.isChosen" class="btn btn-primary btn-xs" icon="fa-check-square-o fa-lg fa-fw"></sc-button>
          </sc-column>
          <sc-column data="projectRegNumber" title="projectMassManagingAuthorityCommunications_chooseRecipientsModal_projectRegNumber">
            </sc-column>
            <sc-column data="projectName" title="projectMassManagingAuthorityCommunications_chooseRecipientsModal_projectName">
            </sc-column>
            <sc-column data="recieveDate" title="projectMassManagingAuthorityCommunications_chooseRecipientsModal_recieveDate" type="date">
            </sc-column>
            <sc-column data="beneficiaryName" title="projectMassManagingAuthorityCommunications_chooseRecipientsModal_beneficiaryName">
            </sc-column>
        </sc-datatable>
      </div>
    </div>
  </div>
</ng-form>
