<div class="panel panel-default">
  <div class="panel-body">
    <sc-button name="chooseItemsBtn" btn-click="chooseItems()" text="flatFinancialCorrections_searchFlatFinancialCorrectionItems_choose" class="btn btn-sm btn-primary pull-left" icon="glyphicon-floppy-disk"
      ng-disabled="!$canDo('FlatFinancialCorrectionListActions.Create') || flatFinancialCorrectionStatus !== 'draft'"></sc-button>

    <div ng-if="flatFinancialCorrectionLevel === 'programmePriority'">
      <sc-datatable items="flatFinancialCorrectionItems" filterable="true" pageable="true" sortable="true" dynamic-columns="true">
        <sc-column sortable="false" class="buttons-cell" has-content="true">
          <sc-button name="delBtn" btn-click="delItem(item.flatFinancialCorrectionLevelItemId)" class="btn btn-xs btn-danger" icon="glyphicon-remove"
            ng-disabled="!$canDo('FlatFinancialCorrectionActions.Edit', item.flatFinancialCorrectionId) || flatFinancialCorrectionStatus !== 'draft'"></sc-button>
          <sc-button name="editBtn" btn-click="editItem(item.flatFinancialCorrectionLevelItemId)" class="btn btn-xs btn-primary" icon="glyphicon-pencil"
            ng-disabled="!$canDo('FlatFinancialCorrectionActions.Edit', item.flatFinancialCorrectionId)"></sc-button>
        </sc-column>
        <sc-column data="code" title="flatFinancialCorrections_searchFlatFinancialCorrectionItems_code">
        </sc-column>
        <sc-column data="name" title="flatFinancialCorrections_searchFlatFinancialCorrectionItems_name" has-content="true">
          <span title="{{item.name}}">{{item.name | trim : 50}}</span>
        </sc-column>
        <sc-column data="programmeName" title="flatFinancialCorrections_searchFlatFinancialCorrectionItems_programme">
        </sc-column>
        <sc-column data="percent" title="flatFinancialCorrections_searchFlatFinancialCorrectionItems_percent" type="money">
        </sc-column>
        <sc-column data="euAmount" title="flatFinancialCorrections_searchFlatFinancialCorrectionItems_euAmount" type="money">
        </sc-column>
        <sc-column data="bgAmount" title="flatFinancialCorrections_searchFlatFinancialCorrectionItems_bgAmount" type="money">
        </sc-column>
        <sc-column data="totalAmount" title="flatFinancialCorrections_searchFlatFinancialCorrectionItems_totalAmount" type="money">
        </sc-column>
      </sc-datatable>
    </div>

    <div ng-if="flatFinancialCorrectionLevel === 'procedure'">
      <sc-datatable items="flatFinancialCorrectionItems" filterable="true" pageable="true" sortable="true" dynamic-columns="true">
        <sc-column sortable="false" class="buttons-cell" has-content="true">
          <sc-button name="delBtn" btn-click="delItem(item.flatFinancialCorrectionLevelItemId)" class="btn btn-xs btn-danger" icon="glyphicon-remove"
            ng-disabled="!$canDo('FlatFinancialCorrectionActions.Edit', item.flatFinancialCorrectionId) || flatFinancialCorrectionStatus !== 'draft'"></sc-button>
          <sc-button name="editBtn" btn-click="editItem(item.flatFinancialCorrectionLevelItemId)" class="btn btn-xs btn-primary" icon="glyphicon-pencil"
            ng-disabled="!$canDo('FlatFinancialCorrectionActions.Edit', item.flatFinancialCorrectionId)"></sc-button>
        </sc-column>
        <sc-column data="code" title="flatFinancialCorrections_searchFlatFinancialCorrectionItems_code">
        </sc-column>
        <sc-column data="name" title="flatFinancialCorrections_searchFlatFinancialCorrectionItems_name" width="30%" has-content="true">
            <span title="{{item.name}}">{{item.name | trim : 50}}</span>
        </sc-column>
        <sc-column title="flatFinancialCorrections_searchFlatFinancialCorrectionItems_programme" width="20%" has-content="true" data="programmeNames">
          {{item.programmeNames | join:', '}}
        </sc-column>
        <sc-column data="listingDate" title="flatFinancialCorrections_searchFlatFinancialCorrectionItems_listingDate" type="date" width="9%">
        </sc-column>
        <sc-column data="endingDate" title="flatFinancialCorrections_searchFlatFinancialCorrectionItems_endingDate" type="date" width="12%">
        </sc-column>
        <sc-column data="status" title="flatFinancialCorrections_searchFlatFinancialCorrectionItems_status">
        </sc-column>
        <sc-column data="percent" title="flatFinancialCorrections_searchFlatFinancialCorrectionItems_percent" type="money">
        </sc-column>
        <sc-column data="euAmount" title="flatFinancialCorrections_searchFlatFinancialCorrectionItems_euAmount" type="money">
        </sc-column>
        <sc-column data="bgAmount" title="flatFinancialCorrections_searchFlatFinancialCorrectionItems_bgAmount" type="money">
        </sc-column>
        <sc-column data="totalAmount" title="flatFinancialCorrections_searchFlatFinancialCorrectionItems_totalAmount" type="money">
        </sc-column>
      </sc-datatable>
    </div>

    <div ng-if="flatFinancialCorrectionLevel === 'contract'">
      <sc-datatable items="flatFinancialCorrectionItems" filterable="true" pageable="true" sortable="true" dynamic-columns="true">
        <sc-column sortable="false" class="buttons-cell" has-content="true">
          <sc-button name="delBtn" btn-click="delItem(item.flatFinancialCorrectionLevelItemId)" class="btn btn-xs btn-danger" icon="glyphicon-remove"
            ng-disabled="!$canDo('FlatFinancialCorrectionActions.Edit', item.flatFinancialCorrectionId) || flatFinancialCorrectionStatus !== 'draft'"></sc-button>
          <sc-button name="editBtn" btn-click="editItem(item.flatFinancialCorrectionLevelItemId)" class="btn btn-xs btn-primary" icon="glyphicon-pencil"
            ng-disabled="!$canDo('FlatFinancialCorrectionActions.Edit', item.flatFinancialCorrectionId)"></sc-button>
        </sc-column>
        <sc-column data="procedureName" title="flatFinancialCorrections_searchFlatFinancialCorrectionItems_procedure">
        </sc-column>
        <sc-column data="regNumber" title="flatFinancialCorrections_searchFlatFinancialCorrectionItems_regNumber">
        </sc-column>
        <sc-column data="contractDate" title="flatFinancialCorrections_searchFlatFinancialCorrectionItems_contractDate" type="date">
        </sc-column>
        <sc-column data="name" title="flatFinancialCorrections_searchFlatFinancialCorrectionItems_name">
        </sc-column>
        <sc-column data="executionStatus" title="flatFinancialCorrections_searchFlatFinancialCorrectionItems_executionStatus">
        </sc-column>
        <sc-column data="company" title="flatFinancialCorrections_searchFlatFinancialCorrectionItems_company">
        </sc-column>
        <sc-column data="companyKidCode" title="flatFinancialCorrections_searchFlatFinancialCorrectionItems_companyKidCode">
        </sc-column>
        <sc-column data="percent" title="flatFinancialCorrections_searchFlatFinancialCorrectionItems_percent" type="money">
        </sc-column>
        <sc-column data="euAmount" title="flatFinancialCorrections_searchFlatFinancialCorrectionItems_euAmount" type="money">
        </sc-column>
        <sc-column data="bgAmount" title="flatFinancialCorrections_searchFlatFinancialCorrectionItems_bgAmount" type="money">
        </sc-column>
        <sc-column data="totalAmount" title="flatFinancialCorrections_searchFlatFinancialCorrectionItems_totalAmount" type="money">
        </sc-column>
      </sc-datatable>
    </div>

    <div ng-if="flatFinancialCorrectionLevel === 'contractContract'">
      <sc-datatable items="flatFinancialCorrectionItems" filterable="true" pageable="true" sortable="true" dynamic-columns="false">
        <sc-column sortable="false" class="buttons-cell" has-content="true">
          <sc-button name="delBtn" btn-click="delItem(item.flatFinancialCorrectionLevelItemId)" class="btn btn-xs btn-danger" icon="glyphicon-remove"
            ng-disabled="!$canDo('FlatFinancialCorrectionActions.Edit', item.flatFinancialCorrectionId) || flatFinancialCorrectionStatus !== 'draft'"></sc-button>
          <sc-button name="editBtn" btn-click="editItem(item.flatFinancialCorrectionLevelItemId)" class="btn btn-xs btn-primary" icon="glyphicon-pencil"
            ng-disabled="!$canDo('FlatFinancialCorrectionActions.Edit', item.flatFinancialCorrectionId)"></sc-button>
        </sc-column>
        <sc-column data="contractContractorCompany" title="flatFinancialCorrections_searchFlatFinancialCorrectionItems_data"
          col-group="flatFinancialCorrections_searchFlatFinancialCorrectionItems_contractContractor"></sc-column>
        <sc-column data="seat" title="flatFinancialCorrections_searchFlatFinancialCorrectionItems_seat"
          col-group="flatFinancialCorrections_searchFlatFinancialCorrectionItems_contractContractor"></sc-column>
        <sc-column data="contractName" title="flatFinancialCorrections_searchFlatFinancialCorrectionItems_name"
          col-group="flatFinancialCorrections_searchFlatFinancialCorrectionItems_contract" has-content="true">
          <span title="{{item.contractName}}">{{item.contractName | trim : 50}}</span>
        </sc-column>
        <sc-column data="contractRegNumber" title="flatFinancialCorrections_searchFlatFinancialCorrectionItems_regNumber"
          col-group="flatFinancialCorrections_searchFlatFinancialCorrectionItems_contract"></sc-column>
        <sc-column data="procedureName" title="flatFinancialCorrections_searchFlatFinancialCorrectionItems_procedure"
          col-group="flatFinancialCorrections_searchFlatFinancialCorrectionItems_contract"></sc-column>
        <sc-column data="contractDate" title="flatFinancialCorrections_searchFlatFinancialCorrectionItems_contractDate" type="date"
          col-group="flatFinancialCorrections_searchFlatFinancialCorrectionItems_contract"></sc-column>
        <sc-column data="contractCompany" title="flatFinancialCorrections_searchFlatFinancialCorrectionItems_company"
          col-group="flatFinancialCorrections_searchFlatFinancialCorrectionItems_contract"></sc-column>
        <sc-column data="companyKidCode" title="flatFinancialCorrections_searchFlatFinancialCorrectionItems_companyKidCode"
          col-group="flatFinancialCorrections_searchFlatFinancialCorrectionItems_contract"></sc-column>
        <sc-column data="percent" title="flatFinancialCorrections_searchFlatFinancialCorrectionItems_percent" type="money">
        </sc-column>
        <sc-column data="euAmount" title="flatFinancialCorrections_searchFlatFinancialCorrectionItems_euAmount" type="money">
        </sc-column>
        <sc-column data="bgAmount" title="flatFinancialCorrections_searchFlatFinancialCorrectionItems_bgAmount" type="money">
        </sc-column>
        <sc-column data="totalAmount" title="flatFinancialCorrections_searchFlatFinancialCorrectionItems_totalAmount" type="money">
        </sc-column>
      </sc-datatable>
    </div>
  </div>
</div>