<div class="tab-content">
  <ng-form name="newFlatFinancialCorrectionForm" sc-validate="{}" sc-form-readonly>
    <div class="panel panel-default">
      <div class="panel-heading">

        <strong class="heading" l10n-text="flatFinancialCorrections_newFlatFinancialCorrection_title"></strong>

        <div class="pull-right">
          <sc-button name="saveBtn" btn-click="save()" text="flatFinancialCorrections_newFlatFinancialCorrection_save" class="btn btn-primary btn-xs" icon="glyphicon-floppy-disk">
          </sc-button>
          <sc-button name="cancelBtn" btn-click="cancel()" text="flatFinancialCorrections_newFlatFinancialCorrection_cancel" class="btn btn-default btn-xs" icon="glyphicon-ban-circle">
          </sc-button>
        </div>
      </div>

      <div class="well-sm panel-body">
        <eumis-flat-financial-correction name="flatFinancialCorrectionForm" ng-model="newFlatFinancialCorrection"></eumis-flat-financial-correction>
      </div>

    </div>
  </ng-form>
</div>
