<div class="panel panel-default">
  <div class="panel-body">
    <sc-button name="newBtn" btn-sref="{ state: 'root.map.ppriorities.view.documents.new' }" text="programmePriorities_documentsSearch_newBtn" class="btn btn-sm btn-primary pull-left" icon="glyphicon-floppy-disk"
      ng-if="programmePriorityStatus !== 'canceled'" ng-disabled="!$canDo('ProgrammeActions.Edit', programmePriorityId)"></sc-button>
    <sc-datatable items="documents" filterable="true" pageable="true" sortable="true" dynamic-columns="true" default-sort="type">
      <sc-column sortable="false" class="buttons-cell" has-content="true">
        <sc-button name="editBtn" btn-sref="{ state: 'root.map.ppriorities.view.documents.edit', params: {ind: item.mapNodeDocumentId} }" class="btn btn-xs btn-primary" icon="glyphicon-pencil"></sc-button>
      </sc-column>
      <sc-column data="name" title="programmePriorities_documentsSearch_name">
      </sc-column>
      <sc-column data="description" title="programmePriorities_documentsSearch_description">
      </sc-column>
      <sc-column sortable="false" title="programmePriorities_documentsSearch_file" has-content="true">
        <a target="_blank" ng-href="{{item.file.url}}" sc-access-token ng-show="item.file" title="{{item.file.name}}">
          <span class="glyphicon glyphicon-file"></span>
        </a>
      </sc-column>
    </sc-datatable>
  </div>
</div>
