<ng-form name="editPPriorityDirectionForm" sc-validate="{}" sc-form-readonly="!editMode">
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong class="heading" l10n-text="programmes_editPPriorityDirection_title" ng-show="mapNodeIndicatorType === 'table6'"></strong>
      <div class="pull-right">
        <sc-button name="editBtn" btn-click="edit()" text="programmes_editPPriorityDirection_edit" class="btn btn-primary btn-xs" icon="glyphicon-edit" ng-show="!editMode"
          ng-if="programmePriorityStatus !== 'canceled'" ng-disabled="!$canDo('ProgrammeActions.Edit', programmePriorityId)">
        </sc-button>
        <sc-button name="deleteBtn" btn-click="delete()" text="programmes_editPPriorityDirection_delete" class="btn btn-danger btn-xs" icon="glyphicon-remove" ng-show="!editMode"
          ng-if="programmePriorityStatus !== 'canceled'" ng-disabled="!$canDo('ProgrammeActions.Edit', programmePriorityId)">
        </sc-button>
        <sc-button name="saveBtn" btn-click="save()" text="programmes_editPPriorityDirection_save" class="btn btn-primary btn-xs" icon="glyphicon-floppy-disk" ng-show="editMode">
        </sc-button>
        <sc-button name="cancelBtn" btn-click="cancel()" text="programmes_editPPriorityDirection_cancel" class="btn btn-default btn-xs" icon="glyphicon-ban-circle" ng-show="editMode">
        </sc-button>
      </div>
    </div>
    <div class="well-sm panel-body">
      <eumis-programme-direction name="programmePriorityDirectionForm" ng-model="programmePriorityDirection"></eumis-programme-direction>
    </div>
  </div>
</ng-form>
