<ng-form name="newProgrammeDeclarationItemForm" sc-validate="{}" sc-form-readonly>
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong class="heading" l10n-text="programmes_newProgrammeDeclarationItem_title"></strong>

      <div class="pull-right">
        <sc-button name="saveBtn" btn-click="save()" text="programmes_newProgrammeDeclarationItem_save" class="btn btn-primary btn-xs" icon="glyphicon-floppy-disk">
        </sc-button>
        <sc-button name="cancelBtn" btn-click="cancel()" text="programmes_newProgrammeDeclarationItem_cancel" class="btn btn-default btn-xs" icon="glyphicon-ban-circle">
        </sc-button>
      </div>
    </div>

    <div class="well-sm panel-body">
      <eumis-programme-declaration-item name="programmeDeclarationItemForm" ng-model="declarationItem"></eumis-programme-declaration-item>
    </div>
  </div>
</ng-form>
