{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": [
          "ie >= 9",
          "firefox >= 35",
          "opera >= 27",
          "safari >= 9",
          "ios_saf >= 9",
          "chrome >= 40",
          "edge >= 12"
        ]
      },
      "modules": false
    }]
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    ["angularjs-annotate", { "explicitOnly" : true}]
  ]
}
