<div class="tab-content">
  <ng-form name="newUserForm" sc-validate="{}" sc-form-readonly>
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong class="heading" l10n-text="users_new_title"></strong>

        <div class="pull-right">
          <sc-button name="saveBtn" btn-click="save()" text="users_new_save" class="btn btn-primary btn-xs" icon="glyphicon-floppy-disk">
          </sc-button>
          <sc-button name="cancelBtn" btn-click="cancel()" text="users_new_cancel" class="btn btn-default btn-xs" icon="glyphicon-ban-circle">
          </sc-button>
        </div>
      </div>

      <div class="well-sm panel-body">
        <eumis-user-data name="userForm" ng-model="newUser" sc-form-params="{ isNew: true }"></eumis-user-data>
      </div>
    </div>
  </ng-form>
</div>