<ng-form name="editFinancialCorrectionForm" sc-validate="{}" sc-form-readonly="!editMode">
  <div class="panel panel-default">
    <div class="panel-heading">

      <strong class="heading" l10n-text="financialCorrections_editFinancialCorrection_title"></strong>

      <div class="pull-right">
        <sc-button name="deactivateBtn" btn-click="cancelCorrection()" text="financialCorrections_editFinancialCorrection_deactivate" class="btn btn-danger btn-xs" ng-if="financialCorrection.status === 'entered'"
          ng-show="!editMode" ng-disabled="!$canDo('FinancialCorrectionActions.Edit', financialCorrection.financialCorrectionId)">
        </sc-button>
        <sc-button name="activateBtn" btn-click="activateCorrection()" text="financialCorrections_editFinancialCorrection_activate" class="btn btn-default btn-xs" ng-if="financialCorrection.status === 'removed'"
          ng-show="!editMode" ng-disabled="!$canDo('FinancialCorrectionActions.Edit', financialCorrection.financialCorrectionId)">
        </sc-button>
        <sc-button name="removeBtn" btn-click="delCorrection()" text="financialCorrections_editFinancialCorrection_del" class="btn btn-danger btn-xs" ng-if="financialCorrection.status === 'new'"
          ng-show="!editMode" ng-disabled="!$canDo('FinancialCorrectionActions.Edit', financialCorrection.financialCorrectionId)">
        </sc-button>
        <sc-button name="editBtn" btn-click="edit()" text="financialCorrections_editFinancialCorrection_edit" class="btn btn-primary btn-xs" icon="glyphicon-edit" ng-if="financialCorrection.status !== 'removed'"
          ng-show="!editMode" ng-disabled="!$canDo('FinancialCorrectionActions.Edit', financialCorrection.financialCorrectionId)">
        </sc-button>
        <sc-button name="saveBtn" btn-click="save()" text="financialCorrections_editFinancialCorrection_save" class="btn btn-primary btn-xs" icon="glyphicon-floppy-disk" ng-show="editMode">
        </sc-button>
        <sc-button name="cancelBtn" btn-click="cancel()" text="financialCorrections_editFinancialCorrection_cancel" class="btn btn-default btn-xs" icon="glyphicon-ban-circle" ng-show="editMode">
        </sc-button>
      </div>
    </div>

    <div class="well-sm panel-body">
      <h5 class="table-header table-header-first" l10n-text="financialCorrections_editFinancialCorrection_financialCorrection"></h5>
      <eumis-financial-correction name="financialCorrectionForm" ng-model="financialCorrection"></eumis-financial-correction>

      <h5 class="table-header" l10n-text="financialCorrections_editFinancialCorrection_contractData"></h5>
      <eumis-contract-data name="contractDataForm" ng-model="financialCorrection.contract" sc-form-readonly="true"></eumis-contract-data>

      <h5 class="table-header" l10n-text="financialCorrections_editFinancialCorrection_beneficiary"></h5>
      <eumis-contract-beneficiary name="contractBeneficiaryForm" ng-model="financialCorrection.contract" sc-form-readonly="true"></eumis-contract-beneficiary>
    </div>

  </div>
</ng-form>