<ng-form name="changePasswordForm" sc-validate="{}">
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong class="heading" l10n-text="changePasswordModal_title"></strong>
      <div class="pull-right">
        <sc-button name="saveBtn" btn-click="save()" text="changePasswordModal_save"
          class="btn btn-primary btn-xs" icon="glyphicon-floppy-disk">
        </sc-button>
        <sc-button name="cancelBtn" btn-click="cancel()" text="changePasswordModal_cancel"
          class="btn btn-default btn-xs" icon="glyphicon-ban-circle">
        </sc-button>
      </div>
    </div>

    <div class="well-sm panel-body">
      <div class="row">
        <div class="form-group col-sm-5" sc-has-error="oldPassword">
          <label class="control-label" l10n-text="changePasswordModal_oldPassword"></label>
          <sc-validation-error field-name="oldPassword" validations="{correctPassword: 'changePasswordModal_wrongPassword', required: 'default'}"></sc-validation-error>
          <input type="password" ng-model="passwords.oldPassword" name="oldPassword" ng-required="true" class="input-sm form-control"
            sc-validate-async="{ correctPassword: checkPassword }"
          />
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-5" sc-has-error="newPassword">
          <label class="control-label" l10n-text="changePasswordModal_newPassword"></label>
          <sc-validation-error field-name="newPassword" validations="{pattern: passwordInvalidFormatMessage, required: 'default'}"></sc-validation-error>
          <input type="password" ng-model="passwords.newPassword" name="newPassword" ng-required="true" ng-pattern="passwordRegex" class="input-sm form-control" />
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-5" sc-has-error="confirmNewPassword">
          <label class="control-label" l10n-text="changePasswordModal_confirmNewPassword"></label>
          <sc-validation-error field-name="confirmNewPassword" validations="{passwordMatch: 'changePasswordModal_noPasswordMatch', pattern: passwordInvalidFormatMessage, required: 'default'}"></sc-validation-error>
          <input type="password" ng-model="confirmNewPassword" name="confirmNewPassword" ng-required="true" ng-pattern="passwordRegex" class="input-sm form-control"
            sc-validate="{ passwordMatch: matchPasswords }"
            sc-revalidate-on="['passwords.newPassword']"
          />
        </div>
      </div>
    </div>
  </div>
</ng-form>