@model R_10023.EvalTable

<div class="container">
    <h2>@EvalTable.EvaluationTable</h2>
    <ul class="nav nav-tabs"></ul>
    <div class="tab-content">
        <form class="form-with-sections">
            @Html.Partial(MVC.Private.Shared.Views.Print.EvalTable, Model)
        </form>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $.when(0)
            .then(function () {
                setTimeout(function () {
                    print();
                }, 100);
            });
    });
</script>
