<ng-form sc-validate="{}" sc-form-readonly>
  <div class="row">
    <sc-field type="nomenclature" alias="'newsTypes'" mode="id" ng-model="model.type" ng-required="true" ng-disabled="!isNew && model.status === 'draft'" ng-change="typeChange()" l10n-text="news_newsDataForm_type" class="col-sm-4 col-md-4"></sc-field>
    <sc-field type="date" ng-model="model.dateFrom" ng-if="model.status !== 'draft' || isPortalNews" ng-required="isPortalNews" ng-disabled="true" l10n-text="news_newsDataForm_dateFrom" class="col-sm-4 col-md-3"></sc-field>
    <sc-field type="date" ng-model="model.dateTo" ng-if="model.status !== 'draft' || isPortalNews" ng-required="isPortalNews" ng-disabled="true" l10n-text="news_newsDataForm_dateTo" class="col-sm-4 col-md-3"
      sc-validate="{ dateToValid: dateToValid }"
      sc-revalidate-on="['model.dateFrom']"
      validations="{ dateToValid: 'news_publishNewsModal_dateToValid' }"
    >
    </sc-field>
  </div>
  <div class="row">
    <sc-field type="text" ng-model="model.title" ng-maxlength="200" ng-required="true" validations="{maxlength: 'news_newsDataForm_titleMaxlength'}" l10n-text="news_newsDataForm_title" class="col-sm-12 col-md-10"></sc-field>
  </div>
  <div class="row">
    <sc-field type="text" ng-disabled="!isPortalNews" ng-model="model.titleAlt" ng-maxlength="200" ng-required="isPortalNews" validations="{maxlength: 'news_newsDataForm_titleMaxlength'}" l10n-text="news_newsDataForm_titleAlt" class="col-sm-12 col-md-10"></sc-field>
  </div>
  <div class="row">
    <sc-field type="textarea" ng-model="model.content" rows="6" ng-required="true" l10n-text="news_newsDataForm_content" class="col-sm-12 col-md-10"></sc-field>
  </div>
  <div class="row">
    <sc-field type="textarea" ng-disabled="!isPortalNews" ng-model="model.contentAlt" rows="6" ng-required="isPortalNews" l10n-text="news_newsDataForm_contentAlt" class="col-sm-12 col-md-10"></sc-field>
  </div>
  <div class="row">
    <sc-field type="text" ng-disabled="!isPortalNews" ng-model="model.author" ng-maxlength="200" ng-required="isPortalNews" validations="{maxlength: 'news_newsDataForm_authorMaxlength'}" l10n-text="news_newsDataForm_author" class="col-sm-12 col-md-10"></sc-field>
  </div>
  <div class="row">
    <sc-field type="text" ng-disabled="!isPortalNews" ng-model="model.authorAlt" ng-maxlength="200" ng-required="isPortalNews" validations="{maxlength: 'news_newsDataForm_authorMaxlength'}" l10n-text="news_newsDataForm_authorAlt" class="col-sm-12 col-md-10"></sc-field>
  </div>
  <div class="row">
    <div class="form-group col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="model.emailNotification" ng-disabled="form.$readonly || isPortalNews">
          <span style="font-weight: 500;" l10n-text="news_newsDataForm_emailNotification"></span>
        </label>
      </div>
  </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-10">
      <label style="display:inline-block;" class="pull-left" l10n-text="news_newsDataForm_files"></label>
      <sc-button btn-click="addFile()" class="btn btn-primary btn-xs pull-left" icon="glyphicon-plus" ng-disabled="form.$readonly" style="position:relative; right: -5px; top: -3px;"></sc-button>
      <table class="table table-bordered" style="clear: both; margin-bottom: 7px; font-size: 12px;" border="0" cellspacing="0" cellpadding="0">
        <thead>
          <th style="width: 1px;"></th>
          <th sc-has-error="descr">
            <label class="control-label" l10n-text="news_newsDataForm_fileDescr"></label>
            <sc-validation-error field-name="descr" validations="{maxlength: 'news_newsDataForm_fileDescrMaxlength', required: 'default'}"></sc-validation-error>
          </th>
          <th sc-has-error="file" style="width: 25%">
            <label class="control-label" l10n-text="news_newsDataForm_file"></label>
            <sc-validation-error field-name="file" validations="{required: 'default'}"></sc-validation-error>
          </th>
        </thead>
        <tbody>
          <tr ng-repeat="file in model.files | filter: {status: '!removed'} track by $index">
            <td>
              <sc-button btn-click="removeFile(file, $index)" class="btn btn-danger btn-xs" icon="glyphicon-remove" ng-disabled="form.$readonly"></sc-button>
            </td>
            <td>
              <sc-text name="descr" ng-model="file.description" ng-required="true" ng-maxlength="200" ng-readonly="form.$readonly"></sc-text>
            </td>
            <td>
              <sc-file name="file" ng-model="file.file" ng-readonly="form.$readonly" url-template="NewsFile" url-params="{ id: model.newsId }" ng-required="true"></sc-file>
            </td>
          </tr>
          <tr ng-show="model.files.length === 0">
            <td colspan="3" l10n-text="news_newsDataForm_noFiles"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <sc-field type="nomenclature" alias="'newsStatuses'" mode="id" ng-disabled="true" ng-model="model.status" l10n-text="news_newsDataForm_status" class="col-sm-3"></sc-field>
    <sc-field type="date" ng-model="model.createDate" ng-readonly="true" l10n-text="news_newsDataForm_createDate" class="col-sm-4 col-md-3"></sc-field>
    <sc-field type="text" ng-model="model.createdByUser" ng-disabled="true" l10n-text="news_newsDataForm_createdByUser" class="col-sm-5 col-md-4"></sc-field>
  </div>
</ng-form>
