@model string

<div class="container warnings">
    <img class="icon" src="@Url.Content(Links.Content.img.icons.error_gif)" alt="" />
    <p>@Html.Raw(Model)</p>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    if (self !== top) {
      setTimeout(function () {
        parent.postMessage('eumis.close', '*');
      }, 1000); // 1 seconds
    }
  });
</script>
