<div class="tab-content">
  <ng-form name="editProgrammePriorityPrognosis" sc-validate="{}" sc-form-readonly="!editMode">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <strong class="heading" class="heading" l10n-text="prognoses_edit_programmePriorityPrognosisTitle"></strong>
        <div class="pull-right">
          <sc-button name="editBtn" btn-click="edit()" text="prognoses_edit_edit" class="btn btn-primary btn-xs" icon="glyphicon-edit" ng-show="!editMode"
            ng-if="programmePriorityPrognosis.status === 'draft'" ng-disabled="!$canDo('ProgrammePriorityPrognosisActions.Edit', programmePriorityPrognosis.prognosisId)">
          </sc-button>
          <sc-button name="draftBtn" btn-click="setToDraft()" text="prognoses_edit_draft" class="btn btn-success btn-xs"
            ng-if="programmePriorityPrognosis.status === 'entered'" ng-disabled="!$canDo('ProgrammePriorityPrognosisActions.Edit', programmePriorityPrognosis.prognosisId)">
          </sc-button>
          <sc-button name="enterBtn" btn-click="enter()" text="prognoses_edit_enter" class="btn btn-primary btn-xs" ng-show="!editMode"
            ng-if="programmePriorityPrognosis.status === 'draft'" ng-disabled="!$canDo('ProgrammePriorityPrognosisActions.Edit', programmePriorityPrognosis.prognosisId)">
          </sc-button>
          <sc-button name="deleteBtn" btn-click="del()" text="prognoses_edit_del" class="btn btn-danger btn-xs" icon="glyphicon-remove" ng-show="!editMode"
            ng-if="programmePriorityPrognosis.status === 'draft' && !programmePriorityPrognosis.isActivated" ng-disabled="!$canDo('ProgrammePriorityPrognosisActions.Edit', programmePriorityPrognosis.prognosisId)">
          </sc-button>
          <sc-button name="removeBtn" btn-click="remove()" text="prognoses_edit_remove" class="btn btn-danger btn-xs" icon="glyphicon-remove" ng-show="!editMode"
            ng-if="programmePriorityPrognosis.status === 'draft' && programmePriorityPrognosis.isActivated" ng-disabled="!$canDo('ProgrammePriorityPrognosisActions.Edit', programmePriorityPrognosis.prognosisId)">
          </sc-button>
          <sc-button name="saveBtn" btn-click="save()" text="prognoses_edit_save" class="btn btn-primary btn-xs" icon="glyphicon-floppy-disk" ng-show="editMode">
          </sc-button>
          <sc-button name="cancelBtn" btn-click="cancel()" text="prognoses_edit_cancel" class="btn btn-default btn-xs" icon="glyphicon-ban-circle" ng-show="editMode">
          </sc-button>
        </div>
      </div>

      <div class="panel-body">
        <eumis-prognosis-data name="prognosiDataForm" ng-model="programmePriorityPrognosis"></eumis-prognosis-data>
      </div>
    </div>
  </ng-form>
</div>
