<ng-form name="editSpendingPlanForm" sc-validate="{}" sc-form-readonly="true">
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong class="heading" l10n-text="projectDossier_viewContract_spendingPlanTitle"></strong>
    </div>

    <div class="well-sm panel-body">
      <eumis-contract-spending-plan name="spendingPlanForm" ng-model="spendingPlan"></eumis-contract-spending-plan>

      <div class="row" ng-show="!editMode">
        <eumis-structured-document text="projectDossier_viewContract_spendingPlanTemplate" document="contractSpendingPlan" gid="spendingPlan.gid" class="col-sm-4 col-md-3" view-mode>
        </eumis-structured-document>
      </div>
    </div>
  </div>
</ng-form>
