<ng-form name="editContractCommunicationForm" sc-validate="{}" sc-form-readonly="true">
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong class="heading" l10n-text="projectDossier_viewContract_communicationTitle"></strong>
    </div>

    <div class="well-sm panel-body">
      <eumis-contract-communication name="contractCommunicationForm" ng-model="contractCommunication"></eumis-contract-communication>

      <div class="row">
        <eumis-structured-document text="projectDossier_viewContract_communicationTemplate" document="contractCommunication" gid="contractCommunication.xmlGid" 
          class="col-sm-4 col-md-3" view-mode>
        </eumis-structured-document>
      </div>
    </div>
  </div>
</ng-form>
