<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DbContext"
      connectionString="Data Source=%EUMIS_SQL_SERVER_IP%;Initial Catalog=dev-suni;MultipleActiveResultSets=True;User Id=%EUMIS_SQL_SERVER_USER%;Password=%EUMIS_SQL_SERVER_PASS%;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="Logs1"
      connectionString="Data Source=%EUMIS_SQL_SERVER_IP%;Initial Catalog=dev-suni.Logs1;MultipleActiveResultSets=True;User Id=%EUMIS_SQL_SERVER_USER%;Password=%EUMIS_SQL_SERVER_PASS%;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="errorfile" xdt:Locator="Match(name)">
        <target fileName="C:\Logs\Eumis.Integration.Host\${date:format=dd.MM.yyyy}.txt" xdt:Transform="SetAttributes" />
      </target>
    </targets>
  </nlog>
  <appSettings>
    <add key="Eumis.Authentication:InstallationName" value="EumisTest"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Eumis.Authentication:Key" value="%EUMIS_PRIVATEAPP_DP_KEY%"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Eumis.Authentication:Preamble" value="%EUMIS_PRIVATEAPP_DP_PREAMBLE%"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>