<ng-form sc-validate="{}" sc-form-readonly>
  <div class="row">
    <sc-field type="nomenclature" ng-model="model.status" alias="'projectVersionXmlStatus'" mode="id" ng-disabled="true" l10n-text="evalSessions_projectVersionForm_status" class="col-sm-4 col-md-3"></sc-field>
  </div>
  <div class="row">
    <sc-field type="textarea" ng-model="model.createNote" ng-required="true" rows="3" l10n-text="evalSessions_projectVersionForm_createNote" class="col-sm-8 col-md-6"></sc-field>
  </div>
  <div class="row">
    <sc-field type="textarea" ng-model="model.createNoteAlt" ng-required="false" rows="3" l10n-text="evalSessions_projectVersionForm_createNoteAlt" class="col-sm-8 col-md-6"></sc-field>
  </div>
</ng-form>
