@using Eumis.Portal.Web.Helpers
@Html.Breadcrumb(new List<BreadcrumbItem>()
{
    new BreadcrumbItem(Url.Action(MVC.Report.Home.ActionNames.Index, MVC.Report.Home.Name, new { area = MVC.Report.Name }), Global.HomeButton)
}
    , Global.Glossary)

<div class="container page-title">
    <h1>@Global.Glossary</h1>
</div>

<div class="container">
    <div class="page-content clearfix">
        <div class="col-xs-12">
            <h2>СЪКРАЩЕНИЯ</h2>
            <table class="glossary-table">
                <tr><td style="width: 100px;">АД</td><td>Акционерно дружество</td></tr>
                <tr><td>АМС</td><td>Администрация на Министерски съвет</td></tr>
                <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
                <tr><td>БФП</td><td>Безвъзмездна финансова помощ</td></tr>
                <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
                <tr><td>ВСС</td><td>Висш съдебен съвет</td></tr>
                <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
                <tr><td>ДДС</td><td>Данък добавена стойност</td></tr>
                <tr><td>Доп.</td><td>Допустими разходи</td></tr>
                <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
                <tr><td>ЕАД</td><td>Еднолично акционерно дружество</td></tr>
                <tr><td>ЕБВР</td><td>Европейска банка за възстановяване и развитие</td></tr>
                <tr><td>ЕИБ</td><td>Европейската инвестиционна банка, Европейския инвестиционен фонд или всяка друга дъщерна структура на Европейската инвестиционна банка</td></tr>
                <tr><td>ЕИК</td><td>Единен идентификационен код</td></tr>
                <tr><td>ЕК</td><td>Европейска комисия</td></tr>
                <tr><td>ЕООД</td><td>Еднолично дружество с ограничена отговорност</td></tr>
                <tr><td>ЕС</td><td>Европейски съюз</td></tr>
                <tr><td>ЕСИФ</td><td>Европейски структурни и инвестиционни фондове</td></tr>
                <tr><td>ЕСФ</td><td>Европейски социален фонд</td></tr>
                <tr><td>ЕТ</td><td>Едноличен търговец</td></tr>
                <tr><td>ЕФРР</td><td>Европейски фонд за регионално развитие</td></tr>
                <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
                <tr><td>ЗОП</td><td>Закон за обществените поръчки</td></tr>
                <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
                <tr><td>СУНИ</td><td>Информационна система за управление и наблюдение 2020</td></tr>
                <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
                <tr><td>КД</td><td>Командитно дружество</td></tr>
                <tr><td>КДА</td><td>Командитно дружество с акции</td></tr>
                <tr><td>КИД 2008</td><td>Код за класификация на икономическите дейности на Националния статистически институт</td></tr>
                <tr><td>КФ</td><td>Koхезионен фонд</td></tr>
                <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
                <tr><td>МСП</td><td>Микро-, малко или средно предприятие съгласно определението в Препоръка 2003/361/ЕО на Комисията</td></tr>
                <tr><td>МФ</td><td>Министерство на финансите</td></tr>
                <tr><td>МФИ</td><td>Международни финансови институции</td></tr>
                <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
                <tr><td>НСИ</td><td>Национален статистически институт</td></tr>
                <tr><td>НФ</td><td>Национално финансиране</td></tr>
                <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
                <tr><td>ОО</td><td>Одитен орган</td></tr>
                <tr><td>ООД</td><td>Дружество с ограничена отговорност</td></tr>
                <tr><td>ОПДУ</td><td>Оперативна програма "Добро управление"</td></tr>
                <tr><td>ОПИК</td><td>Оперативна програма "Иновации и конкурентоспособност"</td></tr>
                <tr><td>ОПНОИР</td><td>Оперативна програма "Наука и образование за интелигентен растеж"</td></tr>
                <tr><td>ОПОС</td><td>Оперативна програма "Околна среда"</td></tr>
                <tr><td>ОПРР</td><td>Оперативна програма "Региони в растеж"</td></tr>
                <tr><td>ОПРЧР</td><td>Оперативна програма "Развитие на човешките ресурси"</td></tr>
                <tr><td>ОПТТИ</td><td>Оперативна програма "Транспорт и транспортна инфраструктура"</td></tr>
                <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
                <tr><td>ПМС</td><td>Постановление на Министерски съвет</td></tr>
                <tr><td>ПЧП</td><td>Публично-частно партньорство</td></tr>
                <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
                <tr><td>РП</td><td>Режим на помощта</td></tr>
                <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
                <tr><td>СБ</td><td>Световна банка</td></tr>
                <tr><td>СО</td><td>Сертифициращ орган</td></tr>
                <tr><td>СП</td><td>Споразумение за партньорство</td></tr>
                <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
                <tr><td>УО</td><td>Управляващ орган</td></tr>
                <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
                <tr><td>ЦКЗ</td><td>Централно координационно звено</td></tr>
            </table>

            <h2>ОСНОВНИ ПОНЯТИЯ</h2>
            <table class="glossary-table">
                <tr>
                    <td style="font-weight:bold; width: 200px;">Бенефициент</td>
                    <td>Публична или частна организация, които отговарят за започването или за започването и изпълнението на операции.</td>
                </tr>
                <tr>
                    <td style="font-weight:bold;">Водеща програма</td>
                    <td>Програмата, по която е определен най-голям финансов ресурс за процедура за предоставяне на безвъзмездна финансова помощ за интегрирани проектни предложения.</td>
                </tr>
                <tr>
                    <td style="font-weight:bold;">Интегрирано проектно предложение</td>
                    <td>Проектно предложение за предоставяне на безвъзмездна финансова помощ по повече от една програма.</td>
                </tr>
                <tr>
                    <td style="font-weight:bold;">Кандидати за безвъзмездна финансова помощ</td>
                    <td>Всички физически и юридически лица и техни обединения, които кандидатстват за безвъзмездна финансова помощ чрез подаване на проектно предложение.</td>
                </tr>
                <tr>
                    <td style="font-weight:bold;">Конкретен бенефициент</td>
                    <td>Организация, институция, административна или друга подобна структура, индивидуално посочена в оперативната програма като единствен субект, който може да изготви проектно предложение и да получи безвъзмездна помощ за определена дейност, или която е определена със закон или подзаконов нормативен акт като правоприемник на такава структура, отговорна за изпълнението на конкретната дейност, и е допустим бенефициент по оперативната програма.</td>
                </tr>
                <tr>
                    <td style="font-weight:bold;">Номер на проектно предложение</td>
                    <td>
                        СУНИ генерира автоматичен номер на проектното предложение, който съдържа:
                        <ul style="list-style-type:none;">
                            <li>Код на оперативна програма(уникален код с общ размер 11 символа (букви и цифри), следван от разделителна линия „–“;</li>
                            <li>Номер на приоритетната ос (Общ размер 1 символ (цифра)), следван от разделителна точка „ . “;</li>
                            <li>Пореден номер на процедурата по съответната приоритетна ос (Общ размер 3 символа (цифри)), следван от разделителна линия „ - “;</li>
                            <li>Пореден номер на регистриран проект по съответната процедура (Общ размер 4 символа (цифри)).</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td style="font-weight:bold;">Оценка на административното съответствие и допустимостта</td>
                    <td>Етап от оценката на проектното предложение, при който се извършва проверка относно формалното съответствие на проектното предложение и на допустимостта на кандидатите и проектните дейности.</td>
                </tr>
                <tr>
                    <td style="font-weight:bold;">Партньори на кандидатите за безвъзмездна финансова помощ</td>
                    <td>Всички физически и юридически лица и техни обединения, които участват съвместно с кандидата в подготовката и/или техническото, и/или финансово изпълнение на проекта или на предварително заявени във формуляра за кандидатстване дейности от проекта.</td>
                </tr>
                <tr>
                    <td style="font-weight:bold;">Приоритетна ос</td>
                    <td>Една от целите на стратегията в оперативна програма, включваща група операции, които са свързани и имат специфични измерими цели.</td>
                </tr>
                <tr>
                    <td style="font-weight:bold;">Проектно предложение</td>
                    <td>Предложение за предоставяне на безвъзмездна финансова помощ за изпълнението на определен проект, включващо формуляр за кандидатстване и други придружителни документи.</td>
                </tr>
                <tr>
                    <td style="font-weight:bold;">Специфична цел</td>
                    <td>Резултатът, за който допринася инвестиционен приоритет или приоритет на Съюза в определен национален или регионален контекст чрез действия или мерки, предприети в рамките на такъв приоритет.</td>
                </tr>
                <tr>
                    <td style="font-weight:bold;">Техническа и финансова оценка</td>
                    <td>Оценка по същество на проектните предложения, която се извършва в съответствие с критериите за оценка на проектите.</td>
                </tr>
                <tr>
                    <td style="font-weight:bold;">Одитен орган</td>
                    <td>Национален, регионален или местен публичен орган или организация, функционално независим от управляващия орган и от сертифициращия орган, който следва да гарантира провеждането на одити на системите за управление и контрол, на подходяща извадка от операции и на счетоводните отчети (Изпълнителна агенция „Одит на средствата от ЕС”).</td>
                </tr>
                <tr>
                    <td style="font-weight:bold;">Операция</td>
                    <td>Проект, договор, действие или група проекти, избрани от управляващите органи на съответните програми или на тяхна отговорност, които допринасят за целите на приоритета или приоритетите, към които се отнасят; в контекста на финансовите инструменти операцията е съставена от финансовия принос от една програма за финансови инструменти и последващата финансова подкрепа, която тези финансови инструменти предоставят.</td>
                </tr>
                <tr>
                    <td style="font-weight:bold;">Сертифициращ орган</td>
                    <td>Национален, регионален или местен публичен орган или организация, който изготвя и подава до Комисията заявления за плащане, изготвя счетоводните отчети и сертифицира тяхната пълнота, точност и достоверност, както и че записаните в тях разходи съответстват на приложимите правила на Съюза и национални правила.</td>
                </tr>
                <tr>
                    <td style="font-weight:bold;">Споразумение за партньорство</td>
                    <td>Документ, изготвен от държава-членка с участието на партньорите в съответствие с подхода на многостепенно управление, в който е определена стратегията на посочената държава-членка, нейните приоритети и организация за ефективното и ефикасно използване на европейските структурни и инвестиционни фондове за целите на изпълнението на стратегията на Съюза за интелигентен, устойчив и приобщаващ растеж и който е одобрен от Комисията след оценка и диалог със съответната държава-членка.</td>
                </tr>
                <tr>
                    <td style="font-weight:bold;">Управляващ орган</td>
                    <td>Национален, регионален или местен публичен орган или организация или частна организация, която отговаря за управлението на оперативната програма в съответствие с принципа на доброто финансово управление.</td>
                </tr>
            </table>
        </div>
    </div>
</div>
