<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings>
      <add name="DbContext"
        connectionString="Data Source=%EUMIS_SQL_SERVER_IP%;Initial Catalog=dev-Suni;MultipleActiveResultSets=True;User Id=%EUMIS_SQL_SERVER_USER%;Password=%EUMIS_SQL_SERVER_PASS%;"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <add name="Logs1"
        connectionString="Data Source=%EUMIS_SQL_SERVER_IP%;Initial Catalog=dev-Suni.Logs1;MultipleActiveResultSets=True;User Id=%EUMIS_SQL_SERVER_USER%;Password=%EUMIS_SQL_SERVER_PASS%;"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
    <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <targets>
            <target name="errorfile" xdt:Locator="Match(name)">
                <target fileName="C:\Logs\Eumis.Web.Host\${date:format=dd.MM.yyyy}.txt" xdt:Transform="SetAttributes" />
            </target>
        </targets>
    </nlog>
    <appSettings>
        <add key="Eumis.Authentication:InstallationName" value="EumisTest"
             xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="Eumis.Authentication:Key" value="%EUMIS_PRIVATEAPP_DP_KEY%"
             xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="Eumis.Authentication:Preamble" value="%EUMIS_PRIVATEAPP_DP_PREAMBLE%"
             xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="Eumis.Authentication:ExternalClients" value="iacs_client,7eb57bb6-bcd8-4ff9-ae62-d6dc2a16e83e,iacs_service;"
             xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="Eumis.Web.Host:BlobServerLocation" value="https://testfilesnims.egov.bg/"
             xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="Eumis.Web.Host:InternalBlobServerLocation" value="https://testfilesnims.egov.bg/"
             xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="Eumis.Web.Host:BlobServerTokenLocation" value="https://testfilesnims.egov.bg/api/token"
             xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="Eumis.Web.Host:BlobServerCredentials" value="internal,%EUMIS_BLOBSERVERCREDENTIALS_SECRET%"
             xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="Eumis.Web.Host:ShowLanguageSwitcher" value="true"
             xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="Eumis.Web.Host:GoogleTrackingId" value="G-QKB15GPSEE"
             xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="Eumis.Web.Api:PortalLocationForIFrame" value="https://testenims.egov.bg"
             xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="Eumis.ApplicationServices:PortalLocationForAPIs" value="https://testenims.egov.bg"
             xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="Eumis.Web.Host:PublicUrl" value="http://test2020.eufunds.bg/"
             xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="Eumis.ApplicationServices:MonitorstatAPI" value="https://monitorstat-testinims.egov.bg/"
             xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="Eumis.ApplicationServices:RegixAPI" value="http://regix.testiumis2020.government.bg"
           xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    </appSettings>
    <system.web>
        <compilation xdt:Transform="RemoveAttributes(debug)" />
    </system.web>
</configuration>
