<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings>
        <add name="DbContext"
          connectionString="[specified during deploy]"
          xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <add name="Logs1"
          connectionString="[specified during deploy]"
          xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
    <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <targets>
            <target name="errorfile" xdt:Locator="Match(name)">
                <target fileName="[specified during deploy]" xdt:Transform="SetAttributes" />
            </target>
        </targets>
    </nlog>
    <appSettings>
        <add key="Eumis.Authentication:InstallationName" value="EumisCielaCI"
             xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="Eumis.Authentication:Key" value="%EUMIS_PRIVATEAPP_DP_KEY%"
             xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="Eumis.Authentication:Preamble" value="%EUMIS_PRIVATEAPP_DP_PREAMBLE%"
             xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="Eumis.Web.Host:BlobServerCredentials" value="internal,%EUMIS_BLOBSERVERCREDENTIALS_SECRET%"
             xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="Eumis.Web.Host:BlobServerLocation" value="[specified during deploy]"
             xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="Eumis.Web.Host:InternalBlobServerLocation" value="[specified during deploy]"
             xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="Eumis.Web.Host:BlobServerTokenLocation" value="[specified during deploy]"
             xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="Eumis.Web.Host:GoogleTrackingId" value="UA-122832469-2"
             xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="Eumis.Web.Api:PortalLocationForIFrame" value="[specified during deploy]"
             xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="Eumis.ApplicationServices:PortalLocationForAPIs" value="[specified during deploy]"
             xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    </appSettings>
    <system.web>
        <compilation xdt:Transform="RemoveAttributes(debug)" />
    </system.web>
</configuration>
