<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DbContext"
      connectionString="Data Source=%EUMIS_SQL_SERVER_IP%;Initial Catalog=LearnEumis;MultipleActiveResultSets=True;User Id=%EUMIS_SQL_SERVER_USER%;Password=%EUMIS_SQL_SERVER_PASS%;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="Logs1"
      connectionString="Data Source=%EUMIS_SQL_SERVER_IP%;Initial Catalog=LearnEumisLogs1;MultipleActiveResultSets=True;User Id=%EUMIS_SQL_SERVER_USER%;Password=%EUMIS_SQL_SERVER_PASS%;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="errorfile" xdt:Locator="Match(name)">
        <target fileName="C:\Logs\LearnEumis.Web.Host\${date:format=dd.MM.yyyy}.txt" xdt:Transform="SetAttributes" />
      </target>
    </targets>
  </nlog>
  <appSettings>
    <add key="Eumis.Authentication:InstallationName" value="EumisLearn"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Eumis.Authentication:Key" value="%EUMIS_PRIVATEAPP_DP_KEY%"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Eumis.Authentication:Preamble" value="%EUMIS_PRIVATEAPP_DP_PREAMBLE%"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Eumis.Authentication:ExternalClients" value="iacs_client,f05a8d3e-a5c5-465e-8746-7ba9b75aa693,iacs_service;"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Eumis.Web.Host:BlobServerLocation" value="https://learnfiles2020.government.bg/"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Eumis.Web.Host:InternalBlobServerLocation" value="https://learnfiles2020.government.bg/"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Eumis.Web.Host:BlobServerTokenLocation" value="https://learnfiles2020.government.bg/api/token"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Eumis.Web.Host:BlobServerCredentials" value="internal,%EUMIS_BLOBSERVERCREDENTIALS_SECRET%"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Eumis.Web.Host:ShowLanguageSwitcher" value="true"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Eumis.Web.Host:GoogleTrackingId" value="UA-122832469-3"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Eumis.Web.Api:PortalLocationForIFrame" value="https://learneumis2020.government.bg"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Eumis.ApplicationServices:PortalLocationForAPIs" value="https://learneumis2020.government.bg"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <system.webServer>
    <rewrite xdt:Transform="Insert">
      <rules>
        <rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" redirectType="Found" url="https://{HTTP_HOST}/{R:1}"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>