<ng-form name="reportForm" sc-validate="{}">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="well well-sm">
        <div class="row">
          <sc-field type="nomenclature" alias="'prognosisProgrammes'" mode="id" ng-model="filters.programmeId" params="{ readOnly: true }" ng-required="true" l10n-text="prognoses_programmeReport_programme" class="col-sm-8"></sc-field>
          <div class="labeless col-sm-4">
            <sc-button name="searchBtn" btn-click="search()" text="prognoses_programmeReport_search" class="btn btn-primary btn-sm" icon="glyphicon-search">
            </sc-button>
          </div>
        </div>
      </div>

      <div ng-show="isDataVisible">
        <sc-link-button ng-href="api/prognosisReports/programmePrognoses/excel?programmeId={{filters.programmeId}}" target="_blank" icon="fa-file-excel-o fa-lg fa-fw" style="margin-bottom:5px;"
              sc-access-token text="prognoses_programmeReport_excelExport" class="btn btn-primary btn-xs">
        </sc-link-button>

        <div class="tab-content">
          <div style="margin:15px;">
            <canvas id="line" class="chart chart-line" chart-data="chartData.data"
              chart-labels="chartData.labels" chart-legend="true" chart-series="chartData.series">
            </canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-form>
