<ng-form sc-validate="{}" sc-form-readonly>
  <div class="row">
    <sc-field type="text" ng-model="model.name" ng-required="true" l10n-text="expenseTypes_expenseTypeForm_name" class="col-sm-8 col-md-5"></sc-field>
    <sc-field type="text" ng-model="model.nameAlt" l10n-text="expenseTypes_expenseTypeForm_nameAlt" class="col-sm-8 col-md-5"></sc-field>
    <sc-field type="nomenclature" ng-readonly="true" ng-required="true" alias="'boolean'" ng-model="model.isActive" mode="id" l10n-text="expenseTypes_expenseTypeForm_isActive" class="col-sm-4 col-md-2"></sc-field>
  </div>
</ng-form>
