<ng-form sc-validate="{}" sc-form-readonly>
  <div class="row">
    <sc-field type="text" ng-disabled="true" ng-required="true" ng-model="model.email" l10n-text="contractRegistrations_contractRegistrationDataForm_email" class="col-sm-4 col-md-3">
    </sc-field>
  </div>
  <div class="row">
    <sc-field type="nomenclature" alias="'personalUinTypes'" mode="id" ng-disabled="true" ng-required="true" ng-model="model.uinType" l10n-text="contractRegistrations_contractRegistrationDataForm_uinType" class="col-sm-4 col-md-3"></sc-field>
  </div>
  <div class="row">
    <sc-field type="text" ng-disabled="true" ng-required="true" ng-model="model.uin" l10n-text="contractRegistrations_contractRegistrationDataForm_uin" class="col-sm-4 col-md-3"></sc-field>
  </div>
  <div class="row">
    <sc-field type="text" ng-required="true" ng-model="model.firstName" l10n-text="contractRegistrations_contractRegistrationDataForm_firstName" class="col-sm-4 col-md-3"></sc-field>
  </div>
  <div class="row">
    <sc-field type="text" ng-required="true" ng-model="model.lastName" l10n-text="contractRegistrations_contractRegistrationDataForm_lastName" class="col-sm-4 col-md-3"></sc-field>
  </div>
  <div class="row">
    <sc-field type="text" ng-model="model.phone" l10n-text="contractRegistrations_contractRegistrationDataForm_phone" class="col-sm-4 col-md-3"></sc-field>
  </div>
</ng-form>
