<div class="tab-content">
  <ng-form name="editDeclarationForm" sc-validate="{}" sc-form-readonly="!editMode">
    <div class="panel panel-default">
      <div class="panel-heading">

        <strong class="heading" l10n-text="declarations_editForm_title"></strong>

        <div class="pull-right">
          <sc-button name="editBtn" btn-click="edit()" text="declarations_editForm_edit" class="btn btn-primary btn-xs" icon="glyphicon-edit" ng-show="declaration.status === 'draft' && !editMode"
                     ng-disabled="!$canDo('DeclarationActions.Edit', declaration.declarationId)">
          </sc-button>
          <sc-button name="publishBtn" btn-click="publish()" text="declarations_editForm_publish" class="btn btn-primary btn-xs" icon="glyphicon-upload" ng-show="declaration.status === 'draft' && !editMode"
                     ng-disabled="!$canDo('DeclarationActions.Edit', declaration.declarationId)">
          </sc-button>
          <sc-button name="deleteBtn" btn-click="del()" text="declarations_editForm_delete" class="btn btn-danger btn-xs" icon="glyphicon-remove" ng-show="declaration.status === 'draft' && !editMode"
                     ng-disabled="!$canDo('DeclarationActions.Edit', declaration.declarationId)">
          </sc-button>
          <sc-button name="archiveBtn" btn-click="archive()" text="declarations_editForm_archive" class="btn btn-danger btn-xs" ng-show="declaration.status === 'published'"
                     ng-disabled="!$canDo('DeclarationActions.Edit', declaration.declarationId)">
          </sc-button>
          <sc-button name="saveBtn" btn-click="save()" text="declarations_editForm_save" class="btn btn-primary btn-xs" icon="glyphicon-floppy-disk" ng-show="editMode">
          </sc-button>
          <sc-button name="cancelBtn" btn-click="cancel()" text="declarations_editForm_cancel" class="btn btn-default btn-xs" icon="glyphicon-ban-circle" ng-show="editMode">
          </sc-button>

        </div>
      </div>

      <div class="well-sm panel-body">
        <eumis-declaration-data name="declarationForm" ng-model="declaration"></eumis-declaration-data>
      </div>
    </div>
  </ng-form>
</div>
