<ng-form sc-validate="{}" sc-form-readonly>
  <div class="row">
    <sc-field type="text" ng-model="model.shortName" ng-required="true" l10n-text="measures_measureForm_shortName" class="col-sm-3 col-md-2"></sc-field>
    <sc-field type="text" ng-model="model.name"  ng-required="true" l10n-text="measures_measureForm_name" class="col-sm-3 col-md-2"></sc-field>
    <sc-field type="text" ng-model="model.nameAlt" l10n-text="measures_measureForm_nameAlt" class="col-sm-3 col-md-2"></sc-field>
  </div>
</ng-form>
