<div class="form-toggle">
    <img src="@Links.Content.img.icons.eco_tree_png" data-placement="right" data-toggle="popover" data-content="@Global.EcoNotification" data-trigger="hover" class="info-icon" style="padding-top:5px;height: 33px; margin-right:5px; margin-left:-5px;" />
    <button type="button" class="form-collapse" style="display: none;">
        <span class="glyphicon glyphicon-minus"></span>
        @Global.ButtonCollapseAll
    </button>
    <button type="button" class="form-expand">
        <span class="glyphicon glyphicon-plus"></span>
        @Global.ButtonExpandAll
    </button>
</div>