<div class="loader" style="display:block;">
    <div>
        <span></span>
        <br>
        <label id="please-wait" style="display:none;">@Global.PleaseWait</label>
        <label id="loading">@Global.Loading</label>
    </div>
</div>