<ng-form name="viewCSDBudgetItemForm" sc-validate="{}" sc-form-readonly>
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong class="heading" l10n-text="contractReportFinancialCorrections_contractReportFinancialCorrectionsCSDsView_title"></strong>
    </div>

    <div class="well-sm panel-body">
      <eumis-contract-report-financial-cost-supporting-document-budget-item name="contractReportFinancialCSDBudgetItemForm" ng-model="CSDBudgetItem" sc-form-readonly="true"></eumis-contract-report-financial-cost-supporting-document-budget-item>
    </div>
  </div>
</ng-form>