<ng-form name="editProcedureMassCommunicationsForm" sc-validate="{}" sc-form-readonly="!editMode">
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong class="heading" l10n-text="procedureMassCommunications_procedureMassCommunicationsEdit_title"></strong>
      <div class="pull-right">
        <sc-button name="editBtn" btn-click="edit()" text="procedureMassCommunications_procedureMassCommunicationsEdit_edit" class="btn btn-primary btn-xs" icon="glyphicon-pencil" ng-show="!editMode && procedureMassCommunication.status === 'draft'"></sc-button>
        <sc-button name="saveBtn" ng-show="editMode" btn-click="save()" text="procedureMassCommunications_procedureMassCommunicationsEdit_save" class="btn btn-primary btn-xs" icon="glyphicon-floppy-disk">
        </sc-button>
        <sc-button name="sendBtn" ng-if="procedureMassCommunication.status === 'draft'" ng-show="!editMode" btn-click="send()" text="procedureMassCommunications_procedureMassCommunicationsEdit_send" class="btn btn-success btn-xs" icon="glyphicon-share">
        </sc-button>
        <sc-button name="deleteBtn" ng-if="procedureMassCommunication.status === 'draft'" ng-show="!editMode" btn-click="delete()" text="procedureMassCommunications_procedureMassCommunicationsEdit_delete" class="btn btn-danger btn-xs" icon="glyphicon-remove">
        </sc-button>
        <sc-button name="cancelBtn" ng-show="editMode" btn-click="cancel()" text="procedureMassCommunications_procedureMassCommunicationsEdit_cancel" class="btn btn-default btn-xs" icon="glyphicon-ban-circle">
        </sc-button>
      </div>
    </div>
    <div class="well-sm panel-body">
      <eumis-mass-communication name="procedureMassCommunicationsForm" ng-model="procedureMassCommunication"></eumis-mass-communication>
    </div>
  </div>
</ng-form>
