<ng-form name="editProcedureMassCommunicationDocumentsForm" sc-validate="{}" sc-form-readonly="!editMode">
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong class="heading" l10n-text="procedureMassCommunications_procedureMassCommunicationDocumentsEdit_title"></strong>
      <div class="pull-right">
        <sc-button ng-if="status === 'draft'" name="editBtn" btn-click="edit()" text="procedureMassCommunications_procedureMassCommunicationDocumentsEdit_edit" class="btn btn-primary btn-xs" icon="glyphicon-pencil" ng-show="!editMode && status === 'draft'"></sc-button>
        <sc-button ng-if="status === 'draft'" name="deleteBtn" btn-click="deleteDocument()" text="actuallyPaidAmounts_editPaidAmountDocument_deleteDocument" class="btn btn-danger btn-xs" icon="glyphicon-remove" ng-show="!editMode && status === 'draft'"
            ng-disabled="!$canDo('ProcedureMassCommunicationActions.Edit', procedureMassCommunicationDocument.communicationId)">
        </sc-button>
        <sc-button ng-if="status === 'draft'" name="saveBtn" btn-click="save()" text="procedureMassCommunications_procedureMassCommunicationDocumentsEdit_save" class="btn btn-primary btn-xs" icon="glyphicon-floppy-disk" ng-show="editMode">
        </sc-button>
        <sc-button name="cancelBtn" btn-click="cancel()" text="procedureMassCommunications_procedureMassCommunicationDocumentsEdit_cancel" ng-show="editMode" class="btn btn-default btn-xs" icon="glyphicon-ban-circle">
        </sc-button>
      </div>
    </div>
    <div class="well-sm panel-body">
      <eumis-document name="procedureMassCommunicationDocumentsForm" ng-model="procedureMassCommunicationDocument" sc-form-params="{ urlTemplate: 'ProcedureMassCommunicationFile', urlParamsId: procedureMassCommunicationDocument.procedureMassCommunicationId}"></eumis-document>
    </div>
  </div>
</ng-form>
