<div class="tab-content">
  <ng-form name="newProcedureMassCommunicationForm" sc-validate="{}" >
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong class="heading" l10n-text="procedureMassCommunications_procedureMassCommunicationsNew_title"></strong>
        <div class="pull-right">
          <sc-button name="saveBtn" btn-click="save()" text="procedureMassCommunications_procedureMassCommunicationsNew_save" class="btn btn-primary btn-xs" icon="glyphicon-edit">
          </sc-button>
          <sc-button name="cancelBtn" btn-click="cancel()" text="procedureMassCommunications_procedureMassCommunicationsNew_cancel" class="btn btn-default btn-xs" icon="glyphicon-ban-circle">
          </sc-button>
        </div>
      </div>
      <div class="well-sm panel-body">
        <eumis-mass-communication name="procedureMassCommunicationForm" ng-model="procedureMassCommunication"></eumis-mass-communication>
      </div>
    </div>
  </ng-form>
</div>
