<ng-form name="viewContractReportIndicatorForm" sc-validate="{}" sc-form-readonly>
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong class="heading" l10n-text="contractReportTechnicalCorrections_contractReportTechnicalCorrectionsIndicatorsView_title"></strong>
    </div>

    <div class="well-sm panel-body">
      <eumis-contract-report-indicator name="contractReportIndicatorForm" ng-model="contractReportIndicator" sc-form-readonly="true"></eumis-contract-report-indicator>
    </div>
  </div>
</ng-form>