<div class="panel panel-default">
  <div class="panel-body">
    <sc-datatable items="contractReportIndicators" filterable="true" pageable="true" sortable="true" dynamic-columns="false" scrollable="false">
      <sc-column sortable="false" class="buttons-cell" has-content="true">
        <sc-button name="correctBtn" btn-click="correctIndicator(item.contractReportIndicatorId)" class="btn btn-xs btn-primary" icon="glyphicon-pencil"
          ng-disabled="!$canDo('ContractReportTechnicalCorrectionActions.Edit', contractReportTechnicalCorrectionId)" ng-if="contractReportTechnicalCorrectionStatus === 'draft'"></sc-button>

        <sc-button name="viewBtn" btn-sref="{ state: 'root.contractReportTechnicalCorrections.view.indicators.view', params: { ind: item.contractReportIndicatorId } }" class="btn btn-xs btn-primary" icon="glyphicon-eye-open"
          ng-disabled="!$canDo('ContractReportTechnicalCorrectionActions.View', contractReportTechnicalCorrectionId)"></sc-button>
      </sc-column>
      <sc-column data="indicatorName" title="contractReportTechnicalCorrections_contractReportTechnicalCorrectionsIndicatorsSearch_indicator"></sc-column>

      <sc-column data="status" title="contractReportTechnicalCorrections_contractReportTechnicalCorrectionsIndicatorsSearch_status"></sc-column>
      <sc-column data="approval" title="contractReportTechnicalCorrections_contractReportTechnicalCorrectionsIndicatorsSearch_approval" type="boolean"></sc-column>

      <sc-column data="periodAmount" title="contractReportTechnicalCorrections_contractReportTechnicalCorrectionsIndicatorsSearch_periodAmount"
        col-group="contractReportTechnicalCorrections_contractReportTechnicalCorrectionsIndicatorsSearch_indicatorAmount" type="money"></sc-column>
      <sc-column data="cumulativeAmount" title="contractReportTechnicalCorrections_contractReportTechnicalCorrectionsIndicatorsSearch_cumulativeAmount"
        col-group="contractReportTechnicalCorrections_contractReportTechnicalCorrectionsIndicatorsSearch_indicatorAmount" type="money"></sc-column>
      <sc-column data="residueAmount" title="contractReportTechnicalCorrections_contractReportTechnicalCorrectionsIndicatorsSearch_residueAmount"
        col-group="contractReportTechnicalCorrections_contractReportTechnicalCorrectionsIndicatorsSearch_indicatorAmount" type="money"></sc-column>

      <sc-column data="approvedPeriodAmount" title="contractReportTechnicalCorrections_contractReportTechnicalCorrectionsIndicatorsSearch_periodAmount"
        col-group="contractReportTechnicalCorrections_contractReportTechnicalCorrectionsIndicatorsSearch_approvedAmount" type="money"></sc-column>
      <sc-column data="approvedCumulativeAmount" title="contractReportTechnicalCorrections_contractReportTechnicalCorrectionsIndicatorsSearch_cumulativeAmount"
        col-group="contractReportTechnicalCorrections_contractReportTechnicalCorrectionsIndicatorsSearch_approvedAmount" type="money"></sc-column>
      <sc-column data="approvedResidueAmount" title="contractReportTechnicalCorrections_contractReportTechnicalCorrectionsIndicatorsSearch_residueAmount"
        col-group="contractReportTechnicalCorrections_contractReportTechnicalCorrectionsIndicatorsSearch_approvedAmount" type="money"></sc-column>
    </sc-datatable>
  </div>
</div>