<div class="tab-content">
  <ng-form name="editProjectManagingAuthorityCommunicationsForm" sc-validate="{}" sc-form-readonly="!editMode">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong class="heading" l10n-text="projectManagingAuthorityCommunications_communicationsEdit_title"></strong>
        <div class="pull-right">
          <sc-button name="backBtn" btn-click="back()" text="projectManagingAuthorityCommunications_communicationsEdit_back" class="btn btn-primary btn-xs" icon="glyphicon-arrow-left">
          </sc-button>
        </div>
      </div>

      <div class="well-sm panel-body"  ng-class="{'deactivated-panel-body' : projectRegistrationCommunication.status === 'canceled' }">
        <eumis-project-registration-communication-data name="projectManagingAuthorityCommunicationsForm" ng-model="projectManagingAuthorityCommunication"></eumis-project-registration-communication-data>

        <div class="row">
          <eumis-structured-document text="projectManagingAuthorityCommunications_communicationsEdit_questionTemplate" document="projectManagingAuthorityCommunicationQuestion" gid="projectManagingAuthorityCommunication.xmlGid"
            view-mode class="col-sm-4 col-md-3">
          </eumis-structured-document>
        </div>

        <div class="row">
          <div class="mutiple-tables-spacing"></div>

          <div class="col-sm-12">
            <div>
              <h5 class="table-header table-header-first pull-left" l10n-text="projectManagingAuthorityCommunications_communicationsEdit_answers"></h5>
            </div>
            <sc-datatable items="projectCommunicationAnswers" filterable="true" pageable="true" sortable="true" dynamic-columns="true" has-info-text="true" row-class="{'deactivated-table-row' : item.status === 'canceled'}">
              <sc-column sortable="false" class="buttons-cell" has-content="true">
                <sc-button name="editBtn" btn-sref="{ state: 'root.projectCommunications.edit.answers.edit', params: { id: item.projectCommunicationId, ind: item.projectCommunicationAnswerId } }" class="btn btn-xs btn-primary" icon="glyphicon-pencil"
                           ng-disabled="!$canDo('ProjectManagingAuthorityCommunicationActions.View', projectCommunicationId)"></sc-button>
              </sc-column>
              <sc-column data="source" title="projectManagingAuthorityCommunications_communicationsEdit_source">
              </sc-column>
              <sc-column data="statusDescr" title="projectManagingAuthorityCommunications_communicationsEdit_status">
              </sc-column>
              <sc-column data="answerDate" title="projectManagingAuthorityCommunications_communicationsEdit_answerDate" type="date">
              </sc-column>
              <sc-column sortable="false" title="projectManagingAuthorityCommunications_communicationsEdit_preview" has-content="true">
                <a target="_blank" ng-href="{{item.viewXmlUrl}}" sc-access-token>
                  <span class="glyphicon glyphicon-file"></span>
                </a>
              </sc-column>
            </sc-datatable>
          </div>
        </div>
      </div>
    </div>
  </ng-form>
</div>
