<div class="panel panel-default">
  <div class="panel-body">
    <div class="well well-sm">
      <div class="row">
        <sc-field type="nomenclature" ng-model="filters.programmeId" alias="'programmes'" mode="id" l10n-text="projectManagingAuthorityCommunications_communicationsSearch_programme" ng-required="true" class="col-sm-5"></sc-field>
        <sc-field type="nomenclature" ng-model="filters.programmePriorityId" alias="'programmePriorities'" mode="id" params="{ programmeId: filters.programmeId }" l10n-text="projectManagingAuthorityCommunications_communicationsSearch_programmePriority" class="col-sm-5"></sc-field>
      </div>
      <div class="row">
        <sc-field type="nomenclature" ng-model="filters.procedureId" alias="'procedures'" mode="id" params="{ programmePriorityId: filters.programmePriorityId }" l10n-text="projectManagingAuthorityCommunications_communicationsSearch_procedure" class="col-sm-5"></sc-field>
        <sc-field type="date" ng-model="filters.fromDate" l10n-text="projectManagingAuthorityCommunications_communicationsSearch_fromDate" class="col-sm-2"></sc-field>
        <sc-field type="date" ng-model="filters.toDate" l10n-text="projectManagingAuthorityCommunications_communicationsSearch_toDate" class="col-sm-2"></sc-field>
        <sc-field type="nomenclature" ng-model="filters.source" alias="'projectManagingAuthorityCommunicationSources'" mode="id" l10n-text="projectManagingAuthorityCommunications_communicationsSearch_source" class="col-sm-2"></sc-field>
        <div class="labeless col-sm-3">
          <sc-button name="seachBtn" btn-click="search()" text="projectManagingAuthorityCommunications_communicationsSearch_search" class="btn btn-default btn-sm pull-right" icon="glyphicon-search"></sc-button>
        </div>
      </div>
    </div>

    <sc-link-button ng-href="{{projectCommunicationsExportUrl}}" target="_blank" sc-access-token style="margin-left: 3px;"
      icon="fa-file-excel-o fa-lg fa-fw" text="projectManagingAuthorityCommunications_communicationsSearch_excelExport" class="btn btn-default btn-sm pull-left"></sc-link-button>

    <sc-datatable items="projectManagingAuthorityCommunications" filterable="true" pageable="true" sortable="true" dynamic-columns="true" row-class="{'deactivated-table-row' : item.status === 'canceled'}">
      <sc-column sortable="false" class="buttons-cell" has-content="true">
        <sc-button name="editBtn" btn-sref="{ state: 'root.projectCommunications.edit', params: { id: item.projectCommunicationId } }" class="btn btn-xs btn-primary" icon="glyphicon-pencil"
                   ng-disabled="!$canDo('ProjectManagingAuthorityCommunicationActions.View', item.projectCommunicationId)"></sc-button>
      </sc-column>
      <sc-column data="questionSendDate" title="projectManagingAuthorityCommunications_communicationsSearch_questionSendDate" type="datetime">
      </sc-column>
      <sc-column data="questionReadDate" title="projectManagingAuthorityCommunications_communicationsSearch_questionReadDate" type="datetime">
      </sc-column>
      <sc-column data="answerDate" title="projectManagingAuthorityCommunications_communicationsSearch_answerDate" type="datetime">
      </sc-column>
      <sc-column data="projectRegNumber" title="projectManagingAuthorityCommunications_communicationsSearch_projectRegNumber">
      </sc-column>
      <sc-column data="statusDescr" title="projectManagingAuthorityCommunications_communicationsSearch_status">
      </sc-column>
      <sc-column data="source" title="projectManagingAuthorityCommunications_communicationsSearch_source">
      </sc-column>
      <sc-column data="regNumber" title="projectManagingAuthorityCommunications_communicationsSearch_regNumber">
      </sc-column>
      <sc-column data="subject" title="projectManagingAuthorityCommunications_communicationsSearch_subject">
      </sc-column>
    </sc-datatable>
  </div>
</div>
