<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.9.4.0" newVersion="4.9.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac.Integration.WebApi" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.1.0" newVersion="4.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac.Integration.Owin" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <appSettings>
    <add key="owin:appStartup" value="Eumis.IntegrationRegiX.Host.Startup, Eumis.IntegrationRegiX.Host" />
    <add key="Eumis.Authentication:InstallationName" value="Eumis" />
    <add key="Eumis.Authentication:Key" value="SomeKey" />
    <add key="Eumis.Authentication:Preamble" value="SomePreamble" />
    <add key="Eumis.IntegrationMonitorstat.Host:Clients" value="internal,asdf;" />
    <add key="Eumis.IntegrationMonitorstat.Host:OAuthTokenExpirationMinutes" value="60" />
    <add key="Eumis.IntegrationMonitorstat.Host:OAuthAllowInsecureHttp" value="true" />
    <add key="Eumis.IntegrationMonitorstat.Host:EnableOAuthAuthorizationServer" value="true" />
    <add key="Eumis.IntegrationRegiX.Host:AdministrationName" value="Информационната система за управление и наблюдение на средствата от ЕСИФ - ИСУН" />
    <add key="Eumis.IntegrationRegiX.Host:AdministrationOId" value="2.16.100.1.1.43.1.5" />
    <add key="Eumis.IntegrationRegiX.Host:EmployeeIdentifier" value="НП" />
    <add key="Eumis.IntegrationRegiX.Host:EmployeeNames" value="Иван Иванов Иванов" />
    <add key="Eumis.IntegrationRegiX.Host:EmployeePosition" value="Служител на контролен орган" />
    <add key="Eumis.IntegrationRegiX.Host:LawReason" value="чл. 21, ал. 1 от Закона за управление на средствата от Европейските структурни и инвестиционни фондове (ЗУСЕСИФ)" />
    <add key="Eumis.IntegrationRegiX.Host:Remark" value="НП" />
    <add key="Eumis.IntegrationRegiX.Host:ServiceType" value="За друга причина за използване: Е-услуги чрез ИСУН" />
    <add key="Eumis.IntegrationRegiX.Host:ServiceURI" value="123-01.11.2019" />
  </appSettings>

<system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IRegiXEntryPoint" maxReceivedMessageSize ="100000000">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" />
          </security>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IRegiXEntryPoint" maxReceivedMessageSize ="100000000">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="RegiXClientCertificate">
          <clientCredentials>
            <clientCertificate x509FindType="FindByThumbprint"
                               storeLocation="LocalMachine"
                               storeName="My"
                               findValue="e76e5ce8c56de24f8a22cba413bb30a7878af6dc" />
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="https://regix-service-test.egov.bg/RegiX/RegiXEntryPoint.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IRegiXEntryPoint" contract="RegixService.IRegiXEntryPoint" name="WSHttpBinding_IRegiXEntryPoint" behaviorConfiguration="RegiXClientCertificate"/>
      <endpoint address="https://regix-service-test.egov.bg/RegiX/RegiXEntryPoint.svc/basic" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRegiXEntryPoint" contract="RegixService.IRegiXEntryPoint" name="BasicHttpBinding_IRegiXEntryPoint" />
    </client>
  </system.serviceModel>
<system.codedom>
<compilers>
<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
</compilers>
</system.codedom>
<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer></configuration>
