<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Eumis.Authentication:Key" value="%EUMIS_PRIVATEAPP_DP_KEY%"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Eumis.Authentication:Preamble" value="%EUMIS_PRIVATEAPP_DP_PREAMBLE%"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Eumis.IntegrationMonitorstat.Host:Clients" value="internal,%EUMIS_INTEGRATIONSERVERCREDENTIALS_SECRET%"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior>
          <clientCredentials>
            <clientCertificate x509FindType="FindByThumbprint"
                               storeLocation="LocalMachine"
                               storeName="My"
                               findValue="742f130cb2b231a37dce26392b19c6e62085f8c4"
                               xdt:Transform="SetAttributes"
                               xdt:Locator="Match(x509FindType)"/>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="https://regix-service.egov.bg/RegiX/RegiXEntryPoint.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IRegiXEntryPoint" contract="RegixService.IRegiXEntryPoint" name="WSHttpBinding_IRegiXEntryPoint" behaviorConfiguration="RegiXClientCertificate" xdt:Transform="SetAttributes" xdt:Locator="Match(binding)" />
      <endpoint address="https://regix-service.egov.bg/RegiX/RegiXEntryPoint.svc/basic" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRegiXEntryPoint" contract="RegixService.IRegiXEntryPoint" name="BasicHttpBinding_IRegiXEntryPoint" xdt:Transform="SetAttributes" xdt:Locator="Match(binding)"/>
    </client>
  </system.serviceModel>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>
